<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>预案生成</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body class="hide">
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <!-- <h1><a href="#">洪涝预案</a></h1> -->
        </div>
        <!-- 		<div id="menu">
        <ul>
            <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
            <li><a href="#" accesskey="2" title="">Our Clients</a></li>
            <li><a href="#" accesskey="3" title="">About Us</a></li>
            <li><a href="#" accesskey="4" title="">Careers</a></li>
            <li><a href="#" accesskey="5" title="">Contact Us</a></li>
        </ul>
    </div> -->
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer-content">
        <h2><span>公共卫生事件预案</span> </h2>
        <div class="cont">


            <!--            断点合肥-->
            <p class="one c" data-c='88_1'>1 总则</p>
            <p class="two c" data-c='88_1_1'>1.1 编制目的和依据</p>
            <p class=" c" data-c="88_1_1">
                为指导和规范全市突发公共卫生事件应对工作，有效预防、及时控制或最大程度地减轻突发公共卫生事件对公众造成的危害，保障公众身心健康与生命安全，依据
                <modify class="update">
                    《中华人民共和国突发事件应对法》、《中华人民共和国传染病防治法》、《中华人民共和国食品安全法》、《中华人民共和国职业病防治法》、《突发公共卫生事件应急条例》、《安徽省突发事件应对条例》、《安徽省突发公共卫生事件应急预案》和《合肥市突发事件总体应急预案》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的预案">?</span>
                等规定，结合本市实际，制定本预案。
            </p>


            <p class="two c" data-c='88_1_2'>1.2 事件分级</p>
            <p class=" c" data-c="88_1_">
                根据突发公共卫生事件性质、危害程度和涉及范围，突发公共卫生事件划分为特别重大、重大、较大和一般四级。
            </p>
            <p class="two c" data-c='88_1_3'>1.3 适用范围 </p>
            <p class=" c" data-c="88_1_3">
                本预案适用于突然发生，造成或者可能造成严重损害本市社会公众健康的较大及以上级别传染病、食品安全事故、群体性不明原因疾病等公共卫生事件的应对工作。
            </p>
            <p class=" c" data-c="88_1_3">
                因其他突发事件导致人员伤亡、健康危害的医疗卫生救援工作，另行编制
                <modify class="update">
                    《合肥市突发事件医疗卫生救援应急预案》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                予以规定。
            </p>
            <p class="two c" data-c='88_1_4'>1.4 工作原则 </p>
            <p class=" c" data-c="88_1_4">
                本市突发公共卫生事件应对工作坚持预防为主、常备不懈；统一领导、多方协作；依法应对、广泛参与；依靠科学、高效处置的原则。
            </p>
            <p class="one c" data-c='88_2'>2 组织体系 </p>
            <p class="two c" data-c='88_2_1'>2.1 应急指挥机构 </p>
            <p class=" c" data-c="88_2_1">
                市政府成立突发公共卫生事件应急指挥部（以下简称市指挥部），统一组织、指挥、协调全市突发公共卫生事件应对工作。指挥长由分管卫生工作的副市长担任，必要时由市长担任，副指挥长由市政府联系卫生计生工作的副秘书长和市卫计委主任担任。
            </p>
            <p class=" c" data-c="88_2_1">
                市指挥部成员单位由市政府办公厅（市政府应急办）、市卫计委、市政府新闻办、市教育局、市公安局、市民政局、市人社局、市交通局、市商务局、市环保局、市外办、市工商局、市食药监局、市物价局、市旅游局、市农委、市畜水局、市林园局、市红十字会、
                <modify class="update">
                    武警合肥支队、安徽出入境检验检疫局合肥机场办事处、合肥出入境检验检疫局
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                等单位组成。必要时，可及时将相关单位纳入市指挥部。
            </p>
            <p class=" c" data-c="88_2_1">
                市指挥部下设办公室，办公室设在市卫计委，办公室主任由市卫计委分管副主任担任。主要职责：负责市指挥部日常工作；建立与完善监测和预警系统；制订和修订应急预案，组织预案演练；组织对专业人员的应急知识和处置技术的培训；承办救灾、反恐、中毒、放射事故等较大安全事件中涉及公共卫生问题的组织协调等工作。县（市、区）人民政府根据实际需要，成立本地区突发公共卫生事件应急指挥机构，负责组织、指挥、协调本行政区域内突发公共卫生事件应对工作。
            </p>
            <p class="two c" data-c='88_2_2'>2.2 市指挥部成员单位职责 </p>
            <p class=" c" data-c="88_2_2">
                市政府办公厅（市政府应急办）：负责突发事件的信息管理工作, 报告突发事件发生、发展和处置情况，传达上级决策部署和领导的指示、批示；请示市政府启动相关专项应急预案；统筹应急资源，调度各方力量开展应急救援工作；参与现场应急指挥。
            </p>
            <p class=" c" data-c="88_2_2">
                市卫计委：组织制定突发公共卫生事件防控技术方案；组织实施各项预防控制措施和应急医疗救治；提出启动和终止应急响应的建议；根据预防控制工作需要，依法提出隔离、封锁有关地区的建议；会同宣传部门依法及时发布突发公共卫生事件信息；组织全社会开展爱国卫生运动，统筹协调应急储备物资的购置和调拨等。
            </p>
            <p class=" c" data-c="88_2_2">
                市政府新闻办：组织安排突发公共卫生事件及应急处置情况的对外信息发布，必要时组织新闻发布会；密切监测舆情，主动引导舆论。
            </p>
            <p class=" c" data-c="88_2_2">
                市教育局：组织实施各类学校、托幼机构突发公共卫生事件控制措施，加强在校学生、教职工的宣传教育和自我防护工作，防止突发公共卫生事件在学校、托幼机构内发生或事态扩大。
            </p>
            <p class=" c" data-c="88_2_2">
                市公安局：密切关注与疫情有关的社会治安动态，依法查处打击违法犯罪活动，维护社会稳定；协助卫生计生行政部门依法做好强制隔离等相关应急处置工作。市民政局：组织做好受影响群众的转移安置和生活救助。组织、协调有关部门和社会组织开展社会捐助工作，接受、分配国内外企业、个人以及外国政府、境外组织捐助的资金和物资，做好款物管理和发放工作。对符合条件的困难群众给予最低生活保障、医疗救助和临时救助。组织和动员社区（村委会）力量，参与群防群治。协调做好死亡人员的火化和其他善后工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市人社局：负责按照工伤保险政策有关规定，落实参与突发公共卫生事件应急处置工作人员的工伤保险待遇。
            </p>
            <p class=" c" data-c="88_2_2">
                市交通局：协助卫生计生行政部门对乘坐公路、水路交通工具的人员进行检疫、查验工作，防止传染病通过交通运输环节传播。保障突发公共卫生事件处置人员以及防治药品、医疗器械等急用物资和有关标本的运送，做好疫区水上交通管理，协助交警部门做好疫区道路交通管理工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市商务局：组织生活必需品的市场供应，维护市场秩序；协助做好参加外经贸活动人员的宣传、登记、观察工作，防止突发公共卫生事件跨地区传播扩散。
            </p>
            <p class=" c" data-c="88_2_2">
                市环保局：负责组织环境质量监测与环境保护监督执法，维护环境安全。
            </p>
            <p class=" c" data-c="88_2_2">
                市外办：负责突发公共卫生事件应急处置的涉外事务，协助卫生计生部门接待国际组织考察，争取国际援助等方面工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市工商局：负责对突发公共卫生事件相关产品的市场监管工作，维护市场秩序。根据需要，对导致突发公共卫生事件发生的经营行为采取临时管理措施。
            </p>
            <p class=" c" data-c="88_2_2">
                市食药监局：负责应急药品和试剂储备。做好突发公共卫生事件应急处置食品、药品、医疗器械质量安全的监督和管理工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市物价局：保障应急物资市场物价基本稳定。
            </p>
            <p class=" c" data-c="88_2_2">
                市旅游局：指导督促旅游行业做好突发公共卫生事件的预防和应急处置工作；必要时协助卫生计生部门做好旅游团队及人员的宣传、登记、观察工作；及时接收、发布国家和市旅游局及卫生计生部门的警示信息，有针对性的做好有关工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市农委、市畜水局、市林园局：负责动物人畜共患传染病的防治工作，开展与人类接触密切的动物相关传染病的监测、调查和应急处置等工作；组织开展野生动物疫病的监测、基础调查和样品采集及保存工作；在突发公共卫生事件发生期间，组织做好快速隔离、病样采集等工作，组织专家分析和提出有关野生动物活动范围和趋势等预警信息。
            </p>
            <p class=" c" data-c="88_2_2">
                市红十字会：组织群众开展现场自救和互救；依法接受国内外组织和个人的捐赠，提供急需的人道主义援助。
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    武警合肥支队：
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                组织指挥武警部队参与突发公共卫生事件的应急处置行动，配合公安机关做好事件现场的控制工作。
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    安徽出入境检验检疫局合肥机场办事处、合肥出入境检验检疫局：负责口岸出入境交通工具及人员检疫查验、核生化有害因子监测，出入境人员传染病防控；负责口岸食品生产经营、餐饮单位及生活饮用水、公共场所卫生监督。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>

            </p>
            <p class="two c" data-c='88_2_3'>2.3 市指挥部工作组 </p>
            <p class=" c" data-c="88_2_3">
                根据应急处置的实际需要，市指挥部成立若干工作组：
            </p>
            <p class=" c" data-c="88_2_3">
                （1）综合协调组：由市政府办公厅牵头，市卫计委参加。根据事件性质和级别，组织相关部门人员参加；负责信息管理和综合协调工作，办理涉外事务，保障指挥部运转；负责召集组织会议和重要工作的督办。
            </p>
            <p class=" c" data-c="88_2_3">
                (2）医疗防控组：由市卫计委牵头，市食药监局、市农委、市畜水局、市林园局、市红十字会等单位和
                <modify class="update">
                    安徽出入境检验检疫局合肥机场办事处、合肥出入境检验检疫局参加
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                负责疾病控制、医疗救治、心理援助、开展爱国卫生运动和动物间疫情控制等工作。
            </p>
            <p class=" c" data-c="88_2_3">
                （3）后勤保障组：由市商务局牵头，市食药监局、市工商局等单位参加。负责适时动用市级储备物资，保障市场供应和物价稳定，维护市场秩序，加强质量监控。
            </p>
            <p class=" c" data-c="88_2_3">
                （4）交通保障组：由市交通局牵头，市公安局、铁路、民航等单位参加。负责交通保障工作，确保突发公共卫生事件处置人员以及防治药品和器械等物资的运送。
            </p>
            <p class=" c" data-c="88_2_3">
                （5）治安保障组：由市公安局牵头，武警合肥市支队等单位参加。负责做好疫区和控制区域的隔离工作，做好事发地安全保卫和社会治安管理，查处打击违法犯罪活动，维护社会稳定。
            </p>
            <p class=" c" data-c="88_2_3">
                （6）人员安置组：由市民政局牵头，市公安局、市交通局等单位参加。负责人员紧急疏散和安置工作，必要时采取强制疏散措施，并保证被疏散人员的基本生活。
            </p>
            <p class=" c" data-c="88_2_3">
                （7）新闻宣传组：由市政府新闻办牵头，市卫计委、市食药监局等单位参加。设立新闻发言人，适时向媒体发布事件进展和处置情况，做好舆论引导工作，同时组织新闻媒体向公众宣传自救防护等知识。
            </p>
            <p class=" c" data-c="88_2_3">
                根据需要，市指挥部可以增设其他工作组。
            </p>

            <p class="two c" data-c='88_2_4'>2.4 专家咨询委员会</p>
            <p class=" c" data-c="88_2_4">
                市卫计委负责组建突发公共卫生事件专家咨询委员会，专家咨询委员会职责：
            </p>
            <p class=" c" data-c="88_2_4">
                （1）对确定突发公共卫生事件的级别以及采取相应的重要措施提出决策建议；
            </p>
            <p class=" c" data-c="88_2_4">
                （2）对突发公共卫生事件应急准备提出建议；
            </p>
            <p class=" c" data-c="88_2_4">
                （3）参与制定、修订突发公共卫生事件应急预案和技术方案；
            </p>
            <p class=" c" data-c="88_2_4">
                （4）对突发公共卫生事件应急处置进行技术指导；
            </p>
            <p class=" c" data-c="88_2_4">
                （5）对突发公共卫生事件应急响应的终止、后期评估提出咨询意见；
            </p>
            <p class=" c" data-c="88_2_4">
                （6）承担突发公共卫生事件应急指挥机构和日常管理机构交办的其他工作。
            </p>
            <p class="two c" data-c='88_2_5'>2.5 专业技术机构 </p>
            <p class=" c" data-c="88_2_5">
                疾病预防控制机构、医疗机构、卫生监督机构、出入境检验检疫机构是突发公共卫生事件应急处置的专业技术机构。应急处置专业技术机构要结合本单位职责开展专业技术人员处置突发公共卫生事件能力培训，提高快速应对能力和技术水平，在发生突发公共卫生事件时，要服从卫生计生行政部门的统一指挥和安排，开展应急处置工作。
            </p>

            <p class="one c" data-c='88_3'>3 应急准备  </p>
            <p class="two c" data-c='88_3_1'>3.1 建立专业队伍 </p>
            <p class=" c" data-c="88_3_1">
                卫生计生部门按照“平战结合、因地制宜，分类管理、分级负责，统一管理、协调运转”的原则建立突发公共卫生事件应急卫生救治队伍。
            </p>
            <p class=" c" data-c="88_3_1">
                （2）应急处置专业技术组。市卫计委组织疾控中心等医疗卫生单位，分别组建应对重大传染病、食物中毒等卫生应急处置专业技术组，参与制定专业防控技术方案，指导、参与相应的公共卫生事件应急处置。
            </p>
            <p class=" c" data-c="88_3_1">
                （3）卫生应急处理小分队。各级疾控机构、卫生监督机构分别组建卫生应急小分队，承担突发公共卫生事件的现场快速调查处理任务。卫生应急小分队由流调人员、检验人员、消杀人员等组成，配备现场调查、快速检测设备和消杀药械等装备。卫生应急小分队全年每天24小时轮班待命，随时赶赴现场调查处理突发公共卫生事件。
            </p>
            <p class="two c" data-c='88_3_2'>3.2 储备应急物资</p>
            <p class=" c" data-c="88_3_2">
                根据公共卫生事件现场处置工作特点和要求，建立卫生应急装备基本目录，制定卫生应急物资储备制度。加快实现卫生应急装备专业化、规范化、标准化配备，以提高卫生应急工作的现场处置能力。应急物资装备、储备主要包括：办公通迅设备、交通工具、现场调查取证工具、快速检测装备、消毒杀虫器材、个人防护用品等，卫生部门要做好重点传染病防控、救灾防病等卫生应急物资储备。
            </p>
            <p class="two c" data-c='88_3_3'>3.3 建设信息系统</p>
            <p class=" c" data-c="88_3_3">
                充分利用全市医疗卫生机构传染病疫情信息网络系统，建立健全覆盖城乡、功能完善、快速畅通、运转协调的公共卫生事件信息报告网络管理体系，实现全市公共卫生事件信息统一管理。
            </p>
            <p class=" c" data-c="88_3_3">
                市公共卫生事件应急指挥中心信息平台承担全市公共卫生事件及相关信息收集、处理、分析及管理功能，同时具有全市卫生应急工作日常管理的信息平台职能。市卫计委组织有关医疗卫生单位在充分利用现有资源的基础上建设医疗救治信息网络，实现卫生计生行政部门、医疗救治机构与疾病预防控制机构之间的信息共享。
            </p>
            <p class="two c" data-c='88_3_4'>3.4 组织培训演练</p>
            <p class=" c" data-c="88_3_4">
                卫生计生行政部门要按照“统一规划、分类实施、分级负责、突出重点、适应需求”的原则，采取定期和不定期相结合形式，组织开展专业培训和应急演练。
            </p>
            <p class=" c" data-c="88_3_4">
                卫生计生行政部门选择综合力量较强、专业特点符合应急救治需要的医疗机构和市疾病预防控制中心，作为全市应急卫生救治队伍的培训、演练基地，承担相应的培训、演练任务。
            </p>
            <p class="two c" data-c='88_3_5'>3.5 通信交通保障</p>
            <p class=" c" data-c="88_3_5">
                各级卫生应急队伍要根据实际工作需要配备通信设备和交通工具。交通运输部门要优先安排紧急卫生应急物资和救援队伍的运送。
            </p>

            <p class="one c" data-c='88_4'>4 监测预警 </p>
            <p class="two c" data-c='88_4_1'>4.1 监测 </p>
            <p class=" c" data-c="88_4_1">
                建立全市统一的突发公共卫生事件监测、预警与报告网络体系。包括：法定传染病、突发公共卫生事件、新发传染病和不明原因疾病监测报告网络；学校因病缺课监测、特定药品销售监测、医疗机构症状监测网络；实验室监测网络；12320卫生热线舆情监测网络。各级疾病预防控制、医疗、卫生监督和出入境卫生检疫机构负责突发公共卫生事件的日常监测工作。
            </p>
            <p class="two c" data-c='88_4_2'>4.2 预警</p>
            <p class=" c" data-c="88_4_2">
                卫生计生部门要根据疾病预防控制机构、医疗机构提供的监测结果和国内外突发公共卫生事件发生情况，定期开展突发公共卫生事件经常性风险评估和专题风险评估。及时分析其对公众身心健康的危害程度、发展趋势，按照突发公共卫生事件的发生、发展规律和特点，及时进行评估并做出预警。
            </p>
            <p class="two c" data-c='88_4_3'>4.3 报告</p>
            <p class=" c" data-c="88_4_3">
                （1）信息报告主体：县级以上卫生计生行政部门指定的突发公共卫生事件监测机构、各级各类医疗卫生机构、各级卫生计生行政部门、县级以上地方人民政府、检验检疫部门、突发公共卫生事件发生单位等。
            </p>
            <p class=" c" data-c="88_4_3">
                （2）报告时限和程序
            </p>
            <p class=" c" data-c="88_4_3">
                突发公共卫生事件监测报告机构、医疗卫生机构和有关单位应当在２小时内向所在地县级人民政府卫生计生行政部门报告。县级人民政府应当在接到报告后迅速向市人民政府报告，并立即组织现场调查确认，及时采取必要的控制措施，随时报告事态进展情况。
            </p>
            <p class=" c" data-c="88_4_3">
                各相关县（市）、区级卫生计生行政部门应视情况及时互相通报信息。对可能造成重大社会影响的突发公共卫生事件，各级卫生计生部门可直接上报国务院卫生计生部门。
            </p>
            <p class=" c" data-c="88_4_3">
                （3）报告内容
            </p>
            <p class=" c" data-c="88_4_3">
                突发公共卫生事件报告分为首次报告、进程报告和结案报告，要根据事件的严重程度、事态发展和控制情况及时报告事件进程。
            </p>
            <p class=" c" data-c="88_4_3">
                首次报告未经调查确认的突发公共卫生事件或存在隐患的相关信息，应说明信息来源、危害范围、事件性质的初步判定和拟采取的措施。
            </p>
            <p class=" c" data-c="88_4_3">
                经调查确认的突发公共卫生事件报告应包括事件性质、波及范围、危害程度、流行病学分布、事态评估、控制措施等内容。
            </p>
            <p class=" c" data-c="88_4_3">
                报告的具体要求按照国家卫生计生委规定执行。
            </p>
            <p class=" c" data-c="88_4_3">
                （4）网络直报
            </p>
            <p class=" c" data-c="88_4_3">
                获得突发公共卫生事件相关信息且具备网络直报条件的责任报告单位和责任报告人，按规定进行网络直报。
            </p>

            <p class="one c" data-c='88_5'>5 应急响应 </p>
            <p class="two c" data-c='88_5_1'>5.1 Ⅳ级响应 </p>
            <p class=" c" data-c="88_5_1">
                当突发公共卫生事件达到一般级别时，主要由事件发生地县（市、区）负责组织力量开展处置。市指挥部视情由副指挥长批准启动市级Ⅳ级响应，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_1">
                （1）事发地县区立即启动应急预案，开展应急处置；
            </p>
            <p class=" c" data-c="88_5_1">
                （2）根据传染病的种类，对疫点（区）和患者实施必要的隔离、控制措施，对密切接触者进行隔离和医学观察，研判事件发展趋势；
            </p>
            <p class=" c" data-c="88_5_1">
                （3）市指挥部视情派出工作组和专家组赴一线指导工作；
            </p>
            <p class=" c" data-c="88_5_1">
                （4）加强监测，及时做好形势研判；
            </p>
            <p class=" c" data-c="88_5_1">
                （5）市各成员单位按照规定，向市政府、市指挥部报告相关信息；卫生医疗机构按照有关规定，通过国家突发公共卫生事件信息网络向上级卫生行政部门网络直报。
            </p>

            <p class="two c" data-c='88_5_2'>5.2 Ⅲ级响应</p>
            <p class=" c" data-c="88_5_2">
                当突发公共卫生事件达到较大级别时，由市指挥部指挥长批准启动市级Ⅲ级响应，并指挥处置。在Ⅳ级响应基础上，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_2">
                （1）立即组织开展现场流行病学调查与监测，并追踪传染源，对疫点（区）实施消毒；
            </p>
            <p class=" c" data-c="88_5_2">
                （2）根据需要启用定点医院，开辟绿色通道，做好24小时救治准备，随时收治患者。
            </p>
            <p class=" c" data-c="88_5_2">
                （3）宣传部门组织新闻单位及时播报相关信息，广泛宣传个人防护知识技能；
            </p>
            <p class=" c" data-c="88_5_2">
                （4）对所有疫点（区）及其受影响人群实施隔离、控制措施；传染病临床确诊或疑似患者应集中收治到定点医院或居家隔离，对密切接触者应实施医学观察；
            </p>
            <p class=" c" data-c="88_5_2">
                （5）对易感者或高危人群采取预防接种或预防服药等方法予以保护；
            </p>
            <p class=" c" data-c="88_5_2">
                （6）学校师生中如发现有甲类或按甲类管理的传染病的疑似病例，根据疑似病人的活动范围，应相应调整教学方式；校园实行封闭式管理，严格控制外来人员随意进出，要求师生减少外出；
            </p>
            <p class=" c" data-c="88_5_2">
                （7）采取消杀灭等卫生处理措施，切断传播途径；对可能被污染的场所、环境、设施、动植物等进行消毒、杀虫、灭鼠等卫生学处理；疫区内重点部位要开展经常性消毒。
            </p>


            <p class="two c" data-c='88_5_3'>5.3 Ⅱ级响应</p>
            <p class=" c" data-c="88_5_3">
                当突发公共卫生事件达到重大级别时，由市指挥部指挥长批准启动市级Ⅱ级响应，并指挥处置，必要时由市长指挥处置。在Ⅲ级响应基础上，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_3">
                （1）根据疫情规模和危害程度，划定隔离区域范围，依法实施封锁、隔离等措施；
            </p>
            <p class=" c" data-c="88_5_3">
                （2）在民航机场、火车站、长短途客运站、客运码头设置检疫站（点），对进出人员进行全面的防疫检查；
            </p>
            <p class=" c" data-c="88_5_3">
                （3）发生疫情的学校、企业等人群密集区域，实施必要的停课、停工、停业措施；取消各类大型群众性活动；
            </p>
            <p class=" c" data-c="88_5_3">
                （4）调集或征用有关人员、物资、场所、交通工具以及相关设施、设备，全面保障公共卫生事件应急处置工作。
            </p>
            <p class=" c" data-c="88_5_3">
                （5）及时请求省政府及其有关部门给予支持和技术指导；
            </p>
            <p class=" c" data-c="88_5_3">
                （6）适时向有关地区发出通报，及时采取防控措施，防范事态进一步扩大。
            </p>



            <p class="two c" data-c='88_5_4'>5.4 Ⅰ级响应 </p>
            <p class=" c" data-c="88_5_4">
                当突发公共卫生事件达到特别重大级别时，由市长批准启动市级Ⅰ级响应，并指挥处置。在Ⅱ级响应基础上，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_4">
                （1）从市直有关部门、县区抽调人员，充实到市指挥部办公室，实行联合办公，向社会公布有关热线电话；
            </p>
            <p class=" c" data-c="88_5_4">
                （2）请求国家相关部委和省政府及其有关部门支援本市应急处置工作；
            </p>
            <p class=" c" data-c="88_5_4">
                （3）市指挥部发布全市干部动员令；市长视情发表电视讲话，动员全市各方面全力以赴全面公共卫生事件应急工作；
            </p>
            <p class=" c" data-c="88_5_4">
                （4）民政、商务等部门和县区做好封闭隔离区域的后勤保障工作、群众生活保障工作。
            </p>
            <p class=" c" data-c="88_5_4">
                （5）依法采取其他必要的措施。
            </p>


            <p class="two c" data-c='88_5_5'>5.5 响应终止</p>
            <p class=" c" data-c="88_5_5">
                应急响应终止的条件：突发公共卫生事件隐患或相关危险因素消除，或末例传染病病例发生后经过最长潜伏期无新的病例出现。
            </p>
            <p class=" c" data-c="88_5_5">
                应急响应终止的程序：市指挥部办公室组织专家进行分析论证，提出终止应急响应的建议，报请市指挥部宣布。
            </p>

            <p class="one c" data-c='88_6'>6 后期处置 </p>
            <p class="two c" data-c='88_6_1'>6.1 善后处置 </p>
            <p class=" c" data-c="88_6_1">
                事件发生地县（市、区）人民政府负责，各有关部门按照管理职能做好善后处置工作，主要包括：人员安置、伤亡人员抚恤、基本生活困难救助，征用补偿，救助资金和物资安排，有关保险理赔，公众心理干预，恢复重建等事项。
            </p>
            <p class=" c" data-c="88_6_1">
                较大级别以上公共卫生事件应急结束后，市指挥部办公室组织各县区、市有关部门对各自应急处置情况进行调查评估，提出改进防御与处置措施、修订预案的意见建议，形成评估报告并报送市政府和省指挥部。
            </p>

            <p class="one c" data-c='88_7'>7 责任追究</p>
            <p class=" c" data-c="88_7">
                突发事件应急处置工作实行行政领导责任制和责任追究制。对未按要求采取措施、未按规定履行职责或履职不力的单位和责任人，给予通报批评或行政处分；对有渎职行为构成犯罪的，依法移送司法机关追究刑事责任。
            </p>

            <p class="one c" data-c='88_8'>8 预案管理 </p>
            <p class=" c" data-c="88_8">
                本预案按照
                <modify class="update">
                    《合肥市突发事件应急预案管理办法》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的预案">?</span>
                等有关规定进行编制、审批、发布、评估、修订、演练、培训和宣传教育。
            </p>
            <p class=" c" data-c="88_8">
                本预案由市卫计委负责解释，自发布之日起正式施行。
            </p>

          <p  class="one c " data-c="88_0">仿真模拟结果</p>
          <p data-c="88_0" class="c">
            根据模拟仿真预测，需要支援100人，需要支援20辆车。需要注意的风险点包括：位置1、位置2、位置3、位置4、位置5、位置6、位置7、位置8
          </p>


        </div>





        <p align="center" class="button-style"><a href="javascript:void(0)">下载生成的预案</a></p>
        <!-- <p class="button-style"><a align="center">More Details</a></p> -->
        <!-- </div> -->
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/jquery.wordexport.js"></script>
<script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script>
  $(function () {
    $(function () {
      $('[data-toggle=\'popover\']').popover()
    })
    $('.update').click(function () {
      console.log(123)
      $(this).attr('contenteditable', 'true')
      $('body').find('.popover').popover('hide')
    })
    $('.button-style').click(function () {

      $('.cont').wordExport('洪涝灾害预案')
      //fileName为导出的word文件的命名
    })
    var curCata = window.location.href.split('=')[1]
    // var curCata = localStorage.getItem("chkArr");
    // localStorage.removeItem("chkArr");
    if(curCata){
      var curCataArr = curCata.split(',')
      $('.c').each(function(i,e){
        var c = $(this).attr('data-c')
        if(curCataArr.indexOf(c) < 0){
          $(this).remove()
        }
      })
    }
    $('body').removeClass('hide')
  })
</script>
</body>

</html>
