<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>预案生成</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body class="hide">
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <!-- <h1><a href="#">洪涝预案</a></h1> -->
        </div>
        <!-- 		<div id="menu">
        <ul>
            <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
            <li><a href="#" accesskey="2" title="">Our Clients</a></li>
            <li><a href="#" accesskey="3" title="">About Us</a></li>
            <li><a href="#" accesskey="4" title="">Careers</a></li>
            <li><a href="#" accesskey="5" title="">Contact Us</a></li>
        </ul>
    </div> -->
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer-content">
        <h2><span>公共卫生事件预案</span> </h2>
        <div class="cont">

            <!--            断点合肥-->
            <p class="one c" data-c='88_1'>1 总则</p>
            <p class="two c" data-c='88_1_1'>1.1 编制目的和依据</p>
            <p class=" c" data-c="88_1_1">
                为指导和规范全市突发公共卫生事件应对工作，有效预防、及时控制或最大程度地减轻突发公共卫生事件对公众造成的危害，保障公众身心健康与生命安全，依据
                <modify class="update">
                    《中华人民共和国突发事件应对法》、《中华人民共和国传染病防治法》、《中华人民共和国食品安全法》、《中华人民共和国职业病防治法》、《突发公共卫生事件应急条例》、《安徽省突发事件应对条例》、《安徽省突发公共卫生事件应急预案》和《合肥市突发事件总体应急预案》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的预案">?</span>
                等规定，结合本市实际，制定本预案。
            </p>


            <p class="two c" data-c='88_1_2'>1.2 事件分级</p>
            <p class=" c" data-c="88_1_">
                根据突发公共卫生事件性质、危害程度和涉及范围，突发公共卫生事件划分为特别重大、重大、较大和一般四级。
            </p>
            <p class="two c" data-c='88_1_3'>1.3 适用范围 </p>
            <p class=" c" data-c="88_1_3">
                本预案适用于突然发生，造成或者可能造成严重损害本市社会公众健康的较大及以上级别传染病、食品安全事故、群体性不明原因疾病等公共卫生事件的应对工作。
            </p>
            <p class=" c" data-c="88_1_3">
                因其他突发事件导致人员伤亡、健康危害的医疗卫生救援工作，另行编制
                <modify class="update">
                    《合肥市突发事件医疗卫生救援应急预案》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                予以规定。
            </p>
            <p class="two c" data-c='88_1_4'>1.4 工作原则 </p>
            <p class=" c" data-c="88_1_4">
                本市突发公共卫生事件应对工作坚持预防为主、常备不懈；统一领导、多方协作；依法应对、广泛参与；依靠科学、高效处置的原则。
            </p>
            <p class="one c" data-c='88_2'>2 组织体系 </p>
            <p class="two c" data-c='88_2_1'>2.1 应急指挥机构 </p>
            <p class=" c" data-c="88_2_1">
                市政府成立突发公共卫生事件应急指挥部（以下简称市指挥部），统一组织、指挥、协调全市突发公共卫生事件应对工作。指挥长由分管卫生工作的副市长担任，必要时由市长担任，副指挥长由市政府联系卫生计生工作的副秘书长和市卫计委主任担任。
            </p>
            <p class=" c" data-c="88_2_1">
                市指挥部成员单位由市政府办公厅（市政府应急办）、市卫计委、市政府新闻办、市教育局、市公安局、市民政局、市人社局、市交通局、市商务局、市环保局、市外办、市工商局、市食药监局、市物价局、市旅游局、市农委、市畜水局、市林园局、市红十字会、
                <modify class="update">
                    武警合肥支队、安徽出入境检验检疫局合肥机场办事处、合肥出入境检验检疫局
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                等单位组成。必要时，可及时将相关单位纳入市指挥部。
            </p>
            <p class=" c" data-c="88_2_1">
                市指挥部下设办公室，办公室设在市卫计委，办公室主任由市卫计委分管副主任担任。主要职责：负责市指挥部日常工作；建立与完善监测和预警系统；制订和修订应急预案，组织预案演练；组织对专业人员的应急知识和处置技术的培训；承办救灾、反恐、中毒、放射事故等较大安全事件中涉及公共卫生问题的组织协调等工作。县（市、区）人民政府根据实际需要，成立本地区突发公共卫生事件应急指挥机构，负责组织、指挥、协调本行政区域内突发公共卫生事件应对工作。
            </p>
            <p class="two c" data-c='88_2_2'>2.2 市指挥部成员单位职责 </p>
            <p class=" c" data-c="88_2_2">
                市政府办公厅（市政府应急办）：负责突发事件的信息管理工作, 报告突发事件发生、发展和处置情况，传达上级决策部署和领导的指示、批示；请示市政府启动相关专项应急预案；统筹应急资源，调度各方力量开展应急救援工作；参与现场应急指挥。
            </p>
            <p class=" c" data-c="88_2_2">
                市卫计委：组织制定突发公共卫生事件防控技术方案；组织实施各项预防控制措施和应急医疗救治；提出启动和终止应急响应的建议；根据预防控制工作需要，依法提出隔离、封锁有关地区的建议；会同宣传部门依法及时发布突发公共卫生事件信息；组织全社会开展爱国卫生运动，统筹协调应急储备物资的购置和调拨等。
            </p>
            <p class=" c" data-c="88_2_2">
                市政府新闻办：组织安排突发公共卫生事件及应急处置情况的对外信息发布，必要时组织新闻发布会；密切监测舆情，主动引导舆论。
            </p>
            <p class=" c" data-c="88_2_2">
                市教育局：组织实施各类学校、托幼机构突发公共卫生事件控制措施，加强在校学生、教职工的宣传教育和自我防护工作，防止突发公共卫生事件在学校、托幼机构内发生或事态扩大。
            </p>
            <p class=" c" data-c="88_2_2">
                市公安局：密切关注与疫情有关的社会治安动态，依法查处打击违法犯罪活动，维护社会稳定；协助卫生计生行政部门依法做好强制隔离等相关应急处置工作。市民政局：组织做好受影响群众的转移安置和生活救助。组织、协调有关部门和社会组织开展社会捐助工作，接受、分配国内外企业、个人以及外国政府、境外组织捐助的资金和物资，做好款物管理和发放工作。对符合条件的困难群众给予最低生活保障、医疗救助和临时救助。组织和动员社区（村委会）力量，参与群防群治。协调做好死亡人员的火化和其他善后工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市人社局：负责按照工伤保险政策有关规定，落实参与突发公共卫生事件应急处置工作人员的工伤保险待遇。
            </p>
            <p class=" c" data-c="88_2_2">
                市交通局：协助卫生计生行政部门对乘坐公路、水路交通工具的人员进行检疫、查验工作，防止传染病通过交通运输环节传播。保障突发公共卫生事件处置人员以及防治药品、医疗器械等急用物资和有关标本的运送，做好疫区水上交通管理，协助交警部门做好疫区道路交通管理工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市商务局：组织生活必需品的市场供应，维护市场秩序；协助做好参加外经贸活动人员的宣传、登记、观察工作，防止突发公共卫生事件跨地区传播扩散。
            </p>
            <p class=" c" data-c="88_2_2">
                市环保局：负责组织环境质量监测与环境保护监督执法，维护环境安全。
            </p>
            <p class=" c" data-c="88_2_2">
                市外办：负责突发公共卫生事件应急处置的涉外事务，协助卫生计生部门接待国际组织考察，争取国际援助等方面工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市工商局：负责对突发公共卫生事件相关产品的市场监管工作，维护市场秩序。根据需要，对导致突发公共卫生事件发生的经营行为采取临时管理措施。
            </p>
            <p class=" c" data-c="88_2_2">
                市食药监局：负责应急药品和试剂储备。做好突发公共卫生事件应急处置食品、药品、医疗器械质量安全的监督和管理工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市物价局：保障应急物资市场物价基本稳定。
            </p>
            <p class=" c" data-c="88_2_2">
                市旅游局：指导督促旅游行业做好突发公共卫生事件的预防和应急处置工作；必要时协助卫生计生部门做好旅游团队及人员的宣传、登记、观察工作；及时接收、发布国家和市旅游局及卫生计生部门的警示信息，有针对性的做好有关工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市农委、市畜水局、市林园局：负责动物人畜共患传染病的防治工作，开展与人类接触密切的动物相关传染病的监测、调查和应急处置等工作；组织开展野生动物疫病的监测、基础调查和样品采集及保存工作；在突发公共卫生事件发生期间，组织做好快速隔离、病样采集等工作，组织专家分析和提出有关野生动物活动范围和趋势等预警信息。
            </p>
            <p class=" c" data-c="88_2_2">
                市红十字会：组织群众开展现场自救和互救；依法接受国内外组织和个人的捐赠，提供急需的人道主义援助。
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    武警合肥支队：
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                组织指挥武警部队参与突发公共卫生事件的应急处置行动，配合公安机关做好事件现场的控制工作。
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    安徽出入境检验检疫局合肥机场办事处、合肥出入境检验检疫局：负责口岸出入境交通工具及人员检疫查验、核生化有害因子监测，出入境人员传染病防控；负责口岸食品生产经营、餐饮单位及生活饮用水、公共场所卫生监督。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>

            </p>
            <p class="two c" data-c='88_2_3'>2.3 市指挥部工作组 </p>
            <p class=" c" data-c="88_2_3">
                根据应急处置的实际需要，市指挥部成立若干工作组：
            </p>
            <p class=" c" data-c="88_2_3">
                （1）综合协调组：由市政府办公厅牵头，市卫计委参加。根据事件性质和级别，组织相关部门人员参加；负责信息管理和综合协调工作，办理涉外事务，保障指挥部运转；负责召集组织会议和重要工作的督办。
            </p>
            <p class=" c" data-c="88_2_3">
                (2）医疗防控组：由市卫计委牵头，市食药监局、市农委、市畜水局、市林园局、市红十字会等单位和
                <modify class="update">
                    安徽出入境检验检疫局合肥机场办事处、合肥出入境检验检疫局参加
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                负责疾病控制、医疗救治、心理援助、开展爱国卫生运动和动物间疫情控制等工作。
            </p>
            <p class=" c" data-c="88_2_3">
                （3）后勤保障组：由市商务局牵头，市食药监局、市工商局等单位参加。负责适时动用市级储备物资，保障市场供应和物价稳定，维护市场秩序，加强质量监控。
            </p>
            <p class=" c" data-c="88_2_3">
                （4）交通保障组：由市交通局牵头，市公安局、铁路、民航等单位参加。负责交通保障工作，确保突发公共卫生事件处置人员以及防治药品和器械等物资的运送。
            </p>
            <p class=" c" data-c="88_2_3">
                （5）治安保障组：由市公安局牵头，武警合肥市支队等单位参加。负责做好疫区和控制区域的隔离工作，做好事发地安全保卫和社会治安管理，查处打击违法犯罪活动，维护社会稳定。
            </p>
            <p class=" c" data-c="88_2_3">
                （6）人员安置组：由市民政局牵头，市公安局、市交通局等单位参加。负责人员紧急疏散和安置工作，必要时采取强制疏散措施，并保证被疏散人员的基本生活。
            </p>
            <p class=" c" data-c="88_2_3">
                （7）新闻宣传组：由市政府新闻办牵头，市卫计委、市食药监局等单位参加。设立新闻发言人，适时向媒体发布事件进展和处置情况，做好舆论引导工作，同时组织新闻媒体向公众宣传自救防护等知识。
            </p>
            <p class=" c" data-c="88_2_3">
                根据需要，市指挥部可以增设其他工作组。
            </p>

            <p class="two c" data-c='88_2_4'>2.4 专家咨询委员会</p>
            <p class=" c" data-c="88_2_4">
                市卫计委负责组建突发公共卫生事件专家咨询委员会，专家咨询委员会职责：
            </p>
            <p class=" c" data-c="88_2_4">
                （1）对确定突发公共卫生事件的级别以及采取相应的重要措施提出决策建议；
            </p>
            <p class=" c" data-c="88_2_4">
                （2）对突发公共卫生事件应急准备提出建议；
            </p>
            <p class=" c" data-c="88_2_4">
                （3）参与制定、修订突发公共卫生事件应急预案和技术方案；
            </p>
            <p class=" c" data-c="88_2_4">
                （4）对突发公共卫生事件应急处置进行技术指导；
            </p>
            <p class=" c" data-c="88_2_4">
                （5）对突发公共卫生事件应急响应的终止、后期评估提出咨询意见；
            </p>
            <p class=" c" data-c="88_2_4">
                （6）承担突发公共卫生事件应急指挥机构和日常管理机构交办的其他工作。
            </p>
            <p class="two c" data-c='88_2_5'>2.5 专业技术机构 </p>
            <p class=" c" data-c="88_2_5">
                疾病预防控制机构、医疗机构、卫生监督机构、出入境检验检疫机构是突发公共卫生事件应急处置的专业技术机构。应急处置专业技术机构要结合本单位职责开展专业技术人员处置突发公共卫生事件能力培训，提高快速应对能力和技术水平，在发生突发公共卫生事件时，要服从卫生计生行政部门的统一指挥和安排，开展应急处置工作。
            </p>

            <p class="one c" data-c='88_3'>3 应急准备  </p>
            <p class="two c" data-c='88_3_1'>3.1 建立专业队伍 </p>
            <p class=" c" data-c="88_3_1">
                卫生计生部门按照“平战结合、因地制宜，分类管理、分级负责，统一管理、协调运转”的原则建立突发公共卫生事件应急卫生救治队伍。
            </p>
            <p class=" c" data-c="88_3_1">
                （2）应急处置专业技术组。市卫计委组织疾控中心等医疗卫生单位，分别组建应对重大传染病、食物中毒等卫生应急处置专业技术组，参与制定专业防控技术方案，指导、参与相应的公共卫生事件应急处置。
            </p>
            <p class=" c" data-c="88_3_1">
                （3）卫生应急处理小分队。各级疾控机构、卫生监督机构分别组建卫生应急小分队，承担突发公共卫生事件的现场快速调查处理任务。卫生应急小分队由流调人员、检验人员、消杀人员等组成，配备现场调查、快速检测设备和消杀药械等装备。卫生应急小分队全年每天24小时轮班待命，随时赶赴现场调查处理突发公共卫生事件。
            </p>
            <p class="two c" data-c='88_3_2'>3.2 储备应急物资</p>
            <p class=" c" data-c="88_3_2">
                根据公共卫生事件现场处置工作特点和要求，建立卫生应急装备基本目录，制定卫生应急物资储备制度。加快实现卫生应急装备专业化、规范化、标准化配备，以提高卫生应急工作的现场处置能力。应急物资装备、储备主要包括：办公通迅设备、交通工具、现场调查取证工具、快速检测装备、消毒杀虫器材、个人防护用品等，卫生部门要做好重点传染病防控、救灾防病等卫生应急物资储备。
            </p>
            <p class="two c" data-c='88_3_3'>3.3 建设信息系统</p>
            <p class=" c" data-c="88_3_3">
                充分利用全市医疗卫生机构传染病疫情信息网络系统，建立健全覆盖城乡、功能完善、快速畅通、运转协调的公共卫生事件信息报告网络管理体系，实现全市公共卫生事件信息统一管理。
            </p>
            <p class=" c" data-c="88_3_3">
                市公共卫生事件应急指挥中心信息平台承担全市公共卫生事件及相关信息收集、处理、分析及管理功能，同时具有全市卫生应急工作日常管理的信息平台职能。市卫计委组织有关医疗卫生单位在充分利用现有资源的基础上建设医疗救治信息网络，实现卫生计生行政部门、医疗救治机构与疾病预防控制机构之间的信息共享。
            </p>
            <p class="two c" data-c='88_3_4'>3.4 组织培训演练</p>
            <p class=" c" data-c="88_3_4">
                卫生计生行政部门要按照“统一规划、分类实施、分级负责、突出重点、适应需求”的原则，采取定期和不定期相结合形式，组织开展专业培训和应急演练。
            </p>
            <p class=" c" data-c="88_3_4">
                卫生计生行政部门选择综合力量较强、专业特点符合应急救治需要的医疗机构和市疾病预防控制中心，作为全市应急卫生救治队伍的培训、演练基地，承担相应的培训、演练任务。
            </p>
            <p class="two c" data-c='88_3_5'>3.5 通信交通保障</p>
            <p class=" c" data-c="88_3_5">
                各级卫生应急队伍要根据实际工作需要配备通信设备和交通工具。交通运输部门要优先安排紧急卫生应急物资和救援队伍的运送。
            </p>

            <p class="one c" data-c='88_4'>4 监测预警 </p>
            <p class="two c" data-c='88_4_1'>4.1 监测 </p>
            <p class=" c" data-c="88_4_1">
                建立全市统一的突发公共卫生事件监测、预警与报告网络体系。包括：法定传染病、突发公共卫生事件、新发传染病和不明原因疾病监测报告网络；学校因病缺课监测、特定药品销售监测、医疗机构症状监测网络；实验室监测网络；12320卫生热线舆情监测网络。各级疾病预防控制、医疗、卫生监督和出入境卫生检疫机构负责突发公共卫生事件的日常监测工作。
            </p>
            <p class="two c" data-c='88_4_2'>4.2 预警</p>
            <p class=" c" data-c="88_4_2">
                卫生计生部门要根据疾病预防控制机构、医疗机构提供的监测结果和国内外突发公共卫生事件发生情况，定期开展突发公共卫生事件经常性风险评估和专题风险评估。及时分析其对公众身心健康的危害程度、发展趋势，按照突发公共卫生事件的发生、发展规律和特点，及时进行评估并做出预警。
            </p>
            <p class="two c" data-c='88_4_3'>4.3 报告</p>
            <p class=" c" data-c="88_4_3">
                （1）信息报告主体：县级以上卫生计生行政部门指定的突发公共卫生事件监测机构、各级各类医疗卫生机构、各级卫生计生行政部门、县级以上地方人民政府、检验检疫部门、突发公共卫生事件发生单位等。
            </p>
            <p class=" c" data-c="88_4_3">
                （2）报告时限和程序
            </p>
            <p class=" c" data-c="88_4_3">
                突发公共卫生事件监测报告机构、医疗卫生机构和有关单位应当在２小时内向所在地县级人民政府卫生计生行政部门报告。县级人民政府应当在接到报告后迅速向市人民政府报告，并立即组织现场调查确认，及时采取必要的控制措施，随时报告事态进展情况。
            </p>
            <p class=" c" data-c="88_4_3">
                各相关县（市）、区级卫生计生行政部门应视情况及时互相通报信息。对可能造成重大社会影响的突发公共卫生事件，各级卫生计生部门可直接上报国务院卫生计生部门。
            </p>
            <p class=" c" data-c="88_4_3">
                （3）报告内容
            </p>
            <p class=" c" data-c="88_4_3">
                突发公共卫生事件报告分为首次报告、进程报告和结案报告，要根据事件的严重程度、事态发展和控制情况及时报告事件进程。
            </p>
            <p class=" c" data-c="88_4_3">
                首次报告未经调查确认的突发公共卫生事件或存在隐患的相关信息，应说明信息来源、危害范围、事件性质的初步判定和拟采取的措施。
            </p>
            <p class=" c" data-c="88_4_3">
                经调查确认的突发公共卫生事件报告应包括事件性质、波及范围、危害程度、流行病学分布、事态评估、控制措施等内容。
            </p>
            <p class=" c" data-c="88_4_3">
                报告的具体要求按照国家卫生计生委规定执行。
            </p>
            <p class=" c" data-c="88_4_3">
                （4）网络直报
            </p>
            <p class=" c" data-c="88_4_3">
                获得突发公共卫生事件相关信息且具备网络直报条件的责任报告单位和责任报告人，按规定进行网络直报。
            </p>

            <p class="one c" data-c='88_5'>5 应急响应 </p>
            <p class="two c" data-c='88_5_1'>5.1 Ⅳ级响应 </p>
            <p class=" c" data-c="88_5_1">
                当突发公共卫生事件达到一般级别时，主要由事件发生地县（市、区）负责组织力量开展处置。市指挥部视情由副指挥长批准启动市级Ⅳ级响应，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_1">
                （1）事发地县区立即启动应急预案，开展应急处置；
            </p>
            <p class=" c" data-c="88_5_1">
                （2）根据传染病的种类，对疫点（区）和患者实施必要的隔离、控制措施，对密切接触者进行隔离和医学观察，研判事件发展趋势；
            </p>
            <p class=" c" data-c="88_5_1">
                （3）市指挥部视情派出工作组和专家组赴一线指导工作；
            </p>
            <p class=" c" data-c="88_5_1">
                （4）加强监测，及时做好形势研判；
            </p>
            <p class=" c" data-c="88_5_1">
                （5）市各成员单位按照规定，向市政府、市指挥部报告相关信息；卫生医疗机构按照有关规定，通过国家突发公共卫生事件信息网络向上级卫生行政部门网络直报。
            </p>

            <p class="two c" data-c='88_5_2'>5.2 Ⅲ级响应</p>
            <p class=" c" data-c="88_5_2">
                当突发公共卫生事件达到较大级别时，由市指挥部指挥长批准启动市级Ⅲ级响应，并指挥处置。在Ⅳ级响应基础上，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_2">
                （1）立即组织开展现场流行病学调查与监测，并追踪传染源，对疫点（区）实施消毒；
            </p>
            <p class=" c" data-c="88_5_2">
                （2）根据需要启用定点医院，开辟绿色通道，做好24小时救治准备，随时收治患者。
            </p>
            <p class=" c" data-c="88_5_2">
                （3）宣传部门组织新闻单位及时播报相关信息，广泛宣传个人防护知识技能；
            </p>
            <p class=" c" data-c="88_5_2">
                （4）对所有疫点（区）及其受影响人群实施隔离、控制措施；传染病临床确诊或疑似患者应集中收治到定点医院或居家隔离，对密切接触者应实施医学观察；
            </p>
            <p class=" c" data-c="88_5_2">
                （5）对易感者或高危人群采取预防接种或预防服药等方法予以保护；
            </p>
            <p class=" c" data-c="88_5_2">
                （6）学校师生中如发现有甲类或按甲类管理的传染病的疑似病例，根据疑似病人的活动范围，应相应调整教学方式；校园实行封闭式管理，严格控制外来人员随意进出，要求师生减少外出；
            </p>
            <p class=" c" data-c="88_5_2">
                （7）采取消杀灭等卫生处理措施，切断传播途径；对可能被污染的场所、环境、设施、动植物等进行消毒、杀虫、灭鼠等卫生学处理；疫区内重点部位要开展经常性消毒。
            </p>


            <p class="two c" data-c='88_5_3'>5.3 Ⅱ级响应</p>
            <p class=" c" data-c="88_5_3">
                当突发公共卫生事件达到重大级别时，由市指挥部指挥长批准启动市级Ⅱ级响应，并指挥处置，必要时由市长指挥处置。在Ⅲ级响应基础上，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_3">
                （1）根据疫情规模和危害程度，划定隔离区域范围，依法实施封锁、隔离等措施；
            </p>
            <p class=" c" data-c="88_5_3">
                （2）在民航机场、火车站、长短途客运站、客运码头设置检疫站（点），对进出人员进行全面的防疫检查；
            </p>
            <p class=" c" data-c="88_5_3">
                （3）发生疫情的学校、企业等人群密集区域，实施必要的停课、停工、停业措施；取消各类大型群众性活动；
            </p>
            <p class=" c" data-c="88_5_3">
                （4）调集或征用有关人员、物资、场所、交通工具以及相关设施、设备，全面保障公共卫生事件应急处置工作。
            </p>
            <p class=" c" data-c="88_5_3">
                （5）及时请求省政府及其有关部门给予支持和技术指导；
            </p>
            <p class=" c" data-c="88_5_3">
                （6）适时向有关地区发出通报，及时采取防控措施，防范事态进一步扩大。
            </p>



            <p class="two c" data-c='88_5_4'>5.4 Ⅰ级响应 </p>
            <p class=" c" data-c="88_5_4">
                当突发公共卫生事件达到特别重大级别时，由市长批准启动市级Ⅰ级响应，并指挥处置。在Ⅱ级响应基础上，主要采取下列措施：
            </p>
            <p class=" c" data-c="88_5_4">
                （1）从市直有关部门、县区抽调人员，充实到市指挥部办公室，实行联合办公，向社会公布有关热线电话；
            </p>
            <p class=" c" data-c="88_5_4">
                （2）请求国家相关部委和省政府及其有关部门支援本市应急处置工作；
            </p>
            <p class=" c" data-c="88_5_4">
                （3）市指挥部发布全市干部动员令；市长视情发表电视讲话，动员全市各方面全力以赴全面公共卫生事件应急工作；
            </p>
            <p class=" c" data-c="88_5_4">
                （4）民政、商务等部门和县区做好封闭隔离区域的后勤保障工作、群众生活保障工作。
            </p>
            <p class=" c" data-c="88_5_4">
                （5）依法采取其他必要的措施。
            </p>


            <p class="two c" data-c='88_5_5'>5.5 响应终止</p>
            <p class=" c" data-c="88_5_5">
                应急响应终止的条件：突发公共卫生事件隐患或相关危险因素消除，或末例传染病病例发生后经过最长潜伏期无新的病例出现。
            </p>
            <p class=" c" data-c="88_5_5">
                应急响应终止的程序：市指挥部办公室组织专家进行分析论证，提出终止应急响应的建议，报请市指挥部宣布。
            </p>

            <p class="one c" data-c='88_6'>6 后期处置 </p>
            <p class="two c" data-c='88_6_1'>6.1 善后处置 </p>
            <p class=" c" data-c="88_6_1">
                事件发生地县（市、区）人民政府负责，各有关部门按照管理职能做好善后处置工作，主要包括：人员安置、伤亡人员抚恤、基本生活困难救助，征用补偿，救助资金和物资安排，有关保险理赔，公众心理干预，恢复重建等事项。
            </p>
            <p class=" c" data-c="88_6_1">
                较大级别以上公共卫生事件应急结束后，市指挥部办公室组织各县区、市有关部门对各自应急处置情况进行调查评估，提出改进防御与处置措施、修订预案的意见建议，形成评估报告并报送市政府和省指挥部。
            </p>

            <p class="one c" data-c='88_7'>7 责任追究</p>
            <p class=" c" data-c="88_7">
                突发事件应急处置工作实行行政领导责任制和责任追究制。对未按要求采取措施、未按规定履行职责或履职不力的单位和责任人，给予通报批评或行政处分；对有渎职行为构成犯罪的，依法移送司法机关追究刑事责任。
            </p>

            <p class="one c" data-c='88_8'>8 预案管理 </p>
            <p class=" c" data-c="88_8">
                本预案按照
                <modify class="update">
                    《合肥市突发事件应急预案管理办法》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的预案">?</span>
                等有关规定进行编制、审批、发布、评估、修订、演练、培训和宣传教育。
            </p>
            <p class=" c" data-c="88_8">
                本预案由市卫计委负责解释，自发布之日起正式施行。
            </p>





            <!--            断点上海-->
            <p  class="one c " data-c="1">1 总则</p>
            <p  class="two c " data-c="1_1">1.1 编制目的</p>
            <p data-c="1_1" class="c">
                　为有效预防、及时控制和消除突发公共卫生事件及其可能造成的危害，指导和规范本市突发公共卫生事件应急处置，提高事件应急处置能力，最大程度地减少损失和影响，保障公众身心健康与生命安全，编制本预案。
            </p>

            <p class="two c" data-c="1_2">1.2 编制依据</p>
            <p data-c="1_2" class="c">
                依据
                <modify class="update">
                    《中华人民共和国传染病防治法》、《突发公共卫生事件应急条例》和《国家突发公共卫生事件应急预案》、《上海市突发公共事件总体应急预案》
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="替换成自己所需的对应的法案">?
                </span>
                等法律法规和有关规定，制定本预案。
            </p>

            <p class="two c" data-c="1_3">1.3 事件分级 </p>
            <p data-c="1_3" class="c">
                Ⅰ.本预案所称的突发公共卫生事件，指突然发生、造成或者可能造成社会公众身心健康严重损害的传染病疫情、群体性不明原因疾病、以及其他严重影响公众健康和生命安全的事件。
            </p>
            <p data-c="1_3" class="c">
                Ⅱ.根据《国家突发公共卫生事件应急预案》，本市突发公共卫生事件分为四级：Ⅰ级（特别重大）、Ⅱ级（重大）、Ⅲ级（较大）和Ⅳ级（一般）。其中，特别重大突发公共卫生事件主要包括：
            </p>
            <p data-c="1_3" class="c">
                ①发现肺鼠疫病例，并有扩散趋势；
            </p>
            <p data-c="1_3" class="c">
                ②发现肺炭疽病例，并有扩散趋势；
            </p>
            <p data-c="1_3" class="c">
                ③发现传染性非典型肺炎、人感染高致病性禽流感病例，并有扩散趋势；
            </p>
            <p data-c="1_3" class="c">
                ④群体性不明原因疾病涉及包括本市在内的多个省份，并有扩散趋势；
            </p>
            <p data-c="1_3" class="c">
                ⑤新传染病或我国尚未发现的传染病在本市发生或传入本市，并有扩散趋势，或发现我国已消灭的传染病在本市重新流行；
            </p>
            <p data-c="1_3" class="c">
                ⑥发生高致病性病菌株、毒株、致病因子等丢失事件；
            </p>
            <p data-c="1_3" class="c">
                ⑦周边以及与我国通航的国家和地区发生特大传染病疫情，本市出现输入性病例，严重危及公共卫生安全；
            </p>
            <p data-c="1_3" class="c">
                ⑧卫生部认定的其他特别重大突发公共卫生事件。
            </p>
            <p data-c="1_3" class="c">
                依据
                <modify class="update">
                    《上海市突发公共事件总体应急预案》
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="替换成自己所需的对应的法案">?
                </span>
                ，一次死亡3人以上列为报告和应急处置的重大事项。对涉外、敏感、可能恶化的事件，应加强情况报告并提高响应等级。
            </p>

            <p class="two c" data-c="1_4">1.4 适用范围 </p>
            <p data-c="1_4" class="c">
                本预案适用于本市突发公共卫生事件的应急处置。
            </p>
            <p data-c="1_4" class="c">
                发生食物中毒、职业中毒、以及病原微生物实验室生物安全管理，按照其他有关规定执行。
            </p>
            <p data-c="1_4" class="c">
                其他突发公共事件涉及的医疗卫生应急救援，依据
                <modify class="update">
                    《上海市突发公共事件医疗卫生救援应急预案》
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="替换成自己所需的对应的法案">?
                </span>
                实施应急处置。
            </p>

            <p class="two c" data-c="1_5">1.5 工作原则 </p>
            <p data-c="1_5" class="c">
                统一领导、分级负责，以人为本、依法规范，快速反应、协同应对，资源整合、依靠科技，预防为主、防救结合。
            </p>

            <p  class="one c " data-c="2">2 组织体系 </p>
            <p class="two c" data-c="2_1">2.1 领导机构 </p>
            <p data-c="2_1" class="c">
                <modify class="update">
                    《上海市突发公共事件总体应急预案》
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="替换成自己所需的对应的法案">?
                </span>
                明确，本市突发公共事件应急管理工作由市委、市政府统一领导。市政府是突发公共事件应急管理工作的行政领导机构。市应急委决定和部署突发公共事件应急管理工作，其日常事务由市应急办负责。
            </p>

            <p class="two c" data-c="2_2">2.2 应急联动机构</p>
            <p data-c="2_2" class="c">
                市应急联动中心设在市公安局，作为本市突发公共事件应急联动先期处置的职能机构和指挥平台，履行应急联动处置较大和一般突发公共事件、组织联动单位对特大或重大突发公共事件进行先期处置等职责。各联动单位在各自职责范围内，负责突发公共事件应急联动先期处置。
            </p>

            <p class="two c" data-c="2_3">2.3 工作机构</p>
            <p data-c="2_3" class="c">
                一旦发生特别重大和重大突发公共卫生事件，市政府根据应急处置需要，设立市突发公共卫生事件应急处置指挥部，实施对特别重大和重大突发公共卫生事件应急处置的统一指挥。
            </p>
            <p class="two c" data-c="2_4">2.4 专家机构</p>
            <p data-c="2_4" class="c">
                市卫生局负责组建突发公共卫生事件专家组，并与本市其他相关专家机构建立联络机制，在突发公共卫生事件发生后，从突发公共卫生事件专家组中确定相关专家，为应急处置工作提供决策建议和技术指导，必要时参与突发公共卫生事件的应急处置。
            </p>
            <p class="two c" data-c="2_5">2.5 专业技术机构</p>
            <p data-c="2_5" class="c">
                本市各级各类医疗卫生机构是突发公共卫生事件应急处置的专业技术机构，要结合本单位职责，开展专业技术人员处置突发公共卫生事件能力培训，提高快速应对能力和专业技术水平。发生突发公共卫生事件后，相关医疗卫生机构要按照市应急处置指挥部或市卫生局的统一指挥实施应急处置。
            </p>

            <p  class="one c" data-c="3">3 预警预防与报告机制 </p>
            <p class="two c" data-c="3_1">3.1 信息监测 </p>
            <p data-c="3_1" class="c">
                Ⅰ.本市建立突发公共卫生事件监测、预警与报告网络体系。各级医疗机构、疾病预防控制机构、卫生监督机构和出入境检疫机构要根据各自职责，开展突发公共卫生事件的日常监测。
            </p>
            <p data-c="3_1" class="c">
                Ⅱ.各级卫生部门要加强对监测工作的管理和监督，保证监测质量。
            </p>

            <p class="two c" data-c="3_2">3.2 预警级别与发布</p>
            <p data-c="3_2" class="c">
                预警级别
            </p>
            <p data-c="3_2" class="c">
                根据突发公共卫生事件的发生性质、可能造成的危害和影响范围，本市突发公共卫生事件预警级别分为四级：Ⅰ级（特别严重）、Ⅱ级（严重）、Ⅲ级（较重）和Ⅳ级（一般），依次用红色、橙色、黄色和蓝色表示。
            </p>

            <p class="two c" data-c="3_3">3.3 信息报告</p>
            <p data-c="3_3" class="c">
                任何单位和个人都有义务向各级政府和卫生部门等报告突发公共卫生事件及其隐患，也有权向有关上级政府部门举报不履行或者不按照规定履行突发公共卫生事件应急处置职责的部门、单位及个人。
            </p>
            <p data-c="3_3" class="c">
                本市各级人民政府卫生行政部门指定的突发公共卫生事件监测机构、各级各类医疗卫生机构、卫生行政部门、各级人民政府和检验检疫机构、食品药品监督管理机构、环境保护监测机构、教育机构等有关单位为突发公共卫生事件的责任报告单位。执行职务的各级各类医疗卫生机构的医疗卫生人员、个体开业医生为突发公共卫生事件的责任报告人。
            </p>
            <p data-c="3_3" class="c">
                突发公共卫生事件责任报告单位要按照有关规定及时、准确地报告突发公共卫生事件及其处置情况。
            </p>

            <p  class="one c" data-c="4">4 应急响应 </p>
            <p class="two c" data-c="4_1">4.1 应急响应原则 </p>
            <p data-c="4_1" class="c">
                发生突发公共卫生事件后，市、区县政府及有关部门按照分级响应原则，采取相应措施实施应急处置。同时，遵循突发公共卫生事件发生发展规律，结合实际情况和预防控制工作需要，及时调整预警和反应级别，控制事态，减少危害和影响。根据不同类别突发公共卫生事件的性质、特点和事件发展趋势，对事态和影响不断扩大的事件，要及时升级预警和反应级别；对范围局限、不会进一步扩散的事件，要相应降低反应级别，及时撤销预警。
            </p>
            <p data-c="4_1" class="c">
                对在学校、区域性或全国性重要活动期间等发生的突发公共卫生事件，可相应提高报告和反应级别，确保迅速、有效地控制事态发展。
            </p>
            <p data-c="4_1" class="c">
                突发公共卫生事件应急处置要采取边调查、边处置、边抢救、边核实的方式，采取有效措施控制事态发展。
            </p>
            <p data-c="4_1" class="c">
                其他区县卫生部门接到突发公共卫生事件情况通报后，要及时通知相应的医疗卫生机构，组织做好应急处置所需的人员与物资准备，采取必要的预防控制措施，防止突发公共卫生事件在本行政区域发生，并按照市卫生局的统一指挥和调度，支援突发公共卫生事件发生地的应急处置工作。
            </p>

            <p class="two c" data-c="4_1">4.1 应急响应原则 </p>
            <p data-c="4_1" class="c">
                发生突发公共卫生事件后，市、区县政府及有关部门按照分级响应原则，采取相应措施实施应急处置。同时，遵循突发公共卫生事件发生发展规律，结合实际情况和预防控制工作需要，及时调整预警和反应级别，控制事态，减少危害和影响。根据不同类别突发公共卫生事件的性质、特点和事件发展趋势，对事态和影响不断扩大的事件，要及时升级预警和反应级别；对范围局限、不会进一步扩散的事件，要相应降低反应级别，及时撤销预警。
            </p>


            <p class="two c" data-c="4_2">4.2 分级响应 </p>
            <p data-c="4_2" class="c">
                特别重大突发公共卫生事件应急处理工作由国务院或国务院卫生行政部门和有关部门组织实施。
            </p>
            <p data-c="4_2" class="c">
                <modify class="update">
                    　重大突发公共卫生事件应急处理工作由上海市政府或上海市政府卫生行政部门和有关部门组织实施，
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="替换成自己市的">?
                </span>
                开展突发公共卫生事件的医疗卫生应急、信息发布、宣传教育、应急物资与设备的调集、后勤保障以及督导检查等工作。事发地的区县人民政府按照市政府或市政府有关部门的统一部署，结合本地区实际情况，组织协调开展突发公共事件的应急处理工作。
            </p>
            <p data-c="4_2" class="c">
                重大级别以下的突发公共卫生事件应急处理工作由区县人民政府负责组织实施。超出本级应急处置能力时，区县人民政府要报请市政府和有关部门提供指导和支持。
            </p>

            <p class="two c" data-c="4_3">4.3响应措施</p>
            <p data-c="4_3" class="c">
                Ⅰ.各级政府
            </p>
            <p data-c="4_3" class="c">
                （1）组织协调有关部门参与突发公共卫生事件的处置。
            </p>
            <p data-c="4_3" class="c">
                （2）根据突发公共卫生事件处置需要，调集本行政区域内相关人员、物资、交通工具和相关设备、设施参与应急处置。
            </p>
            <p data-c="4_3" class="c">
                （3）划定控制区域。甲类、乙类传染病暴发、流行时，各级政府报经上一级政府决定后，可以宣布疫区范围；经国务院同意，市政府可以对本市内甲类传染病疫区实施封锁。
            </p>
            <p data-c="4_3" class="c">
                （4）控制疫情。依照有关法律、法规、规章的规定，在本行政区域内限制或停止集市、集会、影剧院演出、以及其他人群聚集的活动；视情组织停工、停业、停课；封闭或者封存被传染病病原体污染的公共饮用水源、食品以及相关物品；临时征用房屋、交通工具以及相关设备和设施。
            </p>
            <p data-c="4_3" class="c">
                （5）加强流动人口管理。开展流动人口流行病预防工作，落实控制措施，对传染病病人、疑似病人采取就地隔离、就地观察、就地治疗的措施，对密切接触者要视情采取集中或居家医学观察。
            </p>
            <p data-c="4_3" class="c">
                （6）开展交通卫生检疫。组织铁路、交通、民航、港口等部门在交通站点设置临时交通卫生检疫站，对进出疫区和运行中的交通工具及其乘运人员和物资、宿主动物等进行检疫查验，对病人、疑似病人及其密切接触者实施临时隔离、留验，并移交地方卫生行政部门指定的机构。
            </p>
            <p data-c="4_3" class="c">
                （7）发布信息。督促有关部门按照规定做好信息发布。
            </p>
            <p data-c="4_3" class="c">
                （8）组织群防群控。督促街道、乡镇以及居委会、村委会协助卫生部门和其他部门、医疗机构搞好疫情信息的收集、报告，人员的分散隔离及公共卫生措施的实施。
            </p>
            <p data-c="4_3" class="c">
                （9）维护社会稳定。组织有关部门保障商品供应，平抑物价，防止哄抢；严厉打击造谣传谣、哄抬物价、囤积居奇、制假售假等违法犯罪和扰乱社会治安的行为。
            </p>
            <p data-c="4_3" class="c">
                Ⅱ.卫生部门
            </p>
            <p data-c="4_3" class="c">
                （1）组织医疗机构、疾病预防控制机构和卫生监督机构进行突发公共卫生事件的调查与处置。
            </p>
            <p data-c="4_3" class="c">
                （2）组织突发公共卫生事件专家组，对突发共卫生事件进行评估，提出建议启动突发公共卫生事件应急处置的级别。
            </p>
            <p data-c="4_3" class="c">
                （3）采取应急控制措施。根据需要组织开展应急疫苗接种、预防服药等。
            </p>
            <p data-c="4_3" class="c">
                （4）进行督导检查。市卫生局组织对全市或重点区域的应急处置进行督导和检查；区县卫生部门负责对本行政区域内的应急处置工作进行督查和指导。
            </p>
            <p data-c="4_3" class="c">
                （5）发布与通报信息。经市政府或国务院卫生部门授权，市卫生局要及时向社会发布突发公共卫生事件的信息或公告，并向各有关部门和各区县卫生行政部门通报突发公共卫生事件情况。
            </p>
            <p data-c="4_3" class="c">
                （6）开展技术标准和规范培训。根据国务院卫生行政部门制定的技术标准和规范，市和区县卫生部门分级组织对新发现的突发传染病、不明原因群体性疾病等及时开展培训工作。
            </p>
            <p data-c="4_3" class="c">
                （7）普及卫生知识。根据事件性质，有针对性地开展卫生知识宣教，提高公众健康意识和自我防护能力，做好心理危机干预工作。
            </p>
            <p data-c="4_3" class="c">
                （8）进行事件评估。组织专家对突发公共卫生事件的处置情况进行综合评估，包括事件概况、现场调查处置情况、病人救治情况、已采取的措施、效果评价等。
            </p>
            <p data-c="4_3" class="c">
                Ⅲ.医疗机构
            </p>
            <p data-c="4_3" class="c">
                （1）开展病人接诊、收治和转运工作，实行重症和普通病人分开管理，对疑似病人及时排除或确诊。
            </p>
            <p data-c="4_3" class="c">
                （2）对群体性不明原因疾病和新发传染病做好病例分析与总结，积累诊断治疗经验。重大中毒事件，按照现场救援、病人转运、后续治疗相结合的原则进行处置。
            </p>
            <p data-c="4_3" class="c">
                （3）搞好医院内现场控制、消毒隔离、个人防护、医疗垃圾和污水处理等，防止院内交叉感染和污染。
            </p>
            <p data-c="4_3" class="c">
                （4）负责传染病和中毒病人的报告。对突发公共卫生事件造成身体伤害的病人，任何医疗机构不得拒绝接诊。
            </p>
            <p data-c="4_3" class="c">
                （5）协助疾病预防控制机构人员开展标本采集、流行病学调查等工作。
            </p>
            <p data-c="4_3" class="c">
                Ⅳ.疾病预防控制机构
            </p>
            <p data-c="4_3" class="c">
                （1）报告信息。各级疾病预防控制机构要搞好突发公共卫生事件的信息收集、分析与报告。
            </p>
            <p data-c="4_3" class="c">
                （2）进行流行病学调查。疾控机构人员到达现场后，尽快制定流行病学调查计划和方案，按照计划和方案对突发事件累及人群的发病情况、分布特点进行调查分析，提出并实施有针对性的预防控制措施；对传染病病人、疑似病人、病原携带者及其密切接触者进行追踪调查，查明传播链，并向相关疾病预防控制机构通报情况。
            </p>
            <p data-c="4_3" class="c">
                （3）开展实验室检测。市和区县疾病预防控制机构根据国家疾病预防控制中心的要求，开展危险因素检测，按照有关技术规范采集和分送标本、承担现场和实验室检测任务，查找致病原因。
            </p>
            <p data-c="4_3" class="c">
                （4）开展科研与国际交流。开展与突发事件相关的诊断试剂、疫苗、消毒方法、医疗卫生防护用品等方面的研究和国际交流。
            </p>
            <p data-c="4_3" class="c">
                （5）制定技术方案。市疾病预防控制中心协助市卫生局根据国家有关技术标准和规范，制定本市的技术方案或实施方案。
            </p>
            <p data-c="4_3" class="c">
                （6）开展技术培训。市、区县疾病预防控制中心分级负责本市各级医疗机构突发公共卫生事件应急处置专业技术人员的应急培训。
            </p>
            <p data-c="4_3" class="c">
                Ⅴ.卫生监督机构
            </p>
            <p data-c="4_3" class="c">
                （1）在卫生部门的领导下，开展对医疗机构、疾病预防控制机构突发公共卫生事件应急处置各项措施落实情况的督导、检查。
            </p>
            <p data-c="4_3" class="c">
                （2）围绕突发公共卫生事件应急处置工作，开展卫生监督，对发现存在问题的情况提出行政处罚的意见。
            </p>
            <p data-c="4_3" class="c">
                （3）依据《突发公共卫生事件应急条例》和有关法规、规章，调查处理突发公共卫生事件应急处置中的违法行为。
            </p>
            <p data-c="4_3" class="c">
                　Ⅵ.出入境检验检疫机构
            </p>
            <p data-c="4_3" class="c">
                （1）突发公共卫生事件发生后，调动出入境检验检疫机构技术力量，对出入境、进出疫区和运行中的交通工具及其乘运人员、物资、宿主动物等进行检疫查验；对病人、疑似病人及其密切接触者实施临时隔离、留验，并移交指定机构。
            </p>
            <p data-c="4_3" class="c">
                （2）及时上报和通报口岸突发公共卫生事件信息和事态发展。
            </p>
            <p data-c="4_3" class="c">
                Ⅶ.非事发地区
            </p>
            <p data-c="4_3" class="c">
                未发生突发公共卫生事件的区县要根据其他地区发生事件的性质、特点、发生区域和发展趋势，分析本地区受波及的可能性和危害程度，重点做好以下工作：
            </p>
            <p data-c="4_3" class="c">
                （1）密切保持与事件发生地区的联系，及时获取相关信息。
            </p>
            <p data-c="4_3" class="c">
                （2）组织做好本行政区域应急处置所需的人员与物资准备。
            </p>
            <p data-c="4_3" class="c">
                （3）加强相关疾病与健康监测和报告工作，必要时，建立专门报告制度。
            </p>
            <p data-c="4_3" class="c">
                （4）开展重点人群、重点场所和重点环节的监测和预防控制。
            </p>
            <p data-c="4_3" class="c">
                （5）开展防治知识宣传和健康教育，提高公众自我保护意识和能力。
            </p>
            <p data-c="4_3" class="c">
                （6）根据市政府及其有关部门决定，开展交通卫生检疫等。
            </p>


            <p class="two c" data-c="4_4">4.4 应急响应终止 </p>
            <p data-c="4_4" class="c">
                突发公共卫生事件应急响应的终止需符合以下条件：突发公共卫生事件隐患或相关危险因素消除，或末例传染病病例发生后经过最长潜伏期无新的病例出现。
            </p>
           <p data-c="4_4" class="c">
               特别重大突发公共卫生事件由卫生部组织有关专家进行分析论证，提出终止应急响应的建议，报国务院或国家相关应急指挥机构批准后实施。
            </p>
           <p data-c="4_4" class="c">
               重大突发公共卫生事件由市卫生局组织专家进行分析论证，提出终止应急响应的建议，报市政府或市应急处置指挥部批准后实施，并向卫生部报告。
            </p>
           <p data-c="4_4" class="c">
               较大突发公共卫生事件由市卫生局组织专家进行分析论证，提出终止应急响应的建议，报市政府批准后实施。
            </p>
           <p data-c="4_4" class="c">
               一般突发公共卫生事件由区县卫生部门组织专家进行分析论证，提出终止应急响应的建议，报区县政府或区县突发公共卫生事件应急指挥机构批准后实施，并向市卫生局报告。
            </p>

            <p  class="one c" data-c="5">5 后期处置 </p>
            <p class="two c" data-c="5_1">5.1 后期评估 </p>
            <p data-c="5_1" class="c">
                突发公共卫生事件结束后，各级卫生部门要在本级政府的领导下，组织有关人员对突发公共卫生事件的处置情况进行评估。评估内容主要包括事件概况、调查处置情况、病人救治情况、所采取措施的效果评价、应急处置过程中存在的问题、取得的经验及改进建议。评估报告上报本级政府和上一级卫生部门。
            </p>
            <p class="two c" data-c="5_2">5.2 抚恤和补助</p>
            <p data-c="5_2" class="c">
                有关部门对因参与应急处置工作致病、致残、死亡的人员，按照国家有关规定，给予相应的补助和抚恤；对参加应急处置一线工作的专业技术人员，要根据工作需要制定合理的补助标准，给予补助。
            </p>
            <p class="two c" data-c="5_3">5.3 征用物资、劳务补偿</p>
            <p data-c="5_3" class="c">
                突发公共卫生事件应急工作结束后，各级政府要组织有关部门对应急处置期间紧急调集、征用有关单位、企业、个人的物资和劳务进行评估，给予合理补偿。
            </p>


            <p  class="one c" data-c="6">6 应急保障</p>
            <p data-c="6" class="c">
                突发公共卫生事件应急处置要坚持预防为主、平战结合。本市各级政府和卫生部门要加强应对突发公共卫生事件的组织建设，组织开展突发公共卫生事件的监测和预警工作，加强突发公共卫生事件应急处置队伍建设和技术研究，建立健全统一的突发公共卫生事件预防控制体系，保证突发公共卫生事件应急处置的顺利实施。
            </p>

            <p class="two c" data-c="6_1">6.1 技术保障</p>
            <p data-c="6_1" class="c">
                Ⅰ.信息系统
            </p>
            <p data-c="6_1" class="c">
                建立公共卫生事件应急信息系统，承担突发公共卫生事件及相关信息收集、处理、分析、发布和传递等工作，为日常监测、预警、报告和应急处置提供支撑；实现卫生部门、医疗救治机构与疾病预防控制机构、卫生监督机构之间的信息共享。
            </p>
            <p data-c="6_1" class="c">
                Ⅱ.疾病预防控制体系
            </p>
            <p data-c="6_1" class="c">
                建立统一的疾病预防控制体系。强化疾病预防控制机构和基层预防保健组织建设，强化医疗卫生机构疾病预防控制的责任；建立功能完善、反应迅速、运转协调的突发公共卫生事件应急机制；健全覆盖全市、灵敏高效、快速畅通的疫情信息网络；完善疾病预防控制机构基础设施和实验室设备条件；加强疾病控制专业队伍建设，提高流行病学调查、现场处置和实验室检测检验能力。
            </p>
            <p data-c="6_1" class="c">
                Ⅲ.应急医疗救治体系
            </p>
            <p data-c="6_1" class="c">
                建立由市和区县医疗救护机构、各类重点医疗机构及其他有关单位组成的应急医疗救治网络。逐步在本市建成覆盖城乡、功能完善、反应灵敏、运转协调、持续发展的医疗救治体系。
            </p>
            <p data-c="6_1" class="c">
                Ⅳ.卫生执法监督体系
            </p>
            <p data-c="6_1" class="c">
                各级卫生部门要明确职能，落实责任，规范执法监督行为。加强卫生执法监督队伍建设，对卫生监督人员实行资格准入制度和在岗培训制度，全面提高卫生执法监督的能力和水平。
            </p>
            <p data-c="6_1" class="c">
                Ⅴ.应急卫生救治队伍
            </p>
            <p data-c="6_1" class="c">
                各级政府卫生部门按照“平战结合、因地制宜，分类管理、分级负责，统一组织、协调运转”的原则建立突发公共卫生事件应急救治队伍。
            </p>
            <p data-c="6_1" class="c">
                Ⅵ.科研和国际交流
            </p>
            <p data-c="6_1" class="c">
                鼓励和支持相关部门和单位开展突发公共卫生事件有关技术的科学研究，以及相应的国内外交流与合作。
            </p>
            <p data-c="6_1" class="c">
                有计划地开展应对突发公共卫生事件相关的防治科学研究，包括现场流行病学调查方法、实验室病因检测技术、药物治疗、疫苗和应急反应装备、中医药及中西医结合防治等，尤其是开展新发、罕见传染病快速诊断方法、诊断试剂以及相关的疫苗研究，实现技术储备。同时，开展应对突发公共卫生事件应急处置技术的国际交流与合作，学习和适当引进国外先进技术、装备和方法，提高本市应对突发公共卫生事件的整体水平。
            </p>
            <p class="two c" data-c="6_2">6.2 物资保障</p>
            <p data-c="6_2" class="c">
                根据“分级管理”原则和各自职责，负责组织协调相关应急物资的储备、调度和后续供应。市发展改革委、市经委等按照市应急处置指挥部的指令，负责组织协调应急处置中应急物资的调用和供应，各相关部门和单位负责具体实施。
            </p>
            <p class="two c" data-c="6_3">6.3 经费保障</p>
            <p data-c="6_3" class="c">
                突发公共卫生事件常态管理所需的经费,由市卫生局报请市财政列入年度预算。应急处置所需的经费，由市财政按照有关预案和规定予以安排。
            </p>
            <p class="two c" data-c="6_4">6.4 通信保障</p>
            <p data-c="6_4" class="c">
                各级应急医疗卫生救治队伍要根据实际工作需要配备通信设备。
            </p>
            <p class="two c" data-c="6_5">6.5 交通保障</p>
            <p data-c="6_5" class="c">
                市交通局负责提供突发公共卫生事件应急处置的交通保障，有关区县政府协助配合。
            </p>
            <p class="two c" data-c="6_6">6.6 治安保障</p>
            <p data-c="6_6" class="c">
                突发公共卫生事件发生后，实施现场治安警戒；事发地区县政府协助搞好治安保障。
            </p>

            <p  class="one c" data-c="7">7 监督管理</p>
            <p class="two c" data-c="7_1">7.1 公众宣传教育</p>
            <p data-c="7_1" class="c">
                各级政府要组织有关部门利用广播、影视、报刊、互联网、手册等多种形式对社会公众广泛开展突发公共卫生事件应急知识普及教育，宣传卫生科普知识，指导群众以科学的行为和方式对待突发公共卫生事件。要充分发挥有关社会团体在普及卫生应急知识和卫生科普知识方面的作用。
            </p>
            <p class="two c" data-c="7_2">7.2 演练</p>
            <p data-c="7_2" class="c">
                各级卫生部门和有关单位要按照“统一规划、分类实施、分级负责、突出重点、适应需求”的原则，采取定期和不定期相结合的形式，组织开展突发公共卫生事件的应急演练。
            </p>
            <p data-c="7_2" class="c">
                市卫生局要组织全市性的突发公共卫生事件应急演练，检验和加强应急处置能力，并对演练结果进行总结和评估，进一步完善应急预案。
            </p>

            <p  class="one c" data-c="8">8 附则</p>
            <p class="two c" data-c="8_1">8.1 名词术语解释 </p>
            <p data-c="8_1" class="c">
                （1）重大传染病疫情。指某种传染病在短时间内发生、波及范围广泛，出现大量的病人或死亡病例，其发病率远远超过常年的发病率水平的情况。
            </p>
            <p data-c="8_1" class="c">
                （2）群体性不明原因疾病。指在短时间内，某个相对集中的区域内同时或者相继出现具有共同临床表现病人，且病例不断增加，范围不断扩大，又暂时不能明确诊断的疾病。
            </p>
            <p data-c="8_1" class="c">
                （3）新传染病。指全球首次发现的传染病。
            </p>

            <p data-c="8_1" class="c">
                （4）我国尚未发现传染病。指埃博拉、猴痘、黄热病、人变异性克雅氏病等在其他国家和地区已经发现，在我国尚未发现过的传染病。
            </p>

            <p data-c="8_1" class="c">
                （5）我国已消灭传染病。指天花、脊髓灰质炎等传染病。
            </p>
            <p class="two c" data-c="8_2">8.2 预案管理</p>
            <p data-c="8_1" class="c">
                本预案自印发之日起施行。
            </p>










        </div>





        <p align="center" class="button-style"><a href="javascript:void(0)">下载生成的预案</a></p>
        <!-- <p class="button-style"><a align="center">More Details</a></p> -->
        <!-- </div> -->
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/jquery.wordexport.js"></script>
<script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script>
    // var modify = document.getElementById("update");
    // modify.setAttribute("contenteditable", "true");
    $(function () {
        $(function () {
            $("[data-toggle='popover']").popover();
        });
        $(document).on('click','.update',function(){
            $(this).attr("contenteditable", "true");
            $('body').find('.popover').popover('hide');
        });

        $(".button-style").click(function () {

            $(".cont").wordExport("卫生突发事件预案");
            //fileName为导出的word文件的命名
        });
        var curCata = window.location.href.split('=')[1];
        var c2 = curCata;
        // var curCata = localStorage.getItem("chkArr");
        // localStorage.removeItem("chkArr");
        var aa1Str = '';
        if(c2){
            var cc2Arr = curCata.split(',');
            // $('.c').each(function(i,e){
            //     var c = $(this).attr('data-c');
            //     if(curCataArr.indexOf(c) < 0){
            //         $(this).remove();
            //     }
            // });
            for (var i =  0; i < cc2Arr.length; i++) {
                $('.cont .c[data-c="'+cc2Arr[i]+'"]').each(function(){
                    var c = $(this).attr('data-c');
                    if($(this).hasClass('one')){
                        aa1Str += '<div class="one c" data-c="'+c+'">'+localStorage.getItem(c)+'</div>';
                    }else if($(this).hasClass('two')){
                        aa1Str += '<div class="two c" data-c="'+c+'">'+localStorage.getItem(c)+'</div>';
                    }else{
                        aa1Str += '<div class="c" data-c="'+c+'">'+$(this).html()+'</div>';
                    }
                });
            }


        }
        $('.cont').empty().append(aa1Str);
        $('body').removeClass('hide');
    });
</script>
</body>

</html>