<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>预案生成</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body class="hide">
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <!-- <h1><a href="#">洪涝预案</a></h1> -->
        </div>
        <!-- 		<div id="menu">
        <ul>
            <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
            <li><a href="#" accesskey="2" title="">Our Clients</a></li>
            <li><a href="#" accesskey="3" title="">About Us</a></li>
            <li><a href="#" accesskey="4" title="">Careers</a></li>
            <li><a href="#" accesskey="5" title="">Contact Us</a></li>
        </ul>
    </div> -->
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer-content">
        <h2><span>交通突发事件预案</span> </h2>
        <div class="cont">





            <!--            断点广州-->
            <p class="one c" data-c='88_1'>1 总则</p>
            <p class="two c" data-c='88_1_1'>1.1 编制目的</p>
            <p class=" c"  data-c='88_1_1'>
                　　为建立健全本市道路交通事故应急救援机制，明确政府和相关部门的应急职责，快速、高效、安全实施道路交通事故救援工作，减少道路交通事故造成的人员伤亡和财产损失，确保道路交通安全畅通、治安秩序良好，维护社会稳定。
            </p>
            <p class="two c" data-c='88_1_2'>1.2 编制依据</p>
            <p class=" c" data-c="88_1_2">
                依据
                <modify class="update">
                    《中华人民共和国突发事件应对法》、《中华人民共和国道路交通安全法》、《中华人民共和国道路交通安全法实施条例》、《广东省道路交通安全条例》和广州市突发事件总体应急预案等有关法律、法规，结合本市实际，
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的预案">?</span>
                规范性文件，制定本预案。
            </p>
            <p class="two c" data-c='88_1_3'>1.3 工作原则</p>
            <p class=" c"  data-c='88_1_3'>
                坚持“以人为本、预防为主、属地处置、分级管理、逐级负责”的基本原则;强化抢救意识和大局观念，统一指挥，明确分工，各尽其责，协同作战，保证救援工作高效、快速、有序。
            </p>
            <p class="two c" data-c='88_1_4'>1．4 适用范围</p>
            <p class=" c"  data-c='88_1_4'>
                本预案适用于本市范围内发生的较大级别以上道路交通事故的应急救援工作，一般级别以下道路交通事故的应急救援工作由属地区、县级市政府负责。危险化学品道路运输交通事故的应急救援工作另行制定预案。
            </p>


            <p class="one c" data-c='88_2'>2 应急组织体系及职责</p>
            <p class="two c" data-c='88_2_1'>2.1 道路交通事故应急救援指挥部</p>
            <p class=" c"  data-c='88_2_1'>
                市人民政府成立市道路交通事故应急救援指挥部(以下简称指挥部)，负责较大以上道路交通事故的应对工作。
            </p>
            <p class=" c"  data-c='88_2_1'>
                ①组成人员及单位
            </p>
            <p class=" c"  data-c='88_2_1'>
                指挥部组成
            </p>
            <p class=" c" data-c="88_2_1">
                <modify class="update">
                    总指挥：由市人民政府分管道路交通安全的副市长担任。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_1">
                <modify class="update">
                    副总指挥：由分管道路交通安全工作的市政府副秘书长，市公安局分管交通安全的负责人，市交委、市安全监管局、市应急办、市公安消防局主要负责人担任。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_1">
                成员：市委宣传部、市经贸委、市公安局、市监察局、市民政局、市财政局、市人力资源和社会保障局、市环保局、市建委、市交委、市农业局、市卫生局、市城管委、市质监局、市安全监管局、市金融办、市应急办、市公安消防局、各区(县级市)政府、
                <modify class="update">
                    广州交投集团等单位分管负责人
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                。
            </p>

            <p class=" c"  data-c='88_2_1'>
                指挥部下设办公室(以下简称指挥部办公室)和现场指挥部。
            </p>
            <p class=" c"  data-c='88_2_1'>
                指挥部办公室设在市公安局，负责指挥部日常工作，组织协调相关成员单位和区(县级市)人民政府开展道路交通事故应急救援工作。
            </p>
            <p class=" c"  data-c='88_2_1'>
                　　现场指挥部指挥长(以下简称指挥长)由总指挥任命或公安部门负责人担任，负责组织实施应急救援工作。
            </p>
            <p class=" c"  data-c='88_2_1'>
                ②指挥部的主要职责
            </p>
            <p class=" c"  data-c='88_2_1'>
                (1)发布启动和解除道路交通事故应急预案的命令；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (2)按照本预案程序，组织协调并指挥道路交通事故应急预案的实施；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (3)根据交通事故发生情况，统一部署应急预案的实施工作；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (4)随时掌握本预案实施情况，并对本预案实施过程中遇到的问题采取应急处理措施；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (5)向公众、新闻媒体发布有关信息；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (6)向市政府报告事故处理情况。
            </p>

            <p class="two c" data-c='88_2_2'>2.2 现场指挥部 </p>
            <p class=" c"  data-c='88_2_2'>
                ①现场指挥部实行指挥长负责制
            </p>
            <p class=" c"  data-c='88_2_2'>
                事故发生地区(县级市)政府负责人以及市指挥部各成员单位负责人为现场指挥部成员。在指挥长未到达现场前，由事故发生地区(县级市)政府负责人暂时履行指挥长的职责。
            </p>
            <p class=" c"  data-c='88_2_2'>
                ②现场指挥部主要职责
            </p>
            <p class=" c"  data-c='88_2_2'>
                (1)指挥、协调道路交通事故现场的应急救援工作;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (2)及时向指挥部汇报现场人员伤亡及伤员抢救工作进展情况;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (3)划定事故现场的警戒范围，实施必要的交通管制及其他强制性措施;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (4)迅速控制因交通事故引发的火灾事故;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (5)组织营救受害人员，转移、撤离、疏散可能受到事故危害的人员和重要财产，最大限度地减少人员伤亡，降低财产损失;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (6)提出应急救援工作结束建议。
            </p>

            <p class="two c" data-c='88_2_3'>2.3 交通事故现场救援分工</p>
            <p class=" c"  data-c='88_2_3'>
                成立8个专业组
            </p>
            <p class=" c"  data-c='88_2_3'>
                ①抢险组：市公安消防局牵头，市交委、市环保局、市建委、市安全监管局、市公安局、属地区(县级市)政府、事故单位参加，负责现场抢险、搜救人员、抢修设施、环境监测、畅通信息、消除险情等工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ②技术指导组：市公安局牵头，市交委、市安全监管局、事故单位专业技术人员参加，负责现场抢险技术方案的制定和抢险救援中的技术指导等工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ③现场警戒组：市公安局牵头，市交委、市城管委、属地区(县级市)政府参加，负责现场警戒、维护秩序、疏导交通、疏散群众及伤亡人员身份确认等工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ④医疗救护组：市卫生局负责现场伤员抢救和治疗工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ⑤物资保障组：由属地区(县级市)政府和事故单位牵头，市发展改革委、市经贸委、市交委、市民政局、市城管委配合做好事故现场抢险物资装备供应及其他后勤保障工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ⑥善后处理组：属地区(县级市)政府牵头，市民政局、市公安局、市人力资源和社会保障局、市总工会、市金融办、事故单位参加，负责伤亡家属接待及安抚，处理善后事宜。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ⑦新闻信息组：市委宣传部牵头，市公安局、市交委、市安全监管局、属地区(县级市)政府参加，负责舆情应对、记者管理以及事故情况的收集、整理、报告等工作。
            </p>
            <p class=" c" data-c="88_2_4">
                ⑧事故调查组：市安全监管局牵头，市监察局、市交委、市公安局、属地区(县级市)政府参加，负责道路运输经营活动中发生的较大以上交通事故的调查处理，分析事故原因，会同生产安全事故调查组各成员单位，按照事故处理“四不放过”的原则，制定防范事故重复发生的安全措施，按照有关规定，提交事故调查报告书。对因非道路运输经营活动中发生的较大以上交通事故，由市公安局按照
                <modify class="update">
                    《广州市道路交通安全事故报告和调查处理工作规定》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                调查处理。
            </p>


            <p class="two c" data-c='88_2_4'>2.4　指挥部各成员单位职责</p>
            <p class=" c"  data-c='88_2_4'>
                (1)市委宣传部：负责指导舆情应对和记者管理工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (2)市经贸委：协调有关企业做好药品等储备物资的供应工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (3)市公安局：负责提出启动应急响应的建议，控制事故现场秩序，现场警戒，交通管制，维护事故现场及周围地区的治安秩序;开展事故现场抢险救援工作，控制险情，以及调查事故原因;确认伤亡人员身份，参与事故查处和理赔调解。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (4)市监察局：负责对本预案实施过程中的违法、违纪行为进行责任追究。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (5)市民政局：负责制定伤亡人员的抚恤、救济发放方案，指导、督促落实伤亡人员的抚恤、救济经费发放;会同事故发生地区(县级市)政府负责做好受灾群众的救助等相关善后工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (6)市财政局：负责审核道路交通事故应急救援经费预算。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (7)市人力资源和社会保障局：负责协助道路交通事故的善后处置工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (7)市人力资源和社会保障局：负责协助道路交通事故的善后处置工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (8)市环保局：负责组织对道路交通事故现场的空气、土壤、水源进行应急监测;调查因道路交通事故引起的污染和生态破坏事件;发布环境污染的信息。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (9)市建委：负责组织对市政道路、桥梁的抢修工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (10)市交委：负责组织协调高速公路、桥梁的抢险工作;组织道路交通事故应急救援的运输车辆，按照指挥部确定的目的地运送撤离人员和救援物资。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (11)市农业局：负责协助处置农业机械交通事故。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (12)市卫生局：负责组织调度医疗卫生队伍，对道路交通事故中的伤员实施紧急医学救援;组织做好伤员收治和抢救工作，必要时，组织抽调医疗专家参与会诊和技术指导，保证伤员得到及时治疗，减少人员伤亡;提供伤员救治和转归情况。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (13)市城管委：负责相关公共区域弃物的清洁与清理。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (14)市质监局：负责提出槽罐车道路交通事故中涉及压力容器特种设备的处置方案，提供技术支持和事后调查工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (14)市质监局：负责提出槽罐车道路交通事故中涉及压力容器特种设备的处置方案，提供技术支持和事后调查工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (15)市安全监管局：负责牵头对道路运输经营活动中发生的较大以上交通事故的调查处理。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (16)市金融办：负责协调保险公司依法支付伤者抢救费用。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (17)市应急办：负责协助总指挥做好事故应急处置工作，做好信息报送、综合协调，督促检查落实市领导有关批示、指示。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (18)市公安消防局：负责破拆车辆消除险情，解救被困人员。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (19)各区(县级市)人民政府：协助指挥部开展发生在本区域的事故控制，人员救助、人员疏散、秩序维护、救援保障、受灾群众安抚等各项工作;向指挥部提出道路交通事故中须转运疏散人员的应急安置点建议。
            </p>
            <p class=" c" data-c="88_2_4">
                <modify class="update">
                    (20)广州交投集团：负责协助处置发生在本集团投资建设道路的交通事故救援工作。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>

            <p class=" c"  data-c='88_2_4'>
                其他市级有关部门和单位，根据道路交通事故救援工作需要，在指挥部的组织、协调下，做好相关工作。
            </p>


            <p class="one c" data-c='88_3'>3 预测预警预防机制</p>
            <p class="two c" data-c='88_3_1'>3.1 预测预警预防信息</p>
            <p class=" c"  data-c='88_3_1'>
                公安机关、各级人民政府应当做好道路交通事故的信息收集、处置工作，对道路交通事故多发点段，要发出危险警示，加大道路交通安全宣传力度和对不安全因素的治理力度，消除道路交通安全隐患。
            </p>
            <p class="two c" data-c='88_3_2'>3.2　预测预警预防措施</p>
            <p class=" c" data-c="88_3_2">
                ①各级人民政府、各有关部门和道路运输单位应按照
                <modify class="update">
                    《中华人民共和国道路交通安全法》、《中华人民共和国道路交通安全法实施条例》、《广东省道路交通安全条例》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                等法律、法规规定，积极做好道路交通事故预防工作，全力遏制道路交通事故。
            </p>
            <p class=" c"  data-c='88_3_2'>
                ②各级人民政府、各有关部门要建立健全道路交通安全预警预防机制，严格驾驶人培训、考试和车辆检验，加强路面行车秩序管理，加大对交通违法的处罚力度，监督道路交通运输企业落实安全生产责任制，规范机动车的生产、改装，积极改造道路危险路段。采取多种形式深入道路沿线、农村、企事业单位、学校开展道路交通安全宣传教育。
            </p>
            <p class="two c" data-c='88_3_3'>3.3　预测预警预防支持系统</p>
            <p class=" c"  data-c='88_3_3'>
                各级人民政府要积极采取措施，建立健全本地区道路交通事故应急预案和工作机制，明确责任部门，加强组织建设，不断提高预防、应急处置能力。
            </p>


            <p class="one c" data-c='88_4'>4 应急响应</p>
            <p class="two c" data-c='88_4_1'>4.1 响应分级、程序和内容</p>
            <p class=" c"  data-c='88_4_1'>
                ①响应分级
            </p>
            <p class=" c"  data-c='88_4_1'>
                (1)一般事故，是指发生造成3人以下死亡，或者10人以下重伤，或者1000万元以下直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                (2)较大事故，是指造成3人以上10人以下死亡，或者10人以上50人以下重伤，或者1000万元以上5000万元以下直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                (3)重大事故，是指造成10人以上30人以下死亡，或者50人以上100人以下重伤，或者5000万元以上1亿元以下直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                (4)特别重大事故，是指造成30人以上死亡，或者100人以上重伤，或者1亿元以上直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                ②响应程序
            </p>
            <p class=" c"  data-c='88_4_1'>
                发生道路交通事故后,分级启动应急响应。达到本预案启动条件的，启动本预案及以下各级预案;超出本级应急救援处置能力的，启动本预案的同时，请求上一级应急救援指挥机构启动上一级应急预案。
            </p>
            <p class=" c"  data-c='88_4_1'>
                ③响应内容
            </p>
            <p class=" c"  data-c='88_4_1'>
                (1)市公安局根据事故现场情况，认为需要启动应急响应的，应立即通知指挥部相关成员单位，并报告市应急办(市政府总值班室);
            </p>
            <p class=" c"  data-c='88_4_1'>
                (2)市有关部门接报后，按其职责立即赶赴现场开展工作，直至事故灾难消除为止;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (3)指挥部办公室开通与事故发生地应急救援指挥机构、现场指挥部、各专业组的通信联系，随时掌握事故进展情况;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (4)根据专家和各专业组的建议，现场指挥部确定事故救援方案;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (5)根据需要，指挥部办公室派出有关人员和邀请专家赶赴现场参加、指导现场应急救援;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (6)超出本级应急救援处置能力时，指挥部办公室及时报告市应急办(市政府总值班室)请求上级支援。
            </p>

            <p class="two c" data-c='88_4_2'>4.2　信息报送 </p>
            <p class=" c"  data-c='88_4_2'>
                发生道路交通事故，立即按规定逐级上报信息。涉及上报事故伤亡人数的，以市公安局核实确定后的数字为准。
            </p>

            <p class="two c" data-c='88_4_3'>4.3　现场施救 </p>
            <p class=" c"  data-c='88_4_3'>
                在急救、医疗人员到达现场之前，救援人员应当按照救护操作规范，进行应急处置。急救、医疗部门人员到达现场后，由急救、医疗人员组织抢救受伤人员。市卫生局负责组织开展对事故伤亡人员实施紧急医学救援，根据现场需要，及时协调有关医疗救护专家和药品装备进行支援。市公安局应当积极协助运送伤员，必要时征用过往车辆。
            </p>
            <p class=" c"  data-c='88_4_3'>
                市公安局根据现场指挥部的决定，负责在道路上设立警戒区，实施交通管制，禁止无关车辆和人员进入，疏散警戒区内的车辆和人员;在警戒区外围交通要道和交叉路口设立标志，组织交通分流;清理通道，维护交通秩序，保障参加排险、救援车辆、设备顺利进入现场。
            </p>
            <p class=" c"  data-c='88_4_3'>
                市公安局根据现场指挥部的决定，负责在道路上设立警戒区，实施交通管制，禁止无关车辆和人员进入，疏散警戒区内的车辆和人员;在警戒区外围交通要道和交叉路口设立标志，组织交通分流;清理通道，维护交通秩序，保障参加排险、救援车辆、设备顺利进入现场。
            </p>

            <p class="two c" data-c='88_4_4'>4.4　应急人员的安全防护 </p>
            <p class=" c"  data-c='88_4_4'>
                市公安局视情设置事故现场警戒线，市公安消防局协助做好防护工作，指导进入现场人员着防护服，佩戴安全防护用具。
            </p>

            <p class="two c" data-c='88_4_5'>4.5 群众的安全防护</p>
            <p class=" c"  data-c='88_4_5'>
                根据事故的实际情况，现场指挥部负责决定实施交通管制，指挥疏散现场人员，防止事故扩大和蔓延，造成其他人员伤害。
            </p>

            <p class="two c" data-c='88_4_6'>4.6 事故的调查处理及损失评估</p>
            <p class=" c"  data-c='88_4_6'>
                事故的调查处理及损失评估按照有关规定进行。
            </p>

            <p class="two c" data-c='88_4_7'>4.7 新闻报道</p>
            <p class=" c"  data-c='88_4_7'>
                道路交通事故的新闻报道，由指挥部确定新闻发言人，按照突发事件新闻报道的有关规定向社会和媒体通报有关情况。
            </p>

            <p class="two c" data-c='88_4_8'>4.8 应急结束</p>
            <p class=" c"  data-c='88_4_8'>
                道路交通事故现场清理完毕，交通恢复正常秩序，受伤人员得到妥善医治，应视为应急结束。必要时，由指挥部宣布结束应急响应。
            </p>

            <p class="one c" data-c='88_5'>5 后期处理</p>
            <p class="two c" data-c='88_5_1'>5.1 后期处理</p>
            <p class=" c"  data-c='88_5_1'>
                事故发生地区(县级市)人民政府具体负责善后处置工作。对伤亡人员的善后处置，根据国家现行有关法律、法规等有关规定进行。
            </p>
            <p class="two c" data-c='88_5_2'>5.2 保险、社会救助基金</p>
            <p class=" c"  data-c='88_5_2'>
                发生道路交通事故时，保险机构和道路交通事故社会救助基金管理机构要及时赶赴事故现场，及时支付或垫付相关费用，开展应急救援人员现场保险和伤亡人员及财产保险的理赔工作。
            </p>



            <p class="one c" data-c='88_6'>6 保障措施</p>
            <p class="two c" data-c='88_6_1'>6.1 </p>
            <p class=" c"  data-c='88_6_1'>
                市公安局、市卫生局等有关部门根据道路交通事故救援体系建设规划，协调、检查、促进应急救援队伍培训，不断提高战斗力，保证应急状态的调用
            </p>
            <p class=" c"  data-c='88_6_1'>
                市公安局、市卫生局等有关部门根据道路交通事故救援体系建设规划，协调、检查、促进应急救援队伍培训，不断提高战斗力，保证应急状态的调用
            </p>
            <p class="two c" data-c='88_6_2'>6.2 </p>
            <p class=" c"  data-c='88_6_2'>
                启动应急预案期间，市公安局根据需要实施交通管制，市交委负责调动道路交通工具，保障应急处置期间的交通运输。
            </p>
            <p class="two c" data-c='88_6_3'>6.3 </p>
            <p class=" c"  data-c='88_6_3'>
                市卫生局根据交通事故受伤人员的情况，调配医疗卫生机构，调集医疗急救人员，保证受伤人员抢救工作。市卫生局在确定救治伤员的医疗机构后，将各医疗机构伤员的分配情况反馈给市公安局，以便市公安局及时派员前往各医疗机构核实伤员的身份和伤势情况。
            </p>
            <p class="two c" data-c='88_6_4'>6.4 </p>
            <p class=" c"  data-c='88_6_4'>
                市公安局安排足够的警力做好应急期间有关场所的治安保卫工作，组织巡逻查控，防止无关人员进入警戒区，协助抢救伤者、疏散危险区的人员迅速撤至安全地带，配合政府利用通告、广播等形式将事故有关情况及处置措施向群众通报，稳定群众情绪，维护治安秩序和社会稳定。
            </p>
            <p class=" c" data-c="88_6_5">
                各级人民政府要将道路交通事故应急抢险和救援工作经费纳入财政预算。
                <modify class="update">
                    涉及应急抢险救灾工程的，按照《广州市应急抢险救灾工程管理办法》执行，涉及劳务支出的按照有关规定办理。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="根据自己市的进行替换">?</span>
=            </p>

            <p class="one c" data-c='88_7'>7 宣传、培训和演练</p>
            <p class="two c" data-c='88_7_1'>7.1 宣传、培训</p>
            <p class=" c"  data-c='88_7_1'>
                各级人民政府及有关部门要利用电视、广播、报刊等新闻媒体以及互联网，广泛宣传道路交通安全法律、法规和道路交通事故的预防、避险、自救、互救的常识和办法。
            </p>
            <p class="two c" data-c='88_7_2'>7.2 演练</p>
            <p class=" c"  data-c='88_7_2'>
                市公安局牵头会同有关部门，每两年组织至少1次演练。
            </p>



            <p class="one c" data-c='88_8'>8 附则</p>
            <p class="two c" data-c='88_8_1'>8.1 名词术语</p>
            <p class=" c"  data-c='88_8_1'>
                本预案所称“以上”含本数，“以下”不含本数。
            </p>
            <p class="two c" data-c='88_8_2'>8.2 预案修订与解释</p>
            <p class=" c"  data-c='88_8_2'>
                本预案由市公安局负责组织修订和解释。
            </p>
            <p class="two c" data-c='88_8_3'>8.3 责任与奖惩</p>
            <p class=" c"  data-c='88_8_3'>
                对实施本应急预案表现突出的单位和人员，依据国家有关规定，给予表彰和奖励;对于玩忽职守、严重失职造成事故的有关责任人，要依据有关规定追究责任，构成犯罪的，依法追究刑事责任。
            </p>
            <p class="two c" data-c='88_8_4'>8.4 实施时间</p>
            <p class=" c"  data-c='88_8_4'>
                本预案自印发之日起实施。
            </p>


          <p  class="one c " data-c="88_0">仿真模拟结果</p>
          <p data-c="88_0" class="c">
            根据模拟仿真预测，需要支援100人，需要支援20辆车。需要注意的风险点包括：位置1、位置2、位置3、位置4、位置5、位置6、位置7、位置8
          </p>
        </div>





        <p align="center" class="button-style"><a href="javascript:void(0)">下载生成的预案</a></p>
        <!-- <p class="button-style"><a align="center">More Details</a></p> -->
        <!-- </div> -->
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/jquery.wordexport.js"></script>
<script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script>
  // var modify = document.getElementById("update");
  // modify.setAttribute("contenteditable", "true");
  $(function () {
    $(function () {
      $('[data-toggle=\'popover\']').popover()
    })
    $('.update').click(function () {
      console.log(123)
      $(this).attr('contenteditable', 'true')
      $('body').find('.popover').popover('hide')
    })
    $('.button-style').click(function () {

      $('.cont').wordExport('洪涝灾害预案')
      //fileName为导出的word文件的命名
    })
    var curCata = window.location.href.split('=')[1]
    // var curCata = localStorage.getItem("chkArr");
    // localStorage.removeItem("chkArr");
    if(curCata){
      var curCataArr = curCata.split(',')
      $('.c').each(function(i,e){
        var c = $(this).attr('data-c')
        if(curCataArr.indexOf(c) < 0){
          $(this).remove()
        }
      })
    }
    $('body').removeClass('hide')
  })
</script>
</body>

</html>
