<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>预案生成</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body class="hide">
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <!-- <h1><a href="#">洪涝预案</a></h1> -->
        </div>
        <!-- 		<div id="menu">
        <ul>
            <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
            <li><a href="#" accesskey="2" title="">Our Clients</a></li>
            <li><a href="#" accesskey="3" title="">About Us</a></li>
            <li><a href="#" accesskey="4" title="">Careers</a></li>
            <li><a href="#" accesskey="5" title="">Contact Us</a></li>
        </ul>
    </div> -->
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer-content">
        <h2><span>交通突发事件预案</span> </h2>
        <div class="cont">


            <!--            断点南京-->
            <p  class="one c " data-c="99_1">1 总则</p>
            <p  class="two c " data-c="99_1_1">1.1 编制目的</p>
            <p data-c="99_1_1" class="c">
                有效应对城市公共交通的突发事件，及时、有序地开展应急救援工作，维护城市公共交通运行秩序，保护人民群众生命财产安全，保障城市稳定。
            </p>
            <p  class="two c " data-c="99_1_2">1.2 编制依据</p>
            <p data-c="99_1_2" class="c">
                依据
                <modify class="update">
                    《中华人民共和国安全生产法》
                    《中华人民共和国突发事件应对法》
                    《中华人民共和国道路交通安全法》
                    《中华人民共和国道路交通安全法实施条例》
                    《中华人民共和国道路运输条例》
                    《南京市突发公共事件总体应急预案》
                    《南京市安全生产条例》
                    《南京市公共客运管理条例》
                    《南京市轨道交通管理条例》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的法案">?</span>
                其它相关的法律、法规和规范性文件
            </p>
            <p  class="two c " data-c="99_1_3">1.3 工作原则</p>
            <p data-c="99_1_3" class="c">
                （1）统一领导、分级负责。在市政府的统一领导下，建立健全分级负责的应急管理体制。
            </p>
            <p data-c="99_1_3" class="c">
                （2）统筹安排、分工合作。政府各相关职能部门、各公共交通企业以及相关应急保障单位强化联动协调，保持应急资源共享，建立相互衔接的应急分工合作机制。
            </p>
            <p data-c="99_1_3" class="c">
                （3） 预防为主，综合治理。全面开展培训、宣传和演练工作，采取切实预防措施，综合治理安全隐患，保障应急救援及时、准确、高效。
            </p>
            <p data-c="99_1_3" class="c">
                （4）依靠科技，加强管控。依托科技手段，加强安全生产的预测、预警、监测和应急救援，有效避免或控制突发事件的损害。
            </p>

            <p  class="two c " data-c="99_1_4">1.4 适用范围</p>
            <p data-c="99_1_4" class="c">
                ①本案所称突发事件，是指突然发生并造成或者可能造成公共交通的场所、工具、运行线路损害和相关人员伤亡，危害城市公共交通的紧急事件。城市公共交通包括城市公共汽车、轨道交通（含有轨电车，下同）、轮渡和出租汽车等城市客运方式。
            </p>
            <p data-c="99_1_" class="c">
                ②本案适用于发生在
                <modify class="update">
                    南京市行政区域
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                范围内的Ⅲ级突发事件应急响应，指导Ⅳ级突发事件应急响应，支持Ⅰ、Ⅱ级突发事件应急响应。
            </p>
            <p data-c="99_1_4" class="c">
                ③城市公共交通企业需根据实际情况，制定配套本案的应急预案，并由事发单位作为实施本案的基础力量。
            </p>
            <p  class="two c " data-c="99_1_5">1.5 分类分级</p>
            <p data-c="99_1_5" class="c">
                ①突发事件根据发生的过程、性质和机理，主要分为以下四类：
            </p>
            <p data-c="99_1_5" class="c">
                A类  自然灾害。主要包括暴雨、台风、洪灾、地震、滑坡、地面塌陷、大雾、冰冻、暴雪等对公共交通造成的灾害。
            </p>
            <p data-c="99_1_5" class="c">
                B类  事故灾难。主要是城市公共交通客运过程中发生的事故、场站（场所）内部发生的事故、相关设施和设备的事故等。
            </p>
            <p data-c="99_1_5" class="c">
                C类  公共卫生事件。主要包括传染病疫情、群体性不明原因疾病以及其他严重影响公共交通出行安全的事件。
            </p>
            <p data-c="99_1_5" class="c">
                D类  社会安全事件。主要包括涉及公共交通的恐怖袭击事件、经济安全事件、涉外突发事件，以及公共交通企业群体事件等。
            </p>
            <p data-c="99_1_5" class="c">
                ②城市公共交通的各类突发事件按照其严重程度、可控性和影响范围等因素，分为以下四级：
            </p>
            <p data-c="99_1_5" class="c">
                Ⅰ级（特别重大，下同）：
            </p>
            <p data-c="99_1_5" class="c">
                （1）造成30人以上死亡；
            </p>
            <p data-c="99_1_5" class="c">
                （2）导致100人以上重伤；
            </p>
            <p data-c="99_1_5" class="c">
                （3）造成1亿元以上直接经济损失；
            </p>
            <p data-c="99_1_5" class="c">
                （4）导致城市公共交通瘫痪24小时以上。
            </p>
            <p data-c="99_1_5" class="c">
                Ⅱ级（重大，下同）：
            </p>
            <p data-c="99_1_5" class="c">
                （1）造成10人以上30人以下死亡；
            </p>
            <p data-c="99_1_5" class="c">
                （2）导致50人以上100人以下重伤；
            </p>
            <p data-c="99_1_5" class="c">
                （3）造成5千万元以上1亿元以下直接经济损失；
            </p>
            <p data-c="99_1_5" class="c">
                （4）导致城市主要轨道交通线路或三分之一以上的其它公共交通车（船）线路停运12小时以上，且未达Ⅰ级。
            </p>
            <p data-c="99_1_5" class="c">
                Ⅲ级（较大，下同）：
            </p>
            <p data-c="99_1_5" class="c">
                （1）造成3人以上10人以下死亡；
            </p>
            <p data-c="99_1_5" class="c">
                （2）导致10人以上50人以下重伤；
            </p>
            <p data-c="99_1_5" class="c">
                （3）造成1千万元以上5千万元以下直接经济损失；
            </p>
            <p data-c="99_1_5" class="c">
                （4）导致城市主要轨道交通线路或多条其它公共交通线路运行中断，或有大量车（船）停运6小时以上，导致大量乘客滞留，且未达Ⅱ级。
            </p>
            <p data-c="99_1_5" class="c">
                Ⅳ级（一般，下同）：
            </p>
            <p data-c="99_1_5" class="c">
                （1）造成3人以下死亡；
            </p>
            <p data-c="99_1_5" class="c">
                （2）导致10人以下重伤；
            </p>
            <p data-c="99_1_5" class="c">
                （3）造成1千万元以下直接经济损失；
            </p>
            <p data-c="99_1_5" class="c">
                （4）导致城市主要轨道交通线路运行中断30分钟，或者其它公共交通线路中断2小时以上，聚集客流不能及时疏散，且未达Ⅲ级。
            </p>
            <p data-c="99_1_5" class="c">
                本节的“以上”均含本数，“以下”均不含本数。
            </p>

            <p  class="one c " data-c="99_2">组织体系 </p>
            <p data-c="99_2" class="c">
                本预案组织体系由城市公共交通应急指挥部、应急指挥部办公室、应急工作组三部分构成
            </p>
            <p  class="two c " data-c="99_2_1">2.1应急指挥部 </p>
            <p data-c="99_2_1" class="c">
                ①应急指挥部组成：应急指挥部由市政府分管副市长担任指挥长，市政府分管副秘书长、市应急办主任和市安监局、交通运输局、公安局等部门主要负责人担任副指挥长，成员单位有市委宣传部、市应急办、市安监局、交通运输局、公安局、住建委、总工会、经信委、城管局、卫生局、财政局、民政局、环保局、地震局、气象局、公安消防局、武警南京支队、驻宁部队、
                <modify class="update">
                    南京海事局、
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                市交通集团、城建集团、地铁集团、各区政府。
            </p>
            <p data-c="99_2_1" class="c">
                ②应急指挥部的主要职责：
            </p>
            <p data-c="99_2_1" class="c">
                （1）决定启动Ⅲ级突发事件应急响应；
            </p>
            <p data-c="99_2_1" class="c">
                （2）上报Ⅰ、Ⅱ级突发事件，对Ⅰ、Ⅱ级突发事件采取先期必要救援，积极支持Ⅰ、Ⅱ级应急响应；
            </p>
            <p data-c="99_2_1" class="c">
                （3）对相关重大事项进行决策和部署，并领导应急响应的全过程；
            </p>
            <p data-c="99_2_1" class="c">
                （4）指导下设各工作组开展救援工作；
            </p>
            <p data-c="99_2_1" class="c">
                （5）决定终止Ⅲ级突发事件应急响应。
            </p>
            <p data-c="99_2_1" class="c">
                应急指挥部的指令由指挥长下达，或者授权副指挥长下达。
            </p>


            <p  class="two c " data-c="99_2_2">应急指挥部办公室 </p>
            <p data-c="99_2_2" class="c">
                ①应急指挥部下设办公室，由市交通运输局会同相关成员单位组成。
            </p>
            <p data-c="99_2_2" class="c">
                ②应急指挥部办公室职责：
            </p>
            <p data-c="99_2_2" class="c">
                （1）应急值守和信息汇总（传递）；
            </p>
            <p data-c="99_2_2" class="c">
                （2）向应急救援指挥部及时上报相关信息；
            </p>
            <p data-c="99_2_2" class="c">
                （3）传达落实应急指挥部的部署和相关指令；
            </p>
            <p data-c="99_2_2" class="c">
                （4）协调衔接各应急工作组和各相关成员单位之间的工作。
            </p>
            <p data-c="99_2_2" class="c">
                （5）指导相关责任单位建立完善Ⅳ级突发事件的应急救援预案；
            </p>
            <p data-c="99_2_2" class="c">
                （6）组织安排Ⅲ级突发事件应急演练，落实演练和应急救援措施。
            </p>


            <p  class="two c " data-c="99_2_3">应急工作组 </p>
            <p data-c="99_2_3" class="c">
                城市公共交通突发事件后，应急指挥部进入工作状态，下设八个应急工作组：
            </p>
            <p data-c="99_2_3" class="c">
                （1）安全警戒组
            </p>
            <p data-c="99_2_3" class="c">
                由市公安局牵头，市城管局、
                <modify class="update">
                    武警南京支队、南京海事局组成，
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的组织">?</span>
                事发地的区政府等有关单位配合。
            </p>
            <p data-c="99_2_3" class="c">
                负责组织现场警戒、疏通车辆、疏导船舶、疏散群众、维护治安秩序和加强防范控制等工作。
            </p>
            <p data-c="99_2_3" class="c">
                （2）现场处置组
            </p>
            <p data-c="99_2_3" class="c">
                市交通运输局或相关专业部门牵头，市安监局、公安局、住建委、公安消防局、
                <modify class="update">
                    武警南京支队、南京海事局、
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的组织">?</span>
                市交通集团、城建集团、地铁集团及相关区政府、公共汽车企业、出租汽车企业等单位组成。
            </p>
            <p data-c="99_2_3" class="c">
                负责搜救人员、抢救重要设施、设备、财物等工作。
            </p>
            <p data-c="99_2_3" class="c">
                （3）医疗救治组
            </p>
            <p data-c="99_2_3" class="c">
                由市卫生局牵头，120急救中心、相关医院等单位组成。
            </p>
            <p data-c="99_2_3" class="c">
                负责对现场受伤人员进行急救，必要时设立现场临时急救站；采取转运、分流等措施妥善安排伤员就医治疗；及时统计接受到的伤亡人员情况，向市应急救援指挥部报告。
            </p>
            <p data-c="99_2_3" class="c">
                （4）信息报道组
            </p>
            <p data-c="99_2_3" class="c">
                由市委宣传部牵头，市应急办、安监局、公安局、交通运输局等相关单位参与。
            </p>
            <p data-c="99_2_3" class="c">
                负责对突发事件的信息进行收集、整理并及时发布，稳定舆情，防止不正确舆论引发社会恐慌。
            </p>
            <p data-c="99_2_3" class="c">
                （5）应急保障组
            </p>
            <p data-c="99_2_3" class="c">
                由市交通运输局牵头，市公安局、经信委、住建委、民政局、财政局、城管局、交通集团、城建集团、地铁集团、
                <modify class="update">
                    中国电信（移动、联通）南京分公司、
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的组织">?</span>
                供电公司及相关区政府、公共交通企业、出租汽车企业等单位组成。
            </p>
            <p data-c="99_2_3" class="c">
                负责应急救援物资的征集和运送，保障救援通讯联络，保持城市客运交通秩序。
            </p>
            <p data-c="99_2_3" class="c">
                （6）善后处理组
            </p>
            <p data-c="99_2_3" class="c">
                由事发地的区政府牵头，市民政局、财政局、交通运输局、公安局及相关企业组成。
            </p>
            <p data-c="99_2_3" class="c">
                负责妥善处理突发事件的人员伤亡、财产损失赔付等善后工作。
            </p>
            <p data-c="99_2_3" class="c">
                （7）调查处理组
            </p>
            <p data-c="99_2_3" class="c">
                根据事故分类和性质，依法由有关部门牵头，市安监局、公安局、交通运输局、卫生局、公安消防局、总工会、南京海事局等单位组成，负责对突发事件进行调查处理。
            </p>
            <p data-c="99_2_3" class="c">
                （8）技术专家组
            </p>
            <p data-c="99_2_3" class="c">
                由市交通运输局牵头，根据事故情况，召集交通运输、城市建设、环保保护、气象等专业的专家组成。
            </p>
            <p data-c="99_2_3" class="c">
                参与突发事件处置，负责提供技术咨询意见供应急指挥部决策；为现场抢险救援措施提供技术支持和指导；对灾后恢复提供可行的指导意见。
            </p>



            <p  class="two c " data-c="99_2_4">2.4 各部门主要职责 </p>
            <p data-c="99_2_4" class="c">
                根据突发事件分类分级，参与应急工作的相关部门和单位在市应急救援指挥部统一领导下的主要职责：
            </p>
            <p data-c="99_2_4" class="c">
                市委宣传部：负责组织协调突发事件新闻发布工作，指导召开新闻发布会，正确引导社会舆论。
            </p>
            <p data-c="99_2_4" class="c">
                市政府应急办：负责应急信息汇总、报送工作，根据应急响应级别向省、市政府报告突发事件情况。
            </p>
            <p data-c="99_2_4" class="c">
                市安监局：参与突发事件应急救援工作，并组织突发事件中安全生产事故的调查、处理工作；协助市应急救援指挥部沟通、协调相关部门。
            </p>
            <p data-c="99_2_4" class="c">
                市公安局：负责组织开展现场治安、警戒及周边道路交通管制，保障救援运输畅通和城市公共客运通行；协调相关方开展现场处置；参与对突发事件信息报道、善后处置、调查处理等工作。
            </p>
            <p data-c="99_2_4" class="c">
                市交通运输局: 负责组织协调突发事件应急物资征集和运输保障；组织或参与中断道路、车站（码头）抢建抢修等救援；协调组织城市客运企业参与应急救援；参与突发事件信息发布、善后处置、调查处理等工作。
            </p>
            <p data-c="99_2_4" class="c">
                市经信委：协调市内各移动通信运营公司负责保障现场通信畅通，协调供电公司等单位为应急救援工作提供保障。
            </p>
            <p data-c="99_2_4" class="c">
                市住建委：负责组织城市住建系统相关单位，组织或参与突发事件抢险救援、物资保障等工作。
            </p>
            <p data-c="99_2_4" class="c">
                市卫生局：负责调配医务人员、医疗器材、急救药品，组织现场抢救及伤员转运、分流等救治工作；组织突发事件中公共卫生事件的调查、处理工作；负责统计上报接收到的伤亡人员信息。
            </p>
            <p data-c="99_2_4" class="c">
                市公安消防局：负责开展专业消防救援工作，组织突发事件中火灾事故的调查、处理工作，参与协调综合力量投入救援行动。
            </p>
            <p data-c="99_2_4" class="c">
                <modify class="update">
                    南京海事局：负责长江南京段城市水上客运船舶事故处置的组织、指挥工作；组织突发事件中水上交通事故的调查、处理，协调开展现场水域交通管制和船舶疏散等工作。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p data-c="99_2_4" class="c">
                市气象局：负责灾害性天气的监测预报，及时发布灾害性天气预警信息;负责突发事件中有关气象灾情的调查、分析和评估工作。
            </p>
            <p data-c="99_2_4" class="c">
                事发地的区政府：参加安全警戒、抢险救灾等工作；牵头做好先期应急、善后处置等工作。
            </p>
            <p data-c="99_2_4" class="c">
                其他：突发事件相关的其他部门在应急救援指挥部统一协调、指挥下，依据各自职责参与应急救援工作。
            </p>



            <p  class="one c " data-c="99_3">3 预警预防 </p>
            <p  class="two c " data-c="99_3_1">3.1 预警体系 </p>
            <p data-c="99_3_1" class="c">
                ① 预警网络。以各公共交通企业为预警基础
                <modify class="update">
                    辅以110、119、120、122、96196（交通热线）、83630300（安监受理电话）、12395（水上遇险报警电话）等市报警平台，构成全天候全范围的行业应急预警网络
                </modify><span type="button"
                    class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                    data-content="换成自己市的">?</span>
                。
            </p>
            <p data-c="99_3_1" class="c">
                ② 信息受理和报告。预警原始信息接受单位负责对监测和收集的信息进行甄别核实；达到预警等级的，应立即向报告，确保应急处置相关方及时掌握预警讯情。
            </p>
            <p data-c="99_3_1" class="c">
                公共交通企业内部在突发事件所处一线基层单位、安全生产管理部门、安委会（安全生产领导小组）之间建立迅速有效的预警信息报告网络，必要时可同时越级报告，保障突发事件报告的时效性。
            </p>
            <p data-c="99_3_1" class="c">
                ③ 通讯渠道及相关要求。成员单位应保障预警渠道24小时畅通，通讯联络方式发生变化的，应及时向上级报告，并告知相关联动单位。
            </p>
            <p data-c="99_3_1" class="c">
                对于涉密信息，负责收集的相关单位应当遵守相应管理规定，做好信息保密工作。
            </p>

            <p  class="two c " data-c="99_3_2">3.2 预警分级</p>
            <p data-c="99_3_2" class="c">
                按照突发事件可能造成的后果，城市公共交通行业应急预警分为四级：Ⅰ级（特别重大，红色）、Ⅱ级（重大，橙色）、Ⅲ级（较大，黄色）、Ⅳ级（一般，蓝色）。
            </p>
            <p  class="two c " data-c="99_3_3">3.3 预警发布 </p>
            <p data-c="99_3_3" class="c">
                ①四级预警由事发地的区政府及其相关部门负责发布，市安监局、公安局、交通运输局提供应急指导和协助。
            </p>
            <p data-c="99_3_3" class="c">
                ② 三级预警由市应急救援指挥部发布。
            </p>
            <p data-c="99_3_3" class="c">
                ③ 二级预警由市应急救援指挥部报请省政府发布。
            </p>
            <p data-c="99_3_3" class="c">
                ④ 一级预警由市应急救援指挥部上报，国务院予以发布。
            </p>
            <p  class="two c " data-c="99_3_4">3.4 警后预防 </p>
            <p data-c="99_3_4" class="c">
                预警发布后，相关单位和部门根据预警的不同类别和级别，采取相对应的措施进行预防，并随预警级别调整变更预防措施，避免或减少突发事件的损害。
            </p>
            <p  class="one c " data-c="99_4">4 应急处置</p>
            <p  class="two c " data-c="99_4_1">4.1 信息报告</p>
            <p data-c="99_4_1" class="c">
                ①得到信息的单位（或个人）应当第一时间电话快报；1小时内做出书面报告；遇有情况变化时，立即补报，不得隐瞒不报或延迟误报。
            </p>
            <p data-c="99_4_1" class="c">
                根据突发事件性质，事发单位按规定报告的同时，可直接拨打市报警平台电话；根据突发事件等级，得到信息的单位除按规定层级报告，可同步越级上报相关情况。
            </p>
            <p data-c="99_4_1" class="c">
                ② 发生Ⅳ级以上突发事件的，应向市行业主管部门和公安、海事等相关管理部门和事发地的区政府报告；行业主管部门接报Ⅲ级及以上突发事件的，向市应急救援指挥部报告；应急救援指挥部接到Ⅱ级及以上突发事件的，向省政府报告，Ⅰ级突发事件在必要时可同时越级向国务院报告。
            </p>
            <p data-c="99_4_1" class="c">
                ③报告对突发事件的时间、地点、人员伤亡和重大财物损失等情况描述应符合客观，不得主观臆断或猜测。
            </p>
            <p  class="two c " data-c="99_4_2">4.2 先期处置</p>
            <p data-c="99_4_2" class="c">
                ①事故（件）的责任单位立即启动先期救援预案，紧急动员本单位及附近应急人员、车辆、应急设备等应急资源进行应急响应。
            </p>
            <p data-c="99_4_2" class="c">
                ②接报单位迅速核实突发事件情况，组织力量搜救伤亡人员，控制危害。
            </p>
            <p data-c="99_4_2" class="c">
                ③对可能导致次生、衍生灾害的突发事件，应果断控制和切断突发事件源，全力控制事态发展。
            </p>
            <p data-c="99_4_2" class="c">
                ④可能危害现场或周边地区群众的，实施现场人员紧急疏散，组织群众开展自救和互救。
            </p>
            <p data-c="99_4_2" class="c">
                ⑤开展紧急医疗救援，抢通、铺设救援通道。
            </p>
            <p data-c="99_4_2" class="c">
                ⑥利用广播、告示牌等方式发布危险或避险警告，对现场实行保护和警戒，维护治安秩序。
            </p>
            <p data-c="99_4_2" class="c">
                ⑦继续动态监测，核实信息。
            </p>
            <p data-c="99_4_2" class="c">
                ⑧采取其他必要的先期救援措施。
            </p>
            <p  class="two c " data-c="99_4_3">4.3 分级响应</p>
            <p data-c="99_4_3" class="c">
                ①响应级别。按照突发事件级别采取分级响应。响应行动级别分为4级：特别重大（Ⅰ级）、重大（Ⅱ级）、较大（Ⅲ级）、一般（Ⅳ级）。
            </p>
            <p data-c="99_4_3" class="c">
                （1） Ⅳ级突发事件的应急响应行动，
                <modify class="update">
                    在主城六区由市级行业主管部门发布，并组织实施。江宁、浦口、六合、高淳、溧水五区由事发地的区政府发布，并组织响应。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p data-c="99_4_3" class="c">
                （2） Ⅲ级突发事件由市应急救援指挥部发布,各成员单位根据预案实施响应行动。
            </p>
            <p data-c="99_4_3" class="c">
                （3）Ⅱ级突发事件由省应急指挥机构组织发布，并组织实施。市应急救援指挥部实施先期响应行动，并在Ⅱ级响应行动启动后服从升级调遣。
            </p>
            <p data-c="99_4_3" class="c">
                （4）Ⅰ级突发事件由国务院应急指挥机构组织发布，并组织实施。市应急救援指挥部根据省应急指挥机构部署，全力投入先期响应行动，并在Ⅰ级响应行动启动后服从升级调遣。
            </p>
            <p data-c="99_4_3" class="c">
                ②现场指挥
            </p>
            <p data-c="99_4_3" class="c">
                （1）按照属地管理原则，事发地政府或单位先期成立现场救援组织的临时应急指挥机构，领导先期处置工作。
            </p>
            <p data-c="99_4_3" class="c">
                （2）现场应急指挥部成立后吸纳临时应急指挥机构，统一组织开展应急救援行动。应急响应升级的，现场指挥部的指挥权呈上一级应急指挥机构。
            </p>
            <p data-c="99_4_3" class="c">
                （3）现场应急指挥部成员深入一线，关注事态发展，保障增援协调工作的效率，根据需要组织增援力量。
            </p>
            <p data-c="99_4_3" class="c">
                （4）增援单位的增援力量指定负责人带队，保障支援工作服从统一指挥，顺利展开应急响应行动。
            </p>
            <p data-c="99_4_3" class="c">
                ③协调联动
            </p>
            <p data-c="99_4_3" class="c">
                （1）部门联动。各个部门之间的协调联动，由各应急工作组的牵头单位负责，相关参与部门和单位应全力予以配合。
            </p>
            <p data-c="99_4_3" class="c">
                （2）行业联动。轨道交通、常规公交、出租汽车、轮渡行业内各企业之间联运保障行动，以及行业之间的相互保障衔接行动，由城市客运主管部门统一指挥，各单位根据指令积极组织救援力量响应行动。
            </p>
            <p data-c="99_4_3" class="c">
                （3）区域联动。本市跨区域的应急保障联动，由市应急救援指挥部组织协调；与外市之间的协调联动，服从省应急指挥机构统一调遣。
            </p>
            <p  class="two c " data-c="99_4_4">4.4 分类救援</p>
            <p data-c="99_4_4" class="c">
                应急救援工作组成员单位根据各自职责，按照突发事件类别开展救援工作。
            </p>
            <p data-c="99_4_4" class="c">
                ①  自然灾害类
            </p>
            <p data-c="99_4_4" class="c">
                因各类自然灾害导致人员伤亡的，根据市政府先期启动的相关专项预案进行处置，并立即开展人员抢救医治工作，导致公共交通中断或运行风险等情况，分类采取以下响应行动。
            </p>
            <p data-c="99_4_4" class="c">
                （1）暴雨、台风、 洪灾等灾害
            </p>
            <p data-c="99_4_4" class="c">
                发生洪灾、台风、暴雨等破坏性天气灾害，导致公共交通运力严重受损时，及时掌握灾害对公共交通的危害程度，了解公共交通动力堵塞、迟滞、毁损和储备情况等，做好应急期间的通信保障、公共交通保畅等工作。发生运力供应缺口严重，系统内运输能力不足以调配支援的，及时寻求行业外或区域外支援。
            </p>
            <p data-c="99_4_4" class="c">
                （3） 地震、地面塌陷、滑坡等灾害
            </p>
            <p data-c="99_4_4" class="c">
                遇有地震、地面塌陷、滑坡等地质灾害，导致公共交通运行的道路中断时，需对重点受灾区域实施现场警戒；加强公共交通线路的沿线巡视，关注灾情动态，及时采取必要的防范措施保护公共交通安全运行。优先恢复影响公共交通运行的道路、通信等运行条件和电力、油料等物资供应。
            </p>
            <p data-c="99_4_4" class="c">
                （4） 大雾、雾霾等灾害
            </p>
            <p data-c="99_4_4" class="c">
                遇有大雾、雾霾等能见度极低的天气灾害，导致大量公共交通车（船）不能正常运行甚至中断时，做好舆论宣传引导，动员广大市民减少出行，或通过自行车、步行等方式替代公交出行，分流公共交通积压客流；组织选派经验丰富、业务过硬的驾驶员队伍，配齐车（船）的雾灯、示廓灯、前后位灯等警示标志标识，加强沿线重点路段的人员巡视和引导，最大限度地提供公交安全出行保障；加强道路交通管制措施，适当控制非公共交通流量，保障公共交通的道路环境安全。
            </p>
            <p data-c="99_4_4" class="c">
                （5）冰冻、暴雪等灾害
            </p>
            <p data-c="99_4_4" class="c">
                遇有冰冻、暴雪等封堵道路的天气灾害，做好舆论宣传引导，动员广大市民减少出行；及时动用储备物资，全面开展路面破冰、防滑、融雪等应急工作，落实各单位“包干区”内的除雪、除冰责任，尽可能避免道路出现大面积的坚冰，保障道路交通功能；道路积冰严重时，公交车辆及时加装防滑链条，以防止侧滑侧翻事故。
            </p>
            <p data-c="99_4_4" class="c">
                ②  事故灾难类
            </p>
            <p data-c="99_4_4" class="c">
                （1） 公共汽车、出租汽车事故
            </p>
            <p data-c="99_4_4" class="c">
                遇有公共汽车、出租汽车安全事故时，应当实施安全警戒，隔离围观群众，严禁无关车辆及人员进入事故现场，必要时采取进一步交通管制，确保救援通道顺畅；对遇险和被困人员立即实施搜救，救援工作视情可采取破拆变形车厢外壳，调集大型牵引起重、切割机器到场协助救助积极抢救，用喷雾水冷却事故车辆油箱，用泡沫覆盖地面流淌的燃油，消除潜在危险，为营救被困人员创造条件；对重、危伤员进行初步的现场急救处理后，利用救护车或现场车辆迅速转送医院救治。事故处理结束后，公共交通应当在第一时间恢复受影响的运行线路。暂时难以恢复的，采取必要绕行替代措施，保障市民公交出行。
            </p>
            <p data-c="99_4_4" class="c">
                （2） 轨道交通事故
            </p>
            <p data-c="99_4_4" class="c">
                遇有事故时立即采取应急措施，禁止轨道列车继续驶入；开启逃生通道疏散乘客；隧道事故还应启动应急照明，有烟雾的启动排烟设备；组织灾情侦察，快速查明隧道内是否含有毒气体、有爆炸物品，是否会出现隧道桥梁垮塌危险，是否有人员被困等基本情况；实施现场安全警戒，划定警戒区域，控制灾害损失，防止次生、衍生事故发生，并将已进入车辆有序疏散到交通管制区域之外；派遣救护车辆到达现场，在安全地点紧急救护受伤人员，并及时送往医院；根据应急预案启动公共交通衔接保障方案，调集地面公共汽车保障市民基本出行需要。
            </p>
            <p data-c="99_4_4" class="c">
                有轨电车事故发生在平交路口的，需立即加强横向交通管制措施，避免出现大范围交通阻塞导致城市瘫痪。
            </p>
            <p data-c="99_4_4" class="c">
                （3）轮渡交通事故
            </p>
            <p data-c="99_4_4" class="c">
                遇有轮渡客运发生水上安全事故时，应实施水上交通监控管制，按照应急响应预案救援水上事故灾难，保障水路交通能力，尽快恢复轮渡客运；调集地面公交运力，做好长江两岸轮渡码头的客流运输衔接，保障轮渡乘客能及时通过长江隧桥公交流转。
            </p>
            <p data-c="99_4_4" class="c">
                ③ 公共卫生事件类
            </p>
            <p data-c="99_4_4" class="c">
                遇有公共卫生事件发生，及时划定卫生警戒控制区域，对受影响路段路口实施交通管制，按照交通分流预案进行路网分流；妥善安排公共交通乘客疏散，保障应急救援运输车辆通行顺畅；在公共交通场站等场所依法实施卫生检疫、设立临时卫生检疫站或者留验站；公共交通运输企业积极配合落实相关检疫、防疫工作，在做好自身防护工作的同时，保持公共交通运行。
            </p>
            <p data-c="99_4_4" class="c">
                ④ 社会安全事件类
            </p>
            <p data-c="99_4_4" class="c">
                遇有社会安全事件发生，及时划定警戒区域、疏散群众、维持公共交通运行秩序；封闭和疏导必要的交通道路，紧急设置禁行、绕道、危险等交通导改标志和警示标志，进入警戒状态；迅速对现场进行有效救援，实时监测相关公共交通设施损毁情况，做好乘客疏散工作，避免引发次生、衍生灾害；导致城市公共交通中断、阻塞、大量车辆积压、人员滞留的，及时组织相关调集运力予以支援，必要时可跨区域调集运力。
            </p>

            <p  class="two c " data-c="99_4_5">4.5 响应终止 </p>
            <p data-c="99_4_5" class="c">
                应急救援指挥部根据相关职能部门和专家建议，在应急响应行动达到以下效果后，宣布应急响应终止，并通知相关单位和公众。
            </p>
            <p data-c="99_4_5" class="c">
                （1）城市公共交通突发事件（故）的损害得到常态管控；
            </p>
            <p data-c="99_4_5" class="c">
                （2）受伤人员得到妥善救治；
            </p>
            <p data-c="99_4_5" class="c">
                （3）危害公共交通安全运行的因素得到消除；
            </p>
            <p data-c="99_4_5" class="c">
                （4）中断的公共交通得到基本恢复。
            </p>
            <p  class="two c " data-c="99_4_5">4.6 信息发布  </p>
            <p data-c="99_4_5" class="c">
                城市公共交通突发事件（故）信息发布工作由应急指挥部统一领导，新闻宣传部门统一管理，保障突发事件各阶段的信息发布及时、准确、公开。
            </p>
            <p  class="one c " data-c="99_5">5 善后处置</p>
            <p data-c="99_5" class="c">
                善后处置主要包括人员安置、补偿、恢复重建等工作。通过善后处置尽快消除事故影响，确保社会稳定。
            </p>
            <p  class="two c " data-c="99_5_1">5.1 人员处置 </p>
            <p data-c="99_5_1" class="c">
                ① 伤员救治。卫生部门组织相关医疗机构，保障获救伤病人员得到充分有效的医治。
            </p>
            <p data-c="99_5_1" class="c">
                ② 获救人员安置。民政部门或者获救人员所在单位负责妥善安置获救人员；市人民政府侨务办公室或市人民政府外事办公室负责港澳台或外籍获救人员的安置。
            </p>
            <p data-c="99_5_1" class="c">
                ③遇难人员的处置。民政部门、公安部门或者遇难人员所在单位负责遇难人员的处置；侨务办或外事办负责港澳台或外籍遇难人员的处置。
            </p>
            <p  class="two c " data-c="99_5_2">5.2 灾后重建</p>
            <p data-c="99_5_2" class="c">
                相关部门和单位尽快恢复突发事件造成的损害，保障公共交通客运服务尽快恢复到原有水平。
            </p>

            <p  class="two c " data-c="99_5_3">5.3 社会救助</p>
            <p data-c="99_5_3" class="c">
                民政部门负责组织对被救人员的社会救助。
            </p>

            <p  class="two c " data-c="99_5_4">5.4 保险</p>
            <p data-c="99_5_4" class="c">
                ①参加应急反应行动的应急人员由其所在单位办理人身意外伤害保险。
            </p>
            <p data-c="99_5_4" class="c">
                ② 突发事件造成的损害，保险单位应切实履行赔付义务，为被保单位和个人理赔提供便利。
            </p>


            <p  class="one c " data-c="99_6">6 调查评估  </p>
            <p  class="two c " data-c="99_6_1">6.1 评估总结 </p>
            <p data-c="99_6_1" class="c">
                应急处置工作结束后，相关部门和单位应对事件（事故）的后果及其影响进行评估，分析总结应急救援经验教训，提出改进应急工作建议，向应急指挥部办公室提交应急处置书面总结报告。应急指挥部办公室应会同有关单位对应急处置预案适时修订完善。
            </p>
            <p  class="two c " data-c="99_6_2">6.2 分析调查 </p>
            <p data-c="99_6_2" class="c">
                应急处置工作结束后，相关部门和单位应对事件（事故）的后果及其影响进行评估，分析总结应急救援经验教训，提出改进应急工作建议，向应急指挥部办公室提交应急处置书面总结报告。应急指挥部办公室应会同有关单位对应急处置预案适时修订完善。
            </p>

            <p  class="one c " data-c="99_7">7 应急保障</p>
            <p  class="two c " data-c="99_7_1">7.1 应急指挥保障 </p>
            <p data-c="99_7_1" class="c">
                城市公共交通突发事件现场指挥部地点就近事发地，便于掌握一线事态和应急响应效果，及时下达挥指命令。
            </p>
            <p  class="two c " data-c="99_7_2">7.2 应急通讯保障 </p>
            <p data-c="99_7_2" class="c">
                建立以保障公共交通突发事件应急响应为核心的通讯系统和保障制度，保障应急响应期间应急指挥部、各应急工作组、相关职能部门、参与应急工作的各单位及相互间通讯顺畅。
            </p>
            <p  class="two c " data-c="99_7_3">7.3 应急物资保障 </p>
            <p data-c="99_7_3" class="c">
                ① 相关部门根据职责分工、救援需要适当储备常备应急救援物资，保证应急救援的需求。
            </p>
            <p data-c="99_7_3" class="c">
                ②应急救援指挥部成员单位应建立现场救援和工程抢险装备数据库，并明确其类型、数量、性能和存放位置等。应急装备拥有部门和单位要建立相应的登记、维护、保养和调用等制度，确保应急状态时统一调配使用。
            </p>
            <p data-c="99_7_3" class="c">
                ③ 事发地的区政府依据有关法律法规，可及时动员和征用社会物资。
            </p>

            <p  class="two c " data-c="99_7_4">7.4 应急队伍保障 </p>
            <p data-c="99_7_4" class="c">
                ① 各交通运输生产单位应组建突发事件专业抢险救援队伍，定期培训和演练。
            </p>
            <p data-c="99_7_4" class="c">
                ② 应急工作组可动员机关团体、企事业单位、公益团体和志愿者队伍的社会力量参与相应的救援工作。
            </p>
            <p  class="two c " data-c="99_7_5">7.5 应急运输保障 </p>
            <p data-c="99_7_5" class="c">
                ① 跨区、跨部门的物资调用，由应急救援指挥部统一组织实施。
            </p>
            <p data-c="99_7_5" class="c">
                ② 交通运输部门协调运输力量，保障应急救援的人力、物力及时运送。
            </p>
            <p data-c="99_7_5" class="c">
                ③公安交管部门（陆上）和海事部门（水上）组织开设应急救援运送的通道，保障应急救援物资输送畅通。
            </p>

            <p  class="two c " data-c="99_7_6">7.6 公共客运保障 </p>
            <p data-c="99_7_6" class="c">
                ① 运能保障。各企业应按营运车（船）的技术状况等配置足够的运能储备，保障应急时能及时投入运行。
            </p>
            <p data-c="99_7_6" class="c">
                ② 保障调度指向
            </p>
            <p data-c="99_7_6" class="c">
                （1） 按照各单位内部的就近调度原则，由本单位组织调度应急救援力量实施保障。
            </p>
            <p data-c="99_7_6" class="c">
                （2）
                <modify class="update">
                    地面公交需要跨企业调度救援力量时，江南公交公司的北部线路从扬公交公司调度，南部线路从东山公交公司调度；扬子公交公司从江南公交公司调度；东山公交公司从江南公交公司调度。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p data-c="99_7_6" class="c">
                （3）
                <modify class="update">
                    轨道交通因路轨不具备正常通行能力或备用的列车和乘员不足以承担保障供应的，由地面公交企业根据事发地段划分承担应急增援任务：主城区由江南公交公司负责；江北地区由扬子公交公司负责；江宁、高淳、溧水分别由各区内公交企业负责。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p data-c="99_7_6" class="c">
                （4）
                <modify class="update">
                     轮渡公司因航线不符合通行要求或备用船只、乘员不足以承担客运任务的，由从扬子公交公司组织调度增援力量；扬子公交公司调度增援不足的，由江南公交公司组织增援。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p data-c="99_7_6" class="c">
                （5） 城市公共交通行业应急保障力量不足时，由应急指挥部现场组织调度长途客运等应急力量增援，或请求省级应急机构启动跨市域的增援调度预案。
            </p>
            <p data-c="99_7_6" class="c">
                ③ 增援车辆和人员要求
            </p>
            <p data-c="99_7_6" class="c">
                （1） 接受指令参与保障车辆应性能良好，符合支持线路工况要求。主要包括：待援线路存在坡道的，应保障增援车辆具备相应的爬坡动力；待援线路存在道路窄小的运营区段，应保障增援车辆的宽度不超限，等等。
            </p>
            <p data-c="99_7_6" class="c">
                （2） 参与保障支援的驾驶员，应具有3年以上驾年，通过日常应急演训考核，对赴援线路的运行环境有所了解。
            </p>
            <p data-c="99_7_6" class="c">
                （4） 保障支援队伍应当有专人负责现场指挥调度，直至线路恢复正常运行。
            </p>
            <p data-c="99_7_6" class="c">
                ④ 应急调动的指向预案由行业主管部门制定，并根据公共交通线网布局调整情况及时变更。
            </p>
            <p data-c="99_7_6" class="c">
                由于轨道交通日常客运量较大，地面公交应合理布局与其运行方向一致或大致相同的运营线路，并根据客流变化等及时优化调整，确保相应的纵向公交应急保障力量在必要时得以顺利展开。
            </p>


            <p  class="two c " data-c="99_7_7">7.7 经费保障 </p>
            <p data-c="99_7_7" class="c">
                由市、区两级财政统筹安排。特殊情况下需要采购的应急物资，按分级负责原则，由交运部门组织管理。企业常备物资经费由企业自筹资金解决。
            </p>

            <p  class="two c " data-c="99_7_8">7.8 宣传、培训与演练 </p>
            <p data-c="99_7_8" class="c">
                ① 通过各种新闻媒体和其他宣传方法向公众宣传、普及城市公共交通安全及应急救援的基本概念与知识，提高公众应急反应素质。
            </p>
            <p data-c="99_7_8" class="c">
                ② 各应急保障单位有计划地开展应急响应的培训和演练工作，保持应急队伍具备熟练正确开展应急响应行动的能力。
            </p>
            <p data-c="99_7_8" class="c">
                ③ 突发事件应急救援指挥部定期组织各成员单位进行突发事件的应急演练，保持各成员单位熟练掌握应急救援和协作联动预案诸要素，强化应急救援的协同能力。
            </p>


            <p  class="one c " data-c="99_8">8 附 则 </p>
            <p  class="two c " data-c="99_8_1">8.1 预案制定与发布 </p>
            <p data-c="99_8_1" class="c">
                本案由市交通运输局牵头，会同有关部门制定，报市人民政府批准后发布。
            </p>
            <p  class="two c " data-c="99_8_2">8.2 预案解释 </p>
            <p data-c="99_8_2" class="c">
                本预案由市交通运输局负责解释。
            </p>
            <p  class="two c " data-c="99_8_3">8.3 预案管理与更新  </p>
            <p data-c="99_8_3" class="c">
                市交通运输局牵头，根据突发事件（故）救援情况的总结评价及在实施中发现的问题及时进行相应修订和更新补充。
            </p>
            <p  class="two c " data-c="99_8_4">8.4 奖惩制度  </p>
            <p data-c="99_8_4" class="c">
                对在应急工作中做出突出贡献的集体和个人给予表彰和奖励；对玩忽职守、不认真履行职责、擅离职守并造成严重后果的责任单位和个人依法追究责任。
            </p>
            <p  class="two c " data-c="99_8_5">8.5 预案的生效   </p>
            <p data-c="99_8_5" class="c">
                本案自发布之日起实施。
            </p>



            <!--            断点广州-->
            <p class="one c" data-c='88_1'>1 总则</p>
            <p class="two c" data-c='88_1_1'>1.1 编制目的</p>
            <p class=" c"  data-c='88_1_1'>
                　　为建立健全本市道路交通事故应急救援机制，明确政府和相关部门的应急职责，快速、高效、安全实施道路交通事故救援工作，减少道路交通事故造成的人员伤亡和财产损失，确保道路交通安全畅通、治安秩序良好，维护社会稳定。
            </p>
            <p class="two c" data-c='88_1_2'>1.2 编制依据</p>
            <p class=" c" data-c="88_1_2">
                依据
                <modify class="update">
                    《中华人民共和国突发事件应对法》、《中华人民共和国道路交通安全法》、《中华人民共和国道路交通安全法实施条例》、《广东省道路交通安全条例》和广州市突发事件总体应急预案等有关法律、法规，结合本市实际，
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的预案">?</span>
                规范性文件，制定本预案。
            </p>
            <p class="two c" data-c='88_1_3'>1.3 工作原则</p>
            <p class=" c"  data-c='88_1_3'>
                坚持“以人为本、预防为主、属地处置、分级管理、逐级负责”的基本原则;强化抢救意识和大局观念，统一指挥，明确分工，各尽其责，协同作战，保证救援工作高效、快速、有序。
            </p>
            <p class="two c" data-c='88_1_4'>1．4 适用范围</p>
            <p class=" c"  data-c='88_1_4'>
                本预案适用于本市范围内发生的较大级别以上道路交通事故的应急救援工作，一般级别以下道路交通事故的应急救援工作由属地区、县级市政府负责。危险化学品道路运输交通事故的应急救援工作另行制定预案。
            </p>


            <p class="one c" data-c='88_2'>2 应急组织体系及职责</p>
            <p class="two c" data-c='88_2_1'>2.1 道路交通事故应急救援指挥部</p>
            <p class=" c"  data-c='88_2_1'>
                市人民政府成立市道路交通事故应急救援指挥部(以下简称指挥部)，负责较大以上道路交通事故的应对工作。
            </p>
            <p class=" c"  data-c='88_2_1'>
                ①组成人员及单位
            </p>
            <p class=" c"  data-c='88_2_1'>
                指挥部组成
            </p>
            <p class=" c" data-c="88_2_1">
                <modify class="update">
                    总指挥：由市人民政府分管道路交通安全的副市长担任。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_1">
                <modify class="update">
                    副总指挥：由分管道路交通安全工作的市政府副秘书长，市公安局分管交通安全的负责人，市交委、市安全监管局、市应急办、市公安消防局主要负责人担任。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_1">
                成员：市委宣传部、市经贸委、市公安局、市监察局、市民政局、市财政局、市人力资源和社会保障局、市环保局、市建委、市交委、市农业局、市卫生局、市城管委、市质监局、市安全监管局、市金融办、市应急办、市公安消防局、各区(县级市)政府、
                <modify class="update">
                    广州交投集团等单位分管负责人
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                。
            </p>

            <p class=" c"  data-c='88_2_1'>
                指挥部下设办公室(以下简称指挥部办公室)和现场指挥部。
            </p>
            <p class=" c"  data-c='88_2_1'>
                指挥部办公室设在市公安局，负责指挥部日常工作，组织协调相关成员单位和区(县级市)人民政府开展道路交通事故应急救援工作。
            </p>
            <p class=" c"  data-c='88_2_1'>
                　　现场指挥部指挥长(以下简称指挥长)由总指挥任命或公安部门负责人担任，负责组织实施应急救援工作。
            </p>
            <p class=" c"  data-c='88_2_1'>
                ②指挥部的主要职责
            </p>
            <p class=" c"  data-c='88_2_1'>
                (1)发布启动和解除道路交通事故应急预案的命令；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (2)按照本预案程序，组织协调并指挥道路交通事故应急预案的实施；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (3)根据交通事故发生情况，统一部署应急预案的实施工作；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (4)随时掌握本预案实施情况，并对本预案实施过程中遇到的问题采取应急处理措施；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (5)向公众、新闻媒体发布有关信息；
            </p>
            <p class=" c"  data-c='88_2_1'>
                (6)向市政府报告事故处理情况。
            </p>

            <p class="two c" data-c='88_2_2'>2.2 现场指挥部 </p>
            <p class=" c"  data-c='88_2_2'>
                ①现场指挥部实行指挥长负责制
            </p>
            <p class=" c"  data-c='88_2_2'>
                事故发生地区(县级市)政府负责人以及市指挥部各成员单位负责人为现场指挥部成员。在指挥长未到达现场前，由事故发生地区(县级市)政府负责人暂时履行指挥长的职责。
            </p>
            <p class=" c"  data-c='88_2_2'>
                ②现场指挥部主要职责
            </p>
            <p class=" c"  data-c='88_2_2'>
                (1)指挥、协调道路交通事故现场的应急救援工作;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (2)及时向指挥部汇报现场人员伤亡及伤员抢救工作进展情况;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (3)划定事故现场的警戒范围，实施必要的交通管制及其他强制性措施;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (4)迅速控制因交通事故引发的火灾事故;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (5)组织营救受害人员，转移、撤离、疏散可能受到事故危害的人员和重要财产，最大限度地减少人员伤亡，降低财产损失;
            </p>
            <p class=" c"  data-c='88_2_2'>
                (6)提出应急救援工作结束建议。
            </p>

            <p class="two c" data-c='88_2_3'>2.3 交通事故现场救援分工</p>
            <p class=" c"  data-c='88_2_3'>
                成立8个专业组
            </p>
            <p class=" c"  data-c='88_2_3'>
                ①抢险组：市公安消防局牵头，市交委、市环保局、市建委、市安全监管局、市公安局、属地区(县级市)政府、事故单位参加，负责现场抢险、搜救人员、抢修设施、环境监测、畅通信息、消除险情等工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ②技术指导组：市公安局牵头，市交委、市安全监管局、事故单位专业技术人员参加，负责现场抢险技术方案的制定和抢险救援中的技术指导等工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ③现场警戒组：市公安局牵头，市交委、市城管委、属地区(县级市)政府参加，负责现场警戒、维护秩序、疏导交通、疏散群众及伤亡人员身份确认等工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ④医疗救护组：市卫生局负责现场伤员抢救和治疗工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ⑤物资保障组：由属地区(县级市)政府和事故单位牵头，市发展改革委、市经贸委、市交委、市民政局、市城管委配合做好事故现场抢险物资装备供应及其他后勤保障工作。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ⑥善后处理组：属地区(县级市)政府牵头，市民政局、市公安局、市人力资源和社会保障局、市总工会、市金融办、事故单位参加，负责伤亡家属接待及安抚，处理善后事宜。
            </p>
            <p class=" c"  data-c='88_2_3'>
                ⑦新闻信息组：市委宣传部牵头，市公安局、市交委、市安全监管局、属地区(县级市)政府参加，负责舆情应对、记者管理以及事故情况的收集、整理、报告等工作。
            </p>
            <p class=" c" data-c="88_2_4">
                ⑧事故调查组：市安全监管局牵头，市监察局、市交委、市公安局、属地区(县级市)政府参加，负责道路运输经营活动中发生的较大以上交通事故的调查处理，分析事故原因，会同生产安全事故调查组各成员单位，按照事故处理“四不放过”的原则，制定防范事故重复发生的安全措施，按照有关规定，提交事故调查报告书。对因非道路运输经营活动中发生的较大以上交通事故，由市公安局按照
                <modify class="update">
                    《广州市道路交通安全事故报告和调查处理工作规定》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                调查处理。
            </p>


            <p class="two c" data-c='88_2_4'>2.4　指挥部各成员单位职责</p>
            <p class=" c"  data-c='88_2_4'>
                (1)市委宣传部：负责指导舆情应对和记者管理工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (2)市经贸委：协调有关企业做好药品等储备物资的供应工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (3)市公安局：负责提出启动应急响应的建议，控制事故现场秩序，现场警戒，交通管制，维护事故现场及周围地区的治安秩序;开展事故现场抢险救援工作，控制险情，以及调查事故原因;确认伤亡人员身份，参与事故查处和理赔调解。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (4)市监察局：负责对本预案实施过程中的违法、违纪行为进行责任追究。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (5)市民政局：负责制定伤亡人员的抚恤、救济发放方案，指导、督促落实伤亡人员的抚恤、救济经费发放;会同事故发生地区(县级市)政府负责做好受灾群众的救助等相关善后工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (6)市财政局：负责审核道路交通事故应急救援经费预算。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (7)市人力资源和社会保障局：负责协助道路交通事故的善后处置工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (7)市人力资源和社会保障局：负责协助道路交通事故的善后处置工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (8)市环保局：负责组织对道路交通事故现场的空气、土壤、水源进行应急监测;调查因道路交通事故引起的污染和生态破坏事件;发布环境污染的信息。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (9)市建委：负责组织对市政道路、桥梁的抢修工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (10)市交委：负责组织协调高速公路、桥梁的抢险工作;组织道路交通事故应急救援的运输车辆，按照指挥部确定的目的地运送撤离人员和救援物资。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (11)市农业局：负责协助处置农业机械交通事故。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (12)市卫生局：负责组织调度医疗卫生队伍，对道路交通事故中的伤员实施紧急医学救援;组织做好伤员收治和抢救工作，必要时，组织抽调医疗专家参与会诊和技术指导，保证伤员得到及时治疗，减少人员伤亡;提供伤员救治和转归情况。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (13)市城管委：负责相关公共区域弃物的清洁与清理。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (14)市质监局：负责提出槽罐车道路交通事故中涉及压力容器特种设备的处置方案，提供技术支持和事后调查工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (14)市质监局：负责提出槽罐车道路交通事故中涉及压力容器特种设备的处置方案，提供技术支持和事后调查工作。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (15)市安全监管局：负责牵头对道路运输经营活动中发生的较大以上交通事故的调查处理。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (16)市金融办：负责协调保险公司依法支付伤者抢救费用。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (17)市应急办：负责协助总指挥做好事故应急处置工作，做好信息报送、综合协调，督促检查落实市领导有关批示、指示。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (18)市公安消防局：负责破拆车辆消除险情，解救被困人员。
            </p>
            <p class=" c"  data-c='88_2_4'>
                (19)各区(县级市)人民政府：协助指挥部开展发生在本区域的事故控制，人员救助、人员疏散、秩序维护、救援保障、受灾群众安抚等各项工作;向指挥部提出道路交通事故中须转运疏散人员的应急安置点建议。
            </p>
            <p class=" c" data-c="88_2_4">
                <modify class="update">
                    (20)广州交投集团：负责协助处置发生在本集团投资建设道路的交通事故救援工作。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>

            <p class=" c"  data-c='88_2_4'>
                其他市级有关部门和单位，根据道路交通事故救援工作需要，在指挥部的组织、协调下，做好相关工作。
            </p>


            <p class="one c" data-c='88_3'>3 预测预警预防机制</p>
            <p class="two c" data-c='88_3_1'>3.1 预测预警预防信息</p>
            <p class=" c"  data-c='88_3_1'>
                公安机关、各级人民政府应当做好道路交通事故的信息收集、处置工作，对道路交通事故多发点段，要发出危险警示，加大道路交通安全宣传力度和对不安全因素的治理力度，消除道路交通安全隐患。
            </p>
            <p class="two c" data-c='88_3_2'>3.2　预测预警预防措施</p>
            <p class=" c" data-c="88_3_2">
                ①各级人民政府、各有关部门和道路运输单位应按照
                <modify class="update">
                    《中华人民共和国道路交通安全法》、《中华人民共和国道路交通安全法实施条例》、《广东省道路交通安全条例》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                等法律、法规规定，积极做好道路交通事故预防工作，全力遏制道路交通事故。
            </p>
            <p class=" c"  data-c='88_3_2'>
                ②各级人民政府、各有关部门要建立健全道路交通安全预警预防机制，严格驾驶人培训、考试和车辆检验，加强路面行车秩序管理，加大对交通违法的处罚力度，监督道路交通运输企业落实安全生产责任制，规范机动车的生产、改装，积极改造道路危险路段。采取多种形式深入道路沿线、农村、企事业单位、学校开展道路交通安全宣传教育。
            </p>
            <p class="two c" data-c='88_3_3'>3.3　预测预警预防支持系统</p>
            <p class=" c"  data-c='88_3_3'>
                各级人民政府要积极采取措施，建立健全本地区道路交通事故应急预案和工作机制，明确责任部门，加强组织建设，不断提高预防、应急处置能力。
            </p>


            <p class="one c" data-c='88_4'>4 应急响应</p>
            <p class="two c" data-c='88_4_1'>4.1 响应分级、程序和内容</p>
            <p class=" c"  data-c='88_4_1'>
                ①响应分级
            </p>
            <p class=" c"  data-c='88_4_1'>
                (1)一般事故，是指发生造成3人以下死亡，或者10人以下重伤，或者1000万元以下直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                (2)较大事故，是指造成3人以上10人以下死亡，或者10人以上50人以下重伤，或者1000万元以上5000万元以下直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                (3)重大事故，是指造成10人以上30人以下死亡，或者50人以上100人以下重伤，或者5000万元以上1亿元以下直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                (4)特别重大事故，是指造成30人以上死亡，或者100人以上重伤，或者1亿元以上直接经济损失的事故。
            </p>
            <p class=" c"  data-c='88_4_1'>
                ②响应程序
            </p>
            <p class=" c"  data-c='88_4_1'>
                发生道路交通事故后,分级启动应急响应。达到本预案启动条件的，启动本预案及以下各级预案;超出本级应急救援处置能力的，启动本预案的同时，请求上一级应急救援指挥机构启动上一级应急预案。
            </p>
            <p class=" c"  data-c='88_4_1'>
                ③响应内容
            </p>
            <p class=" c"  data-c='88_4_1'>
                (1)市公安局根据事故现场情况，认为需要启动应急响应的，应立即通知指挥部相关成员单位，并报告市应急办(市政府总值班室);
            </p>
            <p class=" c"  data-c='88_4_1'>
                (2)市有关部门接报后，按其职责立即赶赴现场开展工作，直至事故灾难消除为止;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (3)指挥部办公室开通与事故发生地应急救援指挥机构、现场指挥部、各专业组的通信联系，随时掌握事故进展情况;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (4)根据专家和各专业组的建议，现场指挥部确定事故救援方案;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (5)根据需要，指挥部办公室派出有关人员和邀请专家赶赴现场参加、指导现场应急救援;
            </p>
            <p class=" c"  data-c='88_4_1'>
                (6)超出本级应急救援处置能力时，指挥部办公室及时报告市应急办(市政府总值班室)请求上级支援。
            </p>

            <p class="two c" data-c='88_4_2'>4.2　信息报送 </p>
            <p class=" c"  data-c='88_4_2'>
                发生道路交通事故，立即按规定逐级上报信息。涉及上报事故伤亡人数的，以市公安局核实确定后的数字为准。
            </p>

            <p class="two c" data-c='88_4_3'>4.3　现场施救 </p>
            <p class=" c"  data-c='88_4_3'>
                在急救、医疗人员到达现场之前，救援人员应当按照救护操作规范，进行应急处置。急救、医疗部门人员到达现场后，由急救、医疗人员组织抢救受伤人员。市卫生局负责组织开展对事故伤亡人员实施紧急医学救援，根据现场需要，及时协调有关医疗救护专家和药品装备进行支援。市公安局应当积极协助运送伤员，必要时征用过往车辆。
            </p>
            <p class=" c"  data-c='88_4_3'>
                市公安局根据现场指挥部的决定，负责在道路上设立警戒区，实施交通管制，禁止无关车辆和人员进入，疏散警戒区内的车辆和人员;在警戒区外围交通要道和交叉路口设立标志，组织交通分流;清理通道，维护交通秩序，保障参加排险、救援车辆、设备顺利进入现场。
            </p>
            <p class=" c"  data-c='88_4_3'>
                市公安局根据现场指挥部的决定，负责在道路上设立警戒区，实施交通管制，禁止无关车辆和人员进入，疏散警戒区内的车辆和人员;在警戒区外围交通要道和交叉路口设立标志，组织交通分流;清理通道，维护交通秩序，保障参加排险、救援车辆、设备顺利进入现场。
            </p>

            <p class="two c" data-c='88_4_4'>4.4　应急人员的安全防护 </p>
            <p class=" c"  data-c='88_4_4'>
                市公安局视情设置事故现场警戒线，市公安消防局协助做好防护工作，指导进入现场人员着防护服，佩戴安全防护用具。
            </p>

            <p class="two c" data-c='88_4_5'>4.5 群众的安全防护</p>
            <p class=" c"  data-c='88_4_5'>
                根据事故的实际情况，现场指挥部负责决定实施交通管制，指挥疏散现场人员，防止事故扩大和蔓延，造成其他人员伤害。
            </p>

            <p class="two c" data-c='88_4_6'>4.6 事故的调查处理及损失评估</p>
            <p class=" c"  data-c='88_4_6'>
                事故的调查处理及损失评估按照有关规定进行。
            </p>

            <p class="two c" data-c='88_4_7'>4.7 新闻报道</p>
            <p class=" c"  data-c='88_4_7'>
                道路交通事故的新闻报道，由指挥部确定新闻发言人，按照突发事件新闻报道的有关规定向社会和媒体通报有关情况。
            </p>

            <p class="two c" data-c='88_4_8'>4.8 应急结束</p>
            <p class=" c"  data-c='88_4_8'>
                道路交通事故现场清理完毕，交通恢复正常秩序，受伤人员得到妥善医治，应视为应急结束。必要时，由指挥部宣布结束应急响应。
            </p>

            <p class="one c" data-c='88_5'>5 后期处理</p>
            <p class="two c" data-c='88_5_1'>5.1 后期处理</p>
            <p class=" c"  data-c='88_5_1'>
                事故发生地区(县级市)人民政府具体负责善后处置工作。对伤亡人员的善后处置，根据国家现行有关法律、法规等有关规定进行。
            </p>
            <p class="two c" data-c='88_5_2'>5.2 保险、社会救助基金</p>
            <p class=" c"  data-c='88_5_2'>
                发生道路交通事故时，保险机构和道路交通事故社会救助基金管理机构要及时赶赴事故现场，及时支付或垫付相关费用，开展应急救援人员现场保险和伤亡人员及财产保险的理赔工作。
            </p>



            <p class="one c" data-c='88_6'>6 保障措施</p>
            <p class="two c" data-c='88_6_1'>6.1 </p>
            <p class=" c"  data-c='88_6_1'>
                市公安局、市卫生局等有关部门根据道路交通事故救援体系建设规划，协调、检查、促进应急救援队伍培训，不断提高战斗力，保证应急状态的调用
            </p>
            <p class=" c"  data-c='88_6_1'>
                市公安局、市卫生局等有关部门根据道路交通事故救援体系建设规划，协调、检查、促进应急救援队伍培训，不断提高战斗力，保证应急状态的调用
            </p>
            <p class="two c" data-c='88_6_2'>6.2 </p>
            <p class=" c"  data-c='88_6_2'>
                启动应急预案期间，市公安局根据需要实施交通管制，市交委负责调动道路交通工具，保障应急处置期间的交通运输。
            </p>
            <p class="two c" data-c='88_6_3'>6.3 </p>
            <p class=" c"  data-c='88_6_3'>
                市卫生局根据交通事故受伤人员的情况，调配医疗卫生机构，调集医疗急救人员，保证受伤人员抢救工作。市卫生局在确定救治伤员的医疗机构后，将各医疗机构伤员的分配情况反馈给市公安局，以便市公安局及时派员前往各医疗机构核实伤员的身份和伤势情况。
            </p>
            <p class="two c" data-c='88_6_4'>6.4 </p>
            <p class=" c"  data-c='88_6_4'>
                市公安局安排足够的警力做好应急期间有关场所的治安保卫工作，组织巡逻查控，防止无关人员进入警戒区，协助抢救伤者、疏散危险区的人员迅速撤至安全地带，配合政府利用通告、广播等形式将事故有关情况及处置措施向群众通报，稳定群众情绪，维护治安秩序和社会稳定。
            </p>
            <p class=" c" data-c="88_6_5">
                各级人民政府要将道路交通事故应急抢险和救援工作经费纳入财政预算。
                <modify class="update">
                    涉及应急抢险救灾工程的，按照《广州市应急抢险救灾工程管理办法》执行，涉及劳务支出的按照有关规定办理。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="根据自己市的进行替换">?</span>
=            </p>

            <p class="one c" data-c='88_7'>7 宣传、培训和演练</p>
            <p class="two c" data-c='88_7_1'>7.1 宣传、培训</p>
            <p class=" c"  data-c='88_7_1'>
                各级人民政府及有关部门要利用电视、广播、报刊等新闻媒体以及互联网，广泛宣传道路交通安全法律、法规和道路交通事故的预防、避险、自救、互救的常识和办法。
            </p>
            <p class="two c" data-c='88_7_2'>7.2 演练</p>
            <p class=" c"  data-c='88_7_2'>
                市公安局牵头会同有关部门，每两年组织至少1次演练。
            </p>



            <p class="one c" data-c='88_8'>8 附则</p>
            <p class="two c" data-c='88_8_1'>8.1 名词术语</p>
            <p class=" c"  data-c='88_8_1'>
                本预案所称“以上”含本数，“以下”不含本数。
            </p>
            <p class="two c" data-c='88_8_2'>8.2 预案修订与解释</p>
            <p class=" c"  data-c='88_8_2'>
                本预案由市公安局负责组织修订和解释。
            </p>
            <p class="two c" data-c='88_8_3'>8.3 责任与奖惩</p>
            <p class=" c"  data-c='88_8_3'>
                对实施本应急预案表现突出的单位和人员，依据国家有关规定，给予表彰和奖励;对于玩忽职守、严重失职造成事故的有关责任人，要依据有关规定追究责任，构成犯罪的，依法追究刑事责任。
            </p>
            <p class="two c" data-c='88_8_4'>8.4 实施时间</p>
            <p class=" c"  data-c='88_8_4'>
                本预案自印发之日起实施。
            </p>





        </div>





        <p align="center" class="button-style"><a href="javascript:void(0)">下载生成的预案</a></p>
        <!-- <p class="button-style"><a align="center">More Details</a></p> -->
        <!-- </div> -->
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/jquery.wordexport.js"></script>
<script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script>
    // var modify = document.getElementById("update");
    // modify.setAttribute("contenteditable", "true");
    $(function () {
        $(function () {
            $("[data-toggle='popover']").popover();
        });
        $(document).on('click','.update',function(){
            $(this).attr("contenteditable", "true");
            $('body').find('.popover').popover('hide');
        });

        $(".button-style").click(function () {

            $(".cont").wordExport("交通突发事件预案");
            //fileName为导出的word文件的命名
        });
        var curCata = window.location.href.split('=')[1];
        var c2 = curCata;
        // var curCata = localStorage.getItem("chkArr");
        // localStorage.removeItem("chkArr");
        var aa1Str = '';
        if(c2){
            var cc2Arr = curCata.split(',');
            // $('.c').each(function(i,e){
            //     var c = $(this).attr('data-c');
            //     if(curCataArr.indexOf(c) < 0){
            //         $(this).remove();
            //     }
            // });
            for (var i =  0; i < cc2Arr.length; i++) {
                $('.cont .c[data-c="'+cc2Arr[i]+'"]').each(function(){
                    var c = $(this).attr('data-c');
                    if($(this).hasClass('one')){
                        aa1Str += '<div class="one c" data-c="'+c+'">'+localStorage.getItem(c)+'</div>';
                    }else if($(this).hasClass('two')){
                        aa1Str += '<div class="two c" data-c="'+c+'">'+localStorage.getItem(c)+'</div>';
                    }else{
                        aa1Str += '<div class="c" data-c="'+c+'">'+$(this).html()+'</div>';
                    }
                });
            }


        }
        $('.cont').empty().append(aa1Str);
        $('body').removeClass('hide');
    });
</script>
</body>

</html>