<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>预案生成</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body class="hide">
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <!-- <h1><a href="#">洪涝预案</a></h1> -->
        </div>
        <!-- 		<div id="menu">
        <ul>
            <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
            <li><a href="#" accesskey="2" title="">Our Clients</a></li>
            <li><a href="#" accesskey="3" title="">About Us</a></li>
            <li><a href="#" accesskey="4" title="">Careers</a></li>
            <li><a href="#" accesskey="5" title="">Contact Us</a></li>
        </ul>
    </div> -->
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer-content">
        <h2><span>交通突发事件预案</span> </h2>
        <div class="cont">

            <!--            断点深圳-->
            <p  class="one c " data-c="1">1 总则</p>
            <p  class="two c " data-c="1_1">1.1 编制目的</p>
            <p data-c="1_1" class="c">
                为有效预防、及时处置
                <modify class="update">
                    深圳市
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己的市">?</span>
                各类道路交通（含桥梁、隧道）突发事件，最大程度地减少道路交通突发事件及其造成的人员伤亡和财产损失，提高本市应对道路交通突发事件的快速反应能力和应急处置能力，保障经济持续稳定发展和城市安全运行，特制订本预案。
            </p>

            <p class="two c 1_2" data-c="1_2">1.2 编制依据</p>
            <p data-c="1_2" class="c">
                依据
                <modify class="update">
                    中华人民共和国道路交通安全法》、《中华人民共和国安全生产法》、《中华人民共和国消防法》、《中华人民共和国道路运输条例》、《城市道路管理条例》、《广东省突发事件总体应急预案》、《广东省道路运输保障应急预案》、《深圳市突发事件总体应急预案》、《深圳市城市道路管理办法》和《深圳市交通抢险工程管理办法》
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="替换成自己所需的对应的法案">?
                </span>
                等法律法规和有关规定，制定本预案。
            </p>
            <p class="two c" data-c="1_3"> 1.3 工作原则</p>
            <p data-c="1_3" class="c">
                （1）坚持以人为本。以保障人民群众生命财产安全为出发点和落脚点，最大程度地减少道路交通突发事件造成的人员伤亡和财产损失。
            </p>
            <p data-c="1_3" class="c">
                （2）统一领导，职责明确，分工协作，分级管理，分级响应。
                <modify class="update">
                    在深圳市政府统一领导下，市区两级政府相关职能部门按照各自职责、分工、权限和本预案的规定，共同做好道路交通突发事件应急救援处置工作。
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="可以适当修改成自己市的说法">?
                </span>
            </p>
            <p data-c="1_3" class="c">
                （3）相互协调，有效应对。各相关单位或职能部门应积极配合、密切协作、整合资源、信息共享、形成合力，保证道路交通突发事件信息的及时准确传递、发布，高效有序地开展处置工作。
            </p>
            <p data-c="1_3" class="c">
                （4）坚持预防为主，常备不懈。积极采用先进的预测、预防、预警和应急处置技术，提高道路交通突发事件防范水平；不断完善道路交通突发事件应急救援体系建设，提高救援装备技术水平和应急救援能力。
            </p>

            <p class="two c" data-c="1_4"> 1.4 突发事件分类分级</p>
            <p data-c="1_4" class="c">
                ①.分类。
            </p>
            <p data-c="1_4" class="c">
                根据造成道路交通突发事件的原因及其影响，将
                <modify class="update">
                    深圳市
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
                道路交通突发事件分类如下：
            </p>
            <p data-c="1_4" class="c">
                （1）道路坍塌。道路路基、路面全部或局部、高边坡发生塌陷，造成交通流持续中断，严重影响交通通行的事故。
            </p>
            <p data-c="1_4" class="c">
                （2）桥梁事故。桥梁发生倒塌、断裂或结构异常、发生较大损坏，危及桥梁行车安全的事故。
            </p>
            <p data-c="1_4" class="c">
                （3）隧道事故。隧道发生坍塌或衬砌发生变形，危及隧道行车安全的事故。
            </p>
            <p data-c="1_4" class="c">
                （4）其他设施损毁。道路交通设施损毁影响道路交通乃至中断，或造成人员伤亡的事故。
            </p>
            <p data-c="1_4" class="c">
                ②.分级。
            </p>
            <p data-c="1_4" class="c">
                按照可控性、严重程度和影响范围，道路交通突发事件可分为一般（Ⅳ级）、较大（Ⅲ级）、重大（Ⅱ级）和特别重大（Ⅰ级）四个等级。
            </p>
            <p data-c="1_4" class="c">
                （1）一般道路交通突发事件（Ⅳ级）。
            </p>
            <p data-c="1_4" class="c">
                事态比较简单，仅对较小范围内的公共安全、社会政治经济秩序以及生态环境造成危害或者威胁，符合以下几类情况的事件可视为一般道路交通突发事件：
            </p>
            <p data-c="1_4" class="c">
                a.造成3人以下死亡，或10人以下重伤（中毒），或危及3人以下生命安全；需要紧急疏散、转移较小区域范围内的人员。
            </p>
            <p data-c="1_4" class="c">
                b.道路交通设施轻微损伤，导致交通需要部分封闭或改道，交通抢险工程规模1000万元以下；直接经济损失1000万元以下。
            </p>
            <p data-c="1_4" class="c">
                较大道路交通突发事件（Ⅲ级）。
            </p>
            <p data-c="1_4" class="c">
                事态较为复杂，对一定区域内的公共安全、社会经济秩序以及生态环境造成较大危害或者威胁。符合以下几类情况的事件可视为较大道路交通突发事件：
            </p>
            <p data-c="1_4" class="c">
                a.造成3人以上、10人以下死亡（含失踪），或危及3人以上、10人以下生命安全，或10人以上、50人以下重伤（中毒）；需要紧急疏散、转移一定区域范围内的人员。
            </p>
            <p data-c="1_4" class="c">
                b.道路设施较大损伤，导致交通中断，交通抢险工程规模1000万元以上；直接经济损失1000万元以上5000万元以下。
            </p>
            <p data-c="1_4" class="c">
                重大道路交通突发事件（Ⅱ级）。
            </p>
            <p data-c="1_4" class="c">
                事态复杂，对一定区域内的公共安全、社会经济秩序以及生态环境造成严重危害或者威胁。符合以下几类情况的事件可视为重大道路交通突发事件：
            </p>
            <p data-c="1_4" class="c">
                a.造成10人以上、30人以下死亡（含失踪），或危及10人以上、30人以下生命安全，或50人以上、100人以下重伤（中毒）；需要紧急疏散、转移较大区域范围内的人员。
            </p>
            <p data-c="1_4" class="c">
                b.道路交通设施严重损伤，导致交通中断，交通抢险工程规模1000万元以上；直接经济损失5000万元以上1亿元以下。
            </p>
            <p data-c="1_4" class="c">
                c.超出本市应急处置能力的。
            </p>
            <p data-c="1_4" class="c">
                （4）特别重大道路交通突发事件（Ⅰ级）
            </p>
            <p data-c="1_4" class="c">
                事态非常复杂，对深圳市范围内的公共安全、社会经济秩序以及生态环境造成严重危害或者威胁。符合以下几类情况的事件可视为特大道路交通突发事件：
            </p>
            <p data-c="1_4" class="c">
                a.造成30人以上死亡（含失踪），或危及30人以上生命安全，或100人以上重伤（中毒）；需要紧急疏散、转移特大区域范围内的人员。
            </p>
            <p data-c="1_4" class="c">
                b.道路交通设施严重损伤，导致交通中断，交通抢险工程规模1000万以上；直接经济损失1亿元以上。
            </p>
            <p data-c="1_4" class="c">
                c.超出本市应急处置能力的。
            </p>
            <p data-c="1_4" class="c">
                所有分级中所称的“以上”包括本数，所称的“以下”不包括本数（下同）。
            </p>

            <p class="two c" data-c="1_5"> 1.5 适用范围</p>
            <p data-c="1_5" class="c">
                <modify class="update">
                    近几年，深圳的机动车保有量以每年近20万辆的速度增长，深圳的交通压力日益严峻，道路交通突发事件频发。突发事件的发生对城市道路交通有很大的影响，除了破坏道路基础设施、对路网结构和交通控制产生影响外，严重的甚至会影响生命安全，造成财产损失，给社会经济秩序带来严重影响。
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己市的当前状况">?
                </span>。
            </p>

            <p class="two c" data-c="1_6"> 1.6 突发事件现状</p>
            <p data-c="1_5" class="c">
                本预案适用于
                <modify class="update">
                    深圳市
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
                范围内各类道路交通突发事件的应急处置。
            </p>

            <p  class="one c " data-c="2">2 组织机构和职责</p>
            <p class="two c" data-c="2_1"> 2.1 领导机构 </p>
            <p data-c="2_1" class="c">
                市突发事件应急委员会（简称市应急委）是全市突发事件应急领导机构。市应急委下设市交通运输应急指挥部，负责统一组织、指挥和协调全市道路交通突发事件的预防和应对工作。
            </p>
            <p class="two c" data-c="2_2"> 2.2 应急指挥体系 </p>
            <p data-c="2_2" class="c">
                ①.市交通运输应急指挥部。
            </p>
            <p data-c="2_2" class="c">
                <modify class="update">
                    市交通运输应急指挥部总指挥由市政府分管交通的副市长担任，副总指挥由分管交通的市政府副秘书长、分管应急的市政府副秘书长担任，执行总指挥兼现场指挥官由市交通运输委主任或由其指派的相关人员担任。
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己市的任职情况">?
                </span>
            </p>

            <p data-c="2_2" class="c">
                市交通运输应急指挥部职责：贯彻执行预防和应对有关突发事件的法律、法规、规章和政策；起草和修订有关市交通运输应急预案，经市政府批准后实施；负责有关应急队伍的建设、管理和应急演练；建设和完善专业应急平台，纳入全市应急平台体系；统筹专业应急物资、装备的储备和调用；及时确定较大以上有关突发事件的等级与响应级别，按预案规定程序启动和结束应急响应，组织和指挥有关力量和资源参与事件处置工作；指挥、协调或协助各区开展有关突发事件应急预防和应对工作；开展专业应急宣传、教育和培训等工作；承办市委、市政府、市应急委交办的其他事项。
            </p>
            <p data-c="2_2" class="c">
                市交通运输应急指挥部职责：贯彻执行预防和应对有关突发事件的法律、法规、规章和政策；起草和修订有关市交通运输应急预案，经市政府批准后实施；负责有关应急队伍的建设、管理和应急演练；建设和完善专业应急平台，纳入全市应急平台体系；统筹专业应急物资、装备的储备和调用；及时确定较大以上有关突发事件的等级与响应级别，按预案规定程序启动和结束应急响应，组织和指挥有关力量和资源参与事件处置工作；指挥、协调或协助各区开展有关突发事件应急预防和应对工作；开展专业应急宣传、教育和培训等工作；承办市委、市政府、市应急委交办的其他事项。
            </p>
            <p data-c="2_2" class="c">
                指挥部各成员单位及其职责如下：
            </p>
            <p data-c="2_2" class="c">
                （1）市交通运输委：负责道路交通突发事件应急处置与救援的综合协调；负责交通运输应急保障，组织协调各种交通运力，做好人员、设备和物资的运送工作；负责组织道路交通突发事件中受损道路交通设施的抢修维护等工作。
            </p>
            <p data-c="2_2" class="c">
                （2）市发展改革委：负责制定应急储备物资供应保障计划。
            </p>
            <p data-c="2_2" class="c">
                （3）市经贸信息委：负责道路交通突发事件救援过程中生活必需品市场供应应急预案；负责协调
                <modify class="update">
                    深圳
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
                通信、网络相关单位落实通信、网络等应急装备的抢修和通信物资的储备。
            </p>
            <p data-c="2_2" class="c">
                （4）市财政委：负责道路交通突发事件应急处置所需的各项经费保障，制定所需处置经费的开支范围、项目并确定其开支渠道，做好经费使用的监督管理工作。
            </p>
            <p data-c="2_2" class="c">
                （5）市规划国土委：负责全市地质灾害防治的组织、协调、指导、监督工作，全面调查掌握地质灾害分布情况，协助交通运输部门和辖区政府（新区管委会）对影响道路交通运输的山体崩塌、滑坡、泥石流等地质灾害进行防治，协助辖区政府（新区管委会）开展危险区域人员的转移安置，拟定地质灾害应急预案，协助做好地质灾害抢险救灾工作。
            </p>
            <p data-c="2_2" class="c">
                （6）市人居环境委：负责快速查明因道路交通突发事故导致污染的主要污染源、污染种类及影响，在职责范围内及时控制污染的扩散，监督管理对污染危害的消除工作，并对潜在危害进行监控。
            </p>
            <p data-c="2_2" class="c">
                （7）市卫生计生委：负责组织开展事件伤病员医疗救治工作，报告人员伤亡情况和伤病员救治信息。
            </p>
            <p data-c="2_2" class="c">
                （8）市公安局：负责制定治安、交通管制、反恐怖等相关应急专项预案；负责突发事件现场的警戒工作；负责人员撤离区域的治安管理；预防、制止和侦查处置过程中发生的违法犯罪行为；协助进行人员疏散；参与突发事件调查处理等。
            </p>
            <p data-c="2_2" class="c">
                （9）市监察局：负责按照规定参加重大交通突发事件的调查处理工作，查处事件中涉及的违法违纪行为；对调查工作进行监督；督促落实对事件相关责任单位和人员的责任追究工作。
            </p>
            <p data-c="2_2" class="c">
                （10）市民政局：负责协助做好受灾群众的安置工作，向受灾群众提供基本生活救助物资，必要情况下使用应急避难场所；协助做好死亡人员的处置及遇难家属的安抚工作。
            </p>
            <p data-c="2_2" class="c">
                （11）市国资委：指导并督促受道路交通突发事件影响的国资委监管企业处理各项善后工作；指导并督促受影响监管企业做好维稳工作，尽快恢复正常运营；参与所监管企业较大以上道路交通安全生产事故的调查处理。
            </p>
            <p data-c="2_2" class="c">
                （12）市住房建设局：协助开展涉及燃气（天然气）输管线或场站的道路交通突发事件的应急处置与调查工作。
            </p>
            <p data-c="2_2" class="c">
                （13）市水务局：负责组织协调市政供、排水运营单位对道路交通突发事件中市政供、排水设施的抢险救援工作；承担因此导致的水污染治理工程的建设管理和运行监管职责；负责事发地及其周边地区的供水保障工作。
            </p>
            <p data-c="2_2" class="c">
                （14）市市场监管局：负责制定各类特种设备突发事件应急专项预案；提出道路交通突发事件现场特种设备的处置措施。
            </p>
            <p data-c="2_2" class="c">
                （15）市气象局：负责提供道路交通突发事件区域的气象预报和灾害性天气预警工作；组织道路交通气象灾害风险评价、雷击风险评估和协助灾害成因界定工作。
            </p>
            <p data-c="2_2" class="c">
                <modify class="update">
                    （16）市外办：负责向有关外国驻华外交机构和香港、澳门地区有关机构通报本市道路交通突发事件的相关信息，并协调市相关部门处理上述机构提出的问题；负责突发事件中涉外受灾人士的救援与安抚工作。
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
            </p>
            <p data-c="2_2" class="c">
                <modify class="update">
                    （17）市台办：协助相关部门妥善处置涉及台胞的道路交通突发事件，保证在处置事件中贯彻执行党和国家对台工作方针、政策和有关规定；协助新闻办做好涉台新闻发布，涉台媒体服务工作，并负责向省台办、国台办等相关机构报送涉台道路交通突发事件的动态信息和处置情况。
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
            </p>
            <p data-c="2_2" class="c">
                （18）市政府新闻办：负责协调较大级及以上道路交通突发事件的新闻发布和宣传报道工作；必要时协调市主管部门及辖区政府（新区管委会）新闻办共同成立新闻中心，做好新闻发布、媒体服务等工作。
            </p>
            <p data-c="2_2" class="c">
                （19）市应急办：指导、检查和监督全市突发事件的预防和应对工作；及时掌握突发事件事态进展情况，向市委、市政府报告，将有关信息通报市政府新闻办；协调相关应急资源参与突发事件处置工作，传达并督促有关部门（单位）落实市委、市政府、市应急委有关决定事项和市领导批示、指示；当突发事件超出本市应对能力时，请求国家和省支援，并在国家和省的统一指挥或指导下开展处置工作。
            </p>
            <p data-c="2_2" class="c">
                （20）市公安消防支队：负责组织指挥道路交通突发事件中灭火、抢险、救援及防化洗消等相关工作；负责配合有关成员单位组建道路交通突发事件的应急救援队伍。
            </p>
            <p data-c="2_2" class="c">
                （21）市公安交警局：负责突发事件现场区域周边道路的交通管制、交通疏导分流以及交通疏导信息的播发工作，禁止无关车辆进入危险区域，保障救援道路的畅通。
            </p>
            <p data-c="2_2" class="c">
                （22）各区政府（新区管委会）：按照属地管理原则，组织辖区内应急救援力量，积极配合现场指挥部及市有关部门开展各项应急处置工作。
            </p>
            <p data-c="2_2" class="c">
                （23）市通信管理局：负责道路交通突发事件应急处置期间的通信保障、恢复和监管等工作。
            </p>
            <p data-c="2_2" class="c">
                （24）市无线电管理局：负责突发事件应急处置期间无线电通信的畅通，根据抢险工作需要，协调调度应急通信设施，协调有关单位尽快组织恢复受破坏的无线电通信设施。
            </p>
            <p data-c="2_2" class="c">
                （25）
                <modify class="update">
                    深圳
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
                供电局有限公司：负责所辖范围内的所辖电力设备设施的损坏修复及电力调度工作。确保灾区的电力供应，保障防灾抗灾救灾的用电及市交通运输应急指挥部各成员单位的日常用电。
            </p>
            <p data-c="2_2" class="c">
                （26）其他有关单位：按照“谁分管，谁负责”的原则，承担相应的应急处置工作。
            </p>
            <p data-c="2_2" class="c">
                所有成员单位还应承担本部门工作职责范围内的其它应急处置工作。
            </p>
            <p data-c="2_2" class="c">
                ②.市交通运输应急指挥部办公室。
            </p>
            <p data-c="2_2" class="c">
                市交通运输应急指挥部办公室设在市交通运输委，具体负责道路交通突发事件的应急指挥协调工作，办公室主任由市交通运输委分管领导担任。
            </p>
            <p data-c="2_2" class="c">
                市交通运输应急指挥部办公室主要职责是：
            </p>
            <p data-c="2_2" class="c">
                （1）落实市交通运输应急指挥部部署的各项工作，传达上级领导的有关要求。
            </p>
            <p data-c="2_2" class="c">
                （2）负责道路交通突发事件信息的接收、核实、处理、传递、通报、报告，执行市交通运输应急指挥部的应急指令。
            </p>
            <p data-c="2_2" class="c">
                （3）负责及时组织发布或配合上级单位发布关于道路交通突发事件及其处置情况的消息。
            </p>
            <p data-c="2_2" class="c">
                （4）负责监视道路交通网络运行，采集、分析、处理相关运行信息。
            </p>
            <p data-c="2_2" class="c">
                （5）负责建立应急工作联络员制度，牵头组织各成员单位交流沟通应急准备情况，共同研究应急工作中的问题。
            </p>
            <p data-c="2_2" class="c">
                （6）负责组织相关专家开展道路交通突发事件的研究工作。
            </p>
            <p data-c="2_2" class="c">
                （7）组织道路交通突发事件预防和处置的有关应急宣传、培训和演练等工作。
            </p>
            <p data-c="2_2" class="c">
                （8）组织编制全市道路交通突发事件应急预案，并监督执行。
            </p>
            <p data-c="2_2" class="c">
                （9）参与道路交通突发事件的调查与评估工作。
            </p>
            <p data-c="2_2" class="c">
                （10）承办市委、市政府和市应急委交办的职责范围内的其它事项。
            </p>
            <p data-c="2_2" class="c">
                ③.区应急指挥机构。
            </p>
            <p data-c="2_2" class="c">
                各区政府（新区管委会）建立相应的区一级道路交通突发事件应急指挥机构，负责处置和管理本区范围内的道路交通突发事件。
            </p>
            <p data-c="2_2" class="c">
                ④.专家机构。
            </p>
            <p data-c="2_2" class="c">
                市交通运输应急指挥部专家组由市交通运输应急指挥部办公室牵头组织，专家组成员由道路、交通、气象、水务、电力、市政等行业的专家组成。专家组的主要职责是：
            </p>
            <p data-c="2_2" class="c">
                （1）对应急准备工作中的重大问题进行研究，提供建议。
            </p>
            <p data-c="2_2" class="c">
                （2）参加市交通运输应急指挥部办公室统一组织的活动及专题研究。
            </p>
            <p data-c="2_2" class="c">
                （3）应急响应时，根据市交通运输应急指挥部办公室的通知，进驻指定地点、研究分析道路交通突发事件的信息和有关情况，为应急决策提供建议。
            </p>
            <p data-c="2_2" class="c">
                （4）为现场指挥部应急处置提供决策建议和技术支持。
            </p>
            <p data-c="2_2" class="c">
                （5）参与事件调查。
            </p>

            <p  class="one c " data-c="3">3 运行机制</p>
            <p class="two c" data-c="3_1"> 3.1 预防、监测与预警</p>
            <p data-c="3_1" class="c">
                1.预防。
            </p>
            <p data-c="3_1" class="c">
                坚持“预防为主、预防与应急相结合”的原则，从可能发生道路交通突发事件的多个环节进行深入分析，统筹考虑和综合运用各方面的资源和力量，开展日常预防工作，做好完善应急体制建设、加强隐患排查、加大安全宣传、加强协调沟通等工作，减少道路交通突发事件的发生，控制、减轻和消除道路交通突发事件引起的社会危害。
            </p>
            <p data-c="3_1" class="c">
                2.监测。
            </p>
            <p data-c="3_1" class="c">
                市交通运输应急指挥部办公室是道路交通突发事件的监测机构，负责健全成员单位之间的监测网络，促进不同成员单位之间气象、交通、经济社会影响等监测信息共享。
            </p>
            <p data-c="3_1" class="c">
                相关成员单位须及时发现道路交通突发事件的风险隐患，并进行详细调查、登记、专项风险评估、形成分析报告，为及早治理风险和控制风险、保障安全运行提供决策支持。
            </p>
            <p data-c="3_1" class="c">
                相关成员单位须及时发现道路交通突发事件的风险隐患，并进行详细调查、登记、专项风险评估、形成分析报告，为及早治理风险和控制风险、保障安全运行提供决策支持。
            </p>
            <p data-c="3_1" class="c">
                3.预警。
            </p>
            <p data-c="3_1" class="c">
                （1）预警级别
            </p>
            <p data-c="3_1" class="c">
                根据道路交通突发事件的影响范围、紧急程度、发展态势和可能造成的危害程度，道路交通突发事件的预警级别由低到高划分为四级：Ⅳ级、Ⅲ级、Ⅱ级和Ⅰ级四个级别。
            </p>
            <p data-c="3_1" class="c">
                Ⅳ级预警：可能发生或引发一般道路交通突发事件，事件即将临近，事态可能进一步扩大。
            </p>
            <p data-c="3_1" class="c">
                Ⅲ级预警：可能发生或引发较大道路交通突发事件，事件已经临近，事态有扩大的趋势。
            </p>
            <p data-c="3_1" class="c">
                Ⅱ级预警：可能发生或引发重大道路交通突发事件，事件即将发生，事态正在逐步扩大。
            </p>
            <p data-c="3_1" class="c">
                Ⅰ级预警：可能发生或引发特别重大道路交通突发事件，事件即将发生，事态正在蔓延。
            </p>
            <p data-c="3_1" class="c">
                （2）预警信息发布
            </p>
            <p data-c="3_1" class="c">
                ①Ⅳ级预警信息：由市交通运输应急指挥部办公室负责发布，同时报告市应急办，通报可能受到影响和危害地区的区政府（新区管委会）。
            </p>
            <p data-c="3_1" class="c">
                ②Ⅲ级预警信息：根据市政府授权，由市交通运输应急指挥部、有关部门（单位）发布，同时报告市应急办。特殊情况需报市政府审定的，市交通运输应急指挥部、有关部门（单位）应及时签署意见报市应急办核定后，由市政府分管领导签发。
            </p>
            <p data-c="3_1" class="c">
                ③Ⅱ级以上预警信息：由市交通运输应急指挥部、有关部门（单位）提出预警建议，报市应急委主任或副主任批准后，由市应急办报告省应急办，由省应急办根据省人民政府授权发布。
            </p>
            <p data-c="3_1" class="c">
                （3）预警信息发布内容
            </p>
            <p data-c="3_1" class="c">
                预警信息发布的内容应包括：发布机构、发布时间、可能发生的突发事件的类别、起始时间、可能影响范围、预警级别、警示事项、事态发展、相关措施和咨询电话等。
            </p>
            <p data-c="3_1" class="c">
                （4）预警信息发布方式
            </p>
            <p data-c="3_1" class="c">
                全市通过市突发事件预警信息发布系统（设在市气象局）和深圳政府在线网站统一发布道路交通突发事件预警信息。各区（新区）、市有关部门（单位）应当充分利用广播、电视、报刊、互联网、手机短信、微博、电子显示屏、有线广播、警报器、宣传车等通信手段和传播媒介，及时、准确地将预警信息传播给社会各界和公众。
            </p>
            <p data-c="3_1" class="c">
                （5）预警响应措施
            </p>
            <p data-c="3_1" class="c">
                发布预警信息后，有关成员单位应当根据实际情况和分级负责的原则，依法采取相应措施。
            </p>
            <p data-c="3_1" class="c">
                （6）预警信息的调整和解除
            </p>
            <p data-c="3_1" class="c">
                预警信息发布单位应当密切关注事件进展情况，并依据事态变化、处置情况和专家意见，适时调整预警级别并重新发布。有事实证明不可能发生突发事件或者危险已经解除的，应当立即宣布解除预警信息，终止预警期。
            </p>


            <p class="two c" data-c="3_2"> 3.2 应急处置与救援 </p>
            <p data-c="3_2" class="c">
                1.信息报告和共享。
            </p>
            <p data-c="3_2" class="c">
                相关部门和单位接到报告后，应当立即派人前往现场初步判定事故等级，同时报上一级主管部门。主管部门接到报告后，按照早发现、早报告、早处置的原则，Ⅳ级以上道路交通突发事件必须在事发后30分钟内通报市交通运输应急指挥部办公室，如遇紧急情况先以口头形式报告，随后再在24小时以内以书面形式上报，同时立即按照相关预案，先行组织开展应急处置工作。
            </p>
            <p data-c="3_2" class="c">
                当发生Ⅲ级以上道路交通突发事件时，相关成员单位必须在事发后30分钟内通过电话向市委、市政府及市交通运输应急指挥部报告事件简要情况，并通报事件可能涉及的区政府（新区管委会）、市有关部门（单位）；在事发后1小时内将突发事件信息书面报告市委、市政府及市交通运输应急指挥部，通报事件可能涉及的区政府（新区管委会）、市有关部门（单位）。事件后续处置情况应及时报告。
            </p>
            <p data-c="3_2" class="c">
                道路交通突发事件报告应包括事件发生时间、地点、信息来源、事件性质、危害程度、伤亡人数、影响范围、直接经济损失的初步估计、事件发展趋势和已经采取的措施等。
            </p>
            <p data-c="3_2" class="c">
                2.先期处置。
            </p>
            <p data-c="3_2" class="c">
                道路交通突发事件发生后，事发企事业单位和主管部门等有关单位应当立即启动相关应急预案，采取先期处置措施，同时报告市交通运输应急指挥部办公室，请求有关部门人员赶赴现场开展警戒、疏散群众、控制现场、救护、抢险等基础处置工作，以保护人民群众生命财产安全，防范事态扩大；向事发地的区政府（新区管委会）及有关部门（单位）报告信息。
            </p>
            <p data-c="3_2" class="c">
                3.应急响应。
            </p>
            <p data-c="3_2" class="c">
                （1）Ⅳ级应急响应。
            </p>
            <p data-c="3_2" class="c">
                ①事发企事业单位和主管部门等有关单位应开展先期处置工作，并按要求将事件主要情况向市交通运输应急指挥部办公室报告。
            </p>
            <p data-c="3_2" class="c">
                ②当市交通运输应急指挥部办公室将事件初步判定为一般（Ⅳ级）道路交通突发事件时，由市交通运输应急指挥部办公室视情况组织力量，指挥、督导先期处置单位做好应急处置工作。
            </p>
            <p data-c="3_2" class="c">
                ③其他相应的应急响应措施和行动。
            </p>
            <p data-c="3_2" class="c">
                （2）Ⅲ级应急响应。
            </p>
            <p data-c="3_2" class="c">
                在Ⅳ级响应的基础上，采取下列措施：
            </p>
            <p data-c="3_2" class="c">
                ①市交通运输应急指挥部办公室接到Ⅲ级以上事件报告后，及时报市交通运输应急指挥部并提请启动本预案。
            </p>
            <p data-c="3_2" class="c">
                ②市交通运输应急指挥部及时进行研判，如果达到Ⅲ级以上道路交通突发事件，立即启动本预案。
            </p>
            <p data-c="3_2" class="c">
                ③预案启动后，市交通运输应急指挥部办公室及时通知相关成员单位开展现场指挥协调、制定救援方案、救援抢险、交通管制等应急处置工作。
            </p>
            <p data-c="3_2" class="c">
                ④各成员单位在应急处置过程中做好现场人员防护工作。
            </p>
            <p data-c="3_2" class="c">
                ⑤市交通运输应急指挥部及时组织关于交通管制、公交运营线路调整等影响公众出行的信息发布工作。
            </p>
            <p data-c="3_2" class="c">
                ⑥其他相应的应急响应措施和行动。
            </p>
            <p data-c="3_2" class="c">
                （3）Ⅱ级以上应急响应。
            </p>
            <p data-c="3_2" class="c">
                Ⅱ级以上应急响应工作经指挥部研判确定后，在前一级响应的基础上，根据上级应急机构的指示，由市应急委进行统一指挥与部署，组织和协调各方面力量进行应急处置，积极配合上级应急机构做好应急处置工作。
            </p>
            <p data-c="3_2" class="c">
                4.指挥协调。
            </p>
            <p data-c="3_2" class="c">
                启动Ⅲ级以上应急响应时，市交通运输应急指挥部按照“统一指挥，分级负责，属地为主，专业处置”的要求，组织开展应急处置工作。
            </p>
            <p data-c="3_2" class="c">
                市交通运输应急指挥部主要采取以下措施：
            </p>
            <p data-c="3_2" class="c">
                （1）协调有关区（新区）、市有关部门（单位）提供人力、物资、装备、技术、通信等应急保障。
            </p>
            <p data-c="3_2" class="c">
                （2）制订并组织实施应急救援或事件处置的方案，防止引发次生、衍生和耦合事件。
            </p>
            <p data-c="3_2" class="c">
                （3）及时掌握突发事件事态进展情况，向市委、市政府报告，将有关信息通报市政府新闻办。
            </p>
            <p data-c="3_2" class="c">
                （4）协助市领导综合协调、指挥处置突发事件，传达并督促有关部门（单位）落实市委、市政府、市应急委有关决定事项和市领导批示和指示。
            </p>
            <p data-c="3_2" class="c">
                （5）其他相应的应急响应措施和行动。
            </p>
            <p data-c="3_2" class="c">
                事发地的区政府（新区管委会）在市交通运输应急指挥部的指挥或指导下，采取以下措施：
            </p>
            <p data-c="3_2" class="c">
                事发地的区政府（新区管委会）在市交通运输应急指挥部的指挥或指导下，采取以下措施：
            </p>
            <p data-c="3_2" class="c">
                （1）根据相关应急预案，采取措施控制事态发展，开展应急救援和事件处置工作，向市委、市政府、市应急委和市交通运输应急指挥部报告情况。
            </p>
            <p data-c="3_2" class="c">
                （2）组织协调有关单位做好人力、物资、装备、技术等应急保障工作，维持现场治安和交通秩序，维护本区内社会稳定。
            </p>
            <p data-c="3_2" class="c">
                （3）组织动员、指导和帮助群众开展防灾、减灾和救灾工作。
            </p>
            <p data-c="3_2" class="c">
                （4）其他相应的应急响应措施和行动。
            </p>
            <p data-c="3_2" class="c">
                　市有关部门和单位在市交通运输应急指挥部的指挥或指导下，采取以下措施：
            </p>
            <p data-c="3_2" class="c">
                （1）根据相关应急预案，开展应急救援或事件处置工作，向市交通运输应急指挥部报告情况。
            </p>
            <p data-c="3_2" class="c">
                （2）派出或协调有关领域的应急专家组参与事件处置工作，提供应急救援、处置事件、减灾救灾等方面决策建议。
            </p>
            <p data-c="3_2" class="c">
                （3）其他相应的应急响应措施和行动。
            </p>
            <p data-c="3_2" class="c">
                5.现场指挥部与现场指挥官。
            </p>
            <p data-c="3_2" class="c">
                启动Ⅲ级以上应急响应时，市交通运输应急指挥部根据实际需要，成立现场指挥部，现场指挥官由市交通运输应急指挥部执行总指挥兼任，现场副指挥官由市应急办、市政府新闻办和有关区（新区）应急委的负责同志分别担任。
            </p>
            <p data-c="3_2" class="c">
                现场指挥官统一组织、指挥现场应急救援工作。现场指挥官有权决定现场处置方案，协调有关单位和部门的现场应急处置工作，调度现场应急队伍。
            </p>
            <p data-c="3_2" class="c">
                现场指挥部吸收事件涉及的有关单位负责人以及相关专家为成员。参加现场应急救援的队伍和人员在现场指挥部统一协调下进行应急救援和处置工作。与突发事件有关的部门和单位应当主动向现场指挥部提供与应急处置有关的信息资料，为实施应急处置工作提供各种便利条件。
            </p>
            <p data-c="3_2" class="c">
                现场指挥部的主要职责是：
            </p>
            <p data-c="3_2" class="c">
                （1）执行上级下达的道路交通突发事件应急处置任务。
            </p>
            <p data-c="3_2" class="c">
                （2）负责提出应急处置的具体措施，下达应急处置任务。
            </p>
            <p data-c="3_2" class="c">
                （3）开展现场组织、协调、指挥等具体处置工作。
            </p>
            <p data-c="3_2" class="c">
                （4）及时收集、掌握、反馈现场信息情况和提供现场新闻材料。
            </p>
            <p data-c="3_2" class="c">
                （5）职责范围内的其他工作。
            </p>
            <p data-c="3_2" class="c">
                6.处置措施。
            </p>
            <p data-c="3_2" class="c">
                突发事件发生后，市交通运输应急指挥部按照道路交通突发事件的类别和处置工作需要，组织采取人员搜救、医疗救护、风险源控制、交通管制、设备和场所管制、基础设施抢修、市场秩序维护、治安维护、社会影响面控制等相应措施。
            </p>
            <p data-c="3_2" class="c">
                7.响应升级。
            </p>
            <p data-c="3_2" class="c">
                经应急处置，Ⅳ级突发事件事态仍难以有效控制，呈现蔓延、扩大、恶化趋势时，市交通运输应急指挥部办公室应当及时报请市交通运输指挥部，进行应急响应升级。
            </p>
            <p data-c="3_2" class="c">
                经应急处置，Ⅲ级以上突发事件事态仍难以有效控制，呈现蔓延、扩大、恶化趋势时，市交通运输应急指挥部应当及时报请市应急委，进行应急响应升级。
            </p>
            <p data-c="3_2" class="c">
                8.社会动员。
            </p>
            <p data-c="3_2" class="c">
                根据道路交通突发事件的危险程度、波及范围、人员伤亡等情况和应对工作需要，市、区两级政府及各新区管委会可发布社会动员令，动员公民、企事业单位、社会团体、基层群众自治组织和其他力量，在现场指挥部的统一领导下做好道路交通突发事件的紧急救援、秩序维护、后勤保障、医疗救助、卫生防疫、恢复重建等处置工作。必要时，报请上级应急机构支持。
            </p>
            <p data-c="3_2" class="c">
                9.信息发布。
            </p>
            <p data-c="3_2" class="c">
                （1）信息发布要求。
            </p>
            <p data-c="3_2" class="c">
                道路交通突发事件的信息实行统一、快速、有序、规范管理。
            </p>
            <p data-c="3_2" class="c">
                （2）信息发布机构。
            </p>
            <p data-c="3_2" class="c">
                道路交通突发事件相关信息由市交通运输应急指挥部统一组织发布。
            </p>
            <p data-c="3_2" class="c">
                （3）信息发布内容。
            </p>
            <p data-c="3_2" class="c">
                信息发布应明确事件的地点、性质、人员伤亡和财产损失情况、救援进展情况、事件区域交通管制情况以及临时交通措施等。
            </p>
            <p data-c="3_2" class="c">
                （4）信息发布方式。
            </p>
            <p data-c="3_2" class="c">
                通过广播、电视、移动通信、气象信息发布平台、互联网平台（政府网站、政务微博）以及公共场所电子显示屏等方式向公众发布信息。
            </p>
            <p data-c="3_2" class="c">
                10.应急结束。
            </p>
            <p data-c="3_2" class="c">
                突发事件及其次生、衍生事件造成的威胁和危害得到控制或基本消除，应急处置工作即告结束。履行统一领导职责或组织处置突发事件的有关部门（单位）应当停止有关应急处置措施，撤销现场指挥部，采取或继续实施必要措施，防止事件反复或发生衍生、次生事件。
            </p>


            <p class="two c" data-c="3_3"> 3.3 后期处置</p>
            <p data-c="3_3" class="c">
                1.善后处置。
            </p>
            <p data-c="3_3" class="c">
                应急结束后，事发地区政府（新区管委会）应及时组织协调善后处置工作，尽快消除道路交通突发事件后果和影响，安抚受害人员，保证社会稳定，尽快恢复正常秩序。市交通运输应急指挥部协调处理好有关工作。
            </p>
            <p data-c="3_3" class="c">
                2.社会救助。
            </p>
            <p data-c="3_3" class="c">
                应急结束后，由市民政局、事发地区政府（新区管委会）等相关部门参照有关规定执行，市交通运输应急指挥部办公室协助。
            </p>
            <p data-c="3_3" class="c">
                3.保险。
            </p>
            <p data-c="3_3" class="c">
                道路交通突发事件发生后，市交通运输应急指挥部办公室协调有关保险机构及时派员赶赴现场，开展应急人员保险受理和受灾单位及受灾人员保险理赔工作。
            </p>
            <p data-c="3_3" class="c">
                4.调查评估。
            </p>
            <p data-c="3_3" class="c">
                （1）调查机构。
            </p>
            <p data-c="3_3" class="c">
                较大级及以上道路交通突发事件由市交通运输应急指挥部或由其指派有关部门和单位成立调查组进行调查。
            </p>
            <p data-c="3_3" class="c">
                道路交通突发事件的调查主体为：
            </p>
            <p data-c="3_3" class="c">
                ①Ⅳ级道路交通突发事件由市交通运输应急指挥部办公室或由其指派有关部门和单位成立调查组进行调查。
            </p>
            <p data-c="3_3" class="c">
                ②Ⅲ级道路交通突发事件由市交通运输应急指挥部指派有关部门和单位成立调查组进行调查。
            </p>
            <p data-c="3_3" class="c">
                ③Ⅱ级、Ⅰ级道路交通突发事件，由上级应急机构牵头进行调查。
            </p>
            <p data-c="3_3" class="c">
                （2）调查要求。
            </p>
            <p data-c="3_3" class="c">
                应急状态解除后，现场各应急处置部门应整理和审查所有的应急记录和文件等资料；总结和评价事件发生的原因和在应急期间采取的主要行动和措施；必要时，提出修订本预案建议，并及时做出书面报告。
            </p>
            <p data-c="3_3" class="c">
                （3）总结评估报告内容。
            </p>
            <p data-c="3_3" class="c">
                ①发生事件的道路交通基本情况。
            </p>
            <p data-c="3_3" class="c">
                ②事件发生原因、发展过程及造成后果（包括人员伤亡、经济损失）的分析与评价。
            </p>
            <p data-c="3_3" class="c">
                ③采取的主要应急响应措施及其有效性。
            </p>
            <p data-c="3_3" class="c">
                ④事件责任认定及对事件责任人的处理建议、结果等。
            </p>
            <p data-c="3_3" class="c">
                ④事件责任认定及对事件责任人的处理建议、结果等。
            </p>
            <p data-c="3_3" class="c">
                5.恢复与重建。
            </p>
            <p data-c="3_3" class="c">
                道路交通突发事件处置工作结束后，结合调查评估情况，市交通运输应急指挥部组织制定恢复与重建计划，及时恢复社会秩序，修复被破坏的设施。
            </p>


            <p  class="one c " data-c="4">4 应急保障</p>
            <p class="two c" data-c="4_1">4.1 人力资源保障</p>
            <p data-c="4_1" class="c">
                各应急救援职能部门平时要不断加强各自应急救援、工程抢险队伍的各项建设，并通过经常性的培训、演练提高应急处置人员的业务素质和技术水平。确保能随时承担应急救援、抢险任务。
            </p>
            <p class="two c" data-c="4_2">4.2 经费保障</p>
            <p data-c="4_2" class="c">
                市、区财政部门应保障道路交通突发事件的应急费用，建立应急经费快速拨付机制。
            </p>
            <p data-c="4_2" class="c">
                处置突发事件所需财政经费，由市、区两级政府和新区管委会按照现行事权、财权划分原则，分级负担。
            </p>
            <p class="two c" data-c="4_3">4.3 物资保障</p>
            <p data-c="4_3" class="c">
                <modify class="update">
                    相关成员单位应按照《关于进一步加强我市应急物资储备工作的意见》（深府办函〔2011〕87号）有关要求，
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
                加强应急物资日常储备，建立应急物资生产能力、技术储备、产品储备信息数据库，加强相关物资储备、生产及加工能力储备、生产工艺流程的技术储备；制定应急物资调拨、配送方案，并建立应急物资紧急生产机制。各相关部门要根据道路交通突发事件的特点，配备必要的应急救援装备和救灾物资，并加强应急装备的管理、维护和保养。
            </p>
            <p class="two c" data-c="4_4">4.4 医疗卫生保障</p>
            <p data-c="4_4" class="c">
                市卫生计生委建立和完善全市卫生应急预案体系、卫生应急指挥体系和医疗卫生救援体系，组建医疗专家队伍和应急医疗救援队伍，组织储备医疗救治应急物资，开展突发事件医疗救援演练。
            </p>

            <p class="two c" data-c="4_5">4.5 交通运输保障</p>
            <p data-c="4_5" class="c">
                启动应急预案期间，市交通运输委制定各类交通运输工具的调用方案，建立健全交通运输应急联动机制，保障紧急情况下的综合运输能力。必要时，可紧急动员和征用社会交通运输工具。根据现场需要，市公安交警局对突发事件现场及有关道路实行交通管制，维持应急处置期间的交通运输秩序，必要时开设应急救援通道。
            </p>
            <p class="two c" data-c="4_6">4.6 治安保障</p>
            <p data-c="4_6" class="c">
                市公安局制定相应治安应急预案，负责制定突发事件状态下维持治安秩序的各项准备方案，包括警力集结、布控规划、执勤方式和行动措施等。
            </p>
            <p class="two c" data-c="4_7">4.7 人员防护保障</p>
            <p data-c="4_7" class="c">
                现场应急工作必须在确保现场人员安全的情况下实施。参加现场应急工作的指挥人员应按有关规定配带具有明显标识的专业防护服装及装备。现场应急指挥部应充分考虑对人员造成危害的可能性和所有危害种类，制定科学合理、切实可行的应急救援方案，配备先进适用、安全可靠的安全防护设备，严格执行参与应急工作有关人员进出现场的管理程序。
            </p>
            <p class="two c" data-c="4_8">4.8 通信和信息保障</p>
            <p data-c="4_8" class="c">
                市经贸信息委牵头负责，会同各成员单位建立和完善通信网络，建立有线和无线相结合、基础电信网络与机动通信系统相配套的应急通信系统，为各应急单位提供多样化、高效率的通信方式，确保道路交通突发事件应急处置过程中通信网络通畅。
            </p>
            <p class="two c" data-c="4_9">4.9 现场救援和工程抢险装备保障</p>
            <p data-c="4_9" class="c">
                各成员单位根据道路交通突发事件的应急处置工作需求，配备现场救援和工程抢险设备，建立应急装备、救治药物和医疗器械等的储备、维护、保养和调用制度，以及应急装备类型、数量、性能和存放情况的档案管理制度。
            </p>
            <p class="two c" data-c="4_10">4.10 应急避难场所保障</p>
            <p data-c="4_10" class="c">
                市规划国土委负责制定全市应急避难场所专项规划。市民政局、应急办（地震局）分别负责指导和检查室内、室外（地震）应急避难所的建设工作；应急避难场所的归属单位负责场所的日常管理和维护；由民政部门负责灾时统一协调使用和管理避难场所。
            </p>
            <p data-c="4_10" class="c">
                应急避难场所的归属单位应按照要求设置各种设施设备，划定各类功能区，设置规范的标志牌，储备必要的物资，建立健全应急避难场所维护、管理制度和灾时应急预案。
            </p>
            <p class="two c" data-c="4_11">4.11 科技支撑保障</p>
            <p data-c="4_11" class="c">
                由市科技创新委牵头负责，市经贸信息委配合，采取扶持政策和优惠措施，鼓励和支持高等院校、科研院所和有关机构等开展公共安全领域的科学研究；研究制定促进应急产业的政策措施，鼓励支持本地产学研机构和有关企业研究开发用于突发事件预防、监测、预警、应急处置与救援的新技术、新设备和新工具。
            </p>
            <p class="two c" data-c="4_12">4.12 气象服务保障</p>
            <p data-c="4_12" class="c">
                市气象局负责气象服务保障工作，根据应对事故的需要，提供事发地区的气象监测预警服务，并加强对极端天气的监测和预警，为处置道路交通突发事件提供气象服务和保障。
            </p>
            <p class="two c" data-c="4_13">4.13 法制保障</p>
            <p data-c="4_13" class="c">
                在突发事件发生和延续期间，市政府依法发布紧急决定和命令。市法制办按照市政府的要求对突发事件应对工作提供法律意见。
            </p>
            <p class="two c" data-c="4_14">4.14 其他应急保障</p>
            <p data-c="4_14" class="c">
                各成员单位按照各自职责完成其他相关应急保障工作。
            </p>



            <p  class="one c " data-c="5">5 监督管理</p>
            <p class="two c" data-c="5_1"> 5.1 应急演练 </p>
            <p data-c="5_1" class="c">
                各相关单位不定期开展道路交通突发事件应急处置演练，市应急办负责规划、组织和实施跨区域、跨系统的市级道路交通突发事件应急演练，切实提高各单位应急处置能力。
            </p>
            <p data-c="5_1" class="c">
                各相关单位不定期开展道路交通突发事件应急处置演练，市应急办负责规划、组织和实施跨区域、跨系统的市级道路交通突发事件应急演练，切实提高各单位应急处置能力。
            </p>
            <p class="two c" data-c="5_2"> 5.2 宣传教育</p>
            <p data-c="5_2" class="c">
                　相关成员单位各区（新区）、市相关部门（单位）应当开展面向内部、面向社会的应急法律法规、应急预案和应急知识宣传教育活动，充分利用广播、电视、报纸、海报、互联网以及安全实景模拟教育基地等多种载体，开展道路交通突发事件应急宣传教育，让公众掌握应对道路突发事件避险、互救、自救、减灾、逃生等基本知识和技能。
            </p>
            <p class="two c" data-c="5_3"> 5.3 培训</p>
            <p data-c="5_3" class="c">
                市交通运输应急指挥部及各有关部门（单位）定期组织救援专业队伍进行救援知识的专业培训，加强国内外技术交流和研讨，提高应急处置、突发事件调查等专业技术人员的业务知识水平。
            </p>
            <p class="two c" data-c="5_4"> 5.4 责任与奖惩</p>
            <p data-c="5_4" class="c">
                市应急委根据调查报告，提请市委、市政府对在处置道路交通突发事件中做出贡献的部门、单位和个人予以表扬；对在处置道路交通突发事件中瞒报、漏报、迟报信息及其他失职、渎职行为的部门、单位和个人，依据相关规定追究其行政责任；涉嫌犯罪的，依法移送司法机关处理。
            </p>
            <p class="two c" data-c="5_5"> 5.5 预案实施</p>
            <p data-c="5_5" class="c">
                本预案自发布之日起实施。
            </p>



            <p  class="one c " data-c="6">6 </p>
            <p class="two c" data-c="6_1"> 6.1 部门应急预案目录</p>
            <p data-c="6_1" class="c">
                市交通运输应急指挥部各成员单位应根据本预案的要求，结合各自的工作实际，制定相应预案，并报市交通运输应急指挥部办公室、市应急办备案。
            </p>
            <p class="two c" data-c="6_2"> 6.2 预案管理</p>
            <p data-c="6_2" class="c">
                1.预案修订。
            </p>
            <p data-c="6_2" class="c">
                市交通运输应急指挥部办公室在出现下列情况之一时，对本预案进行修订，并报市人民政府审定：
            </p>
            <p data-c="6_2" class="c">
                市交通运输应急指挥部办公室在出现下列情况之一时，对本预案进行修订，并报市人民政府审定：
            </p>
            <p data-c="6_2" class="c">
                （2）专家评估提出重大修改建议等。
            </p>
            <p data-c="6_2" class="c">
                各成员单位负责修订和完善相关专项预案，并报市交通运输应急指挥部办公室审核。如成员单位的应急工作负责人和联络员联系方式发生变动，应及时作变更报送。
            </p>
            <p data-c="6_2" class="c">
                2.预案审定。
            </p>
            <p data-c="6_2" class="c">
                本预案由市人民政府审定。
            </p>

            <p class="two c" data-c="6_3"> 6.3 制定与解释</p>
            <p data-c="6_3" class="c">
                本预案是
                <modify class="update">
                    深圳市
                </modify>
                <span type="button" class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                      data-content="换成自己的市">?
                </span>
                应对道路交通突发事件预案体系中的综合预案，由市交通运输委牵头制定和解释。
            </p>

          <p  class="one c " data-c="0">仿真模拟结果</p>
          <p data-c="0" class="c">
            根据模拟仿真预测，需要支援100人，需要支援20辆车。需要注意的风险点包括：位置1、位置2、位置3、位置4、位置5、位置6、位置7、位置8
          </p>


        </div>





        <p align="center" class="button-style"><a href="javascript:void(0)">下载生成的预案</a></p>
        <!-- <p class="button-style"><a align="center">More Details</a></p> -->
        <!-- </div> -->
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/jquery.wordexport.js"></script>
<script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script>
  // var modify = document.getElementById("update");
  // modify.setAttribute("contenteditable", "true");
  $(function () {
    $(function () {
      $('[data-toggle=\'popover\']').popover()
    })
    $('.update').click(function () {
      console.log(123)
      $(this).attr('contenteditable', 'true')
      $('body').find('.popover').popover('hide')
    })
    $('.button-style').click(function () {

      $('.cont').wordExport('洪涝灾害预案')
      //fileName为导出的word文件的命名
    })
    var curCata = window.location.href.split('=')[1]
    // var curCata = localStorage.getItem("chkArr");
    // localStorage.removeItem("chkArr");
    if(curCata){
      var curCataArr = curCata.split(',')
      $('.c').each(function(i,e){
        var c = $(this).attr('data-c')
        if(curCataArr.indexOf(c) < 0){
          $(this).remove()
        }
      })
    }
    $('body').removeClass('hide')
  })
</script>
</body>

</html>
