<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>预案生成</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body class="hide">
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <!-- <h1><a href="#">洪涝预案</a></h1> -->
        </div>
        <!-- 		<div id="menu">
        <ul>
            <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
            <li><a href="#" accesskey="2" title="">Our Clients</a></li>
            <li><a href="#" accesskey="3" title="">About Us</a></li>
            <li><a href="#" accesskey="4" title="">Careers</a></li>
            <li><a href="#" accesskey="5" title="">Contact Us</a></li>
        </ul>
    </div> -->
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer-content">
        <div class="cont">
            <h2><span>洪涝灾害预案</span> </h2>
            <!--            断点珠海-->
            <p class="one c" data-c='88_1'>1 总则</p>
            <p class="two c" data-c='88_1_1'>1.1 编制目的</p>
            <p class=" c"  data-c='88_1_1'>
                为规范我市防汛抗洪救灾工作程序，科学、高效、有序地开展防汛抗洪救灾工作，有效防御洪涝灾害，最大程度地减少人民群众生命财产损失，保障经济社会协调、可持续发展，结合我市实际，特制定本预案。
            </p>
            <p class="two c" data-c='88_1_2'>1.2 编制依据</p>
            <p class=" c" data-c="88_1_2">
                依据
                <modify class="update">
                    《中华人民共和国水法》、《中华人民共和国防洪法》、《中华人民共和国气象法》、《中华人民共和国防汛条例》等法律、行政法规以及《国家防汛抗旱应急预案》、《国家突发公共事件总体应急预案》、《广东省防汛防旱防风工作的若干规定》等
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的预案">?</span>
                规范性文件，制定本预案。
            </p>
            <p class="two c" data-c='88_1_3'>1.3 适用范围</p>
            <p class=" c" data-c="88_1_3">
                本预案适用于
                <modify class="update">
                    珠海市
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己的市">?</span>
                范围内突发性水灾害的预防和应急处置。突发性水灾害包括：江河洪水、暴雨、洪涝灾害、山洪灾害（指由降雨引发的山洪、泥石流等），以及由洪水、风暴潮、地震、恐怖活动等引发的水库垮坝、堤防决口、水闸倒塌等次生衍生灾害。
            </p>
            <p class="two c" data-c='88_1_4'>1.4 工作原则</p>
            <p class=" c" data-c="88_1_4">
                ①坚持以人为本防汛工作方针，把保障人民群众生命财产安全作为三防工作的首要任务，最大限度地减少水灾害造成的危害和损失。
            </p>
            <p class=" c" data-c="88_1_4">
                ②防汛工作实行各级政府行政首长负责制，统一指挥，属地管理，分级分部门负责。
            </p>
            <p class=" c" data-c="88_1_4">
                ③防汛工作以防洪安全为首要目标，坚持安全第一、常备不懈、以防为主、全力抢险的方针和防抢救结合的原则。
            </p>
            <p class=" c" data-c="88_1_4">
                ④防汛工作按照流域、区域统一规划，坚持因地制宜，城乡统筹，突出重点，兼顾一般，局部服从全局利益。
            </p>
            <p class=" c" data-c="88_1_4">
                ⑤坚持依法防汛，实行公众参与、军民结合、专群结合、平战结合的原则。
            </p>
            <p class=" c" data-c="88_1_4">
                ⑥坚持防汛抗旱统筹，在防洪安全的前提下，尽可能利用洪水资源，促进人与自然和谐相处。
            </p>
            <p class=" c" data-c="88_1_4">
                ⑦任何单位和个人都有参加防汛抢险救灾的义务。
            </p>

            <p class="one c" data-c='88_2'>2 组织机构与职责</p>
            <p class="two c" data-c='88_2_1'>2.1 组织机构</p>
            <p class=" c" data-c="88_2_1">
                市防汛防旱防风指挥部（以下简称“市三防指挥部”）负责全市的防汛工作，各区
                <modify class="update">
                    （含各行政区、横琴新区、经济功能区，下同）
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="没有的话进行删除">?</span>
                三防指挥部负责本区域内的防汛工作。有关部门、单位根据实际需要设立防汛组织机构，制定和实施相应防汛抢险救灾工作预案，负责本部门、本单位和本行业的防汛工作。
            </p>
            <p class=" c" data-c="88_2_1">
                市三防指挥部由市政府分管三防工作的副市长任总指挥，下设市防汛防旱防风指挥部办公室（以下简称“市三防办”）为常设办事机构。
                <modify class="update">
                    珠海警备区、
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                武警市支队、市委办公室、市委宣传部、市应急办、市发展改革局、市教育局、市公安局、市监察局、市民政局、市财政局、市国土资源局、市建设局、市交通局、市港口局、市水务局、市农业局、
                <modify class="update">
                    市口岸局、
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="自己市没有的话可以去除">?</span>
                市卫生局、市城管执法局、市市政园林和林业局、市气象局
                <modify class="update">
                    、珠海海事局、珠海供电局、珠海水务集团、珠海海洋环境监测中心站、珠海电信公司、白蕉水文站
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                和各区三防指挥部为市三防指挥部成员单位。当水灾害影响我市以及造成灾害时，各有关单位按照职能分工，积极主动做好防汛工作。
            </p>
            <p class="two c" data-c='88_2_2'>2.2 工作职责</p>
            <p class=" c" data-c="88_2_2">
                ①三防指挥部防汛职责
            </p>
            <p class=" c" data-c="88_2_2">
                市三防指挥部在国家防汛抗旱总指挥部、省防汛防旱防风总指挥部和市委、市政府的领导下，统一指挥、协调全市防汛抢险救灾工作。
            </p>
            <p class=" c" data-c="88_2_2">
                各区三防指挥部在市三防指挥部的领导下负责本区域内的防汛抢险救灾工作。有关单位可根据需要设立相应工作机构，负责本单位的防汛抢险救灾工作。
            </p>
            <p class=" c" data-c="88_2_2">
                ②市三防办防汛职责
            </p>
            <p class=" c" data-c="88_2_2">
                市三防办是市三防指挥部的常设机构，承办市委、市政府和市三防指挥部的日常工作。主要职责是拟订全市防汛政策、法规和制度，编制并组织实施防汛预案，及时掌握全市汛情，组织、协调全市的防汛工作。
            </p>
            <p class=" c" data-c="88_2_2">
                ③各成员单位主要职责
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    珠海警备区、
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                武警市支队：负责组织协调部队和民兵预备役人员的防汛抢险救灾工作；根据市委、市政府要求或市三防指挥部的请求，及时组织部队和民兵预备役人员参加抢险救灾行动，协助公安部门维护灾区社会秩序，协助地方政府（含管委会，下同）转移危险地区群众，并根据市委、市政府的要求，向上一级请示派部队增援受灾地区。
            </p>
            <p class=" c" data-c="88_2_2">
                市委办公室、市应急办：负责全市防汛救灾重大事件协调和综合情况上报工作；同时，在紧急情况下负责协调驻珠军警部队、消防、公安边防等参与防汛抢险救灾工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市委宣传部：负责把握全市防汛抢险救灾宣传工作导向，及时组织协调、指导境内外新闻宣传单位做好防汛抢险救灾新闻宣传报道工作；落实我市主要媒体发布防洪抢险救灾工作指令及防御指引等。
            </p>
            <p class=" c" data-c="88_2_2">
                市发展改革局：配合全市防洪应急工程、防汛设施、重点工程除险加固项目的审批；负责做好灾区粮食市场调控和供应工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市教育局：负责及时把防汛预警通知传达到受洪水、暴雨威胁或影响的院校、学校及各类培训组织，及时采取有效防灾避险措施保护师生安全；负责对学生进行防灾减灾、应急避险等知识的宣传教育工作。同时，在气象灾害期间加强与气象、防灾部门的联系，按照有关规定做好停课安排。
            </p>
            <p class=" c" data-c="88_2_2">
                市公安局：在防汛抢险救灾期间，负责各级防汛救灾指挥车辆、抢险车辆的优先快速通行；协助有关部门妥善处理因防汛抢险引发的群体性治安事件；协助组织危险地区群众安全转移；根据汛情发展适时封桥封路，并做好道路交通疏导工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市监察局：负责对防汛应急资金的落实、使用情况及应急工程资金使用程序等进行监督和管理工作；负责检查和监督各级三防指挥部成员单位和各级防汛责任人防汛抢险履职情况。
            </p>
            <p class=" c" data-c="88_2_2">
                市监察局：负责对防汛应急资金的落实、使用情况及应急工程资金使用程序等进行监督和管理工作；负责检查和监督各级三防指挥部成员单位和各级防汛责任人防汛抢险履职情况。
            </p>
            <p class=" c" data-c="88_2_2">
                市财政局：负责落实防汛救灾应急资金和灾后复产资金工作，及时下拨并监督使用。
            </p>
            <p class=" c" data-c="88_2_2">
                市国土资源局：负责地质灾害防治的组织、协调、指导和监督工作，划定地质灾害危险地区；组织对山体滑坡、泥石流等地质灾害进行监测、预报、预警工作，并报属地政府；督促和协助属地政府对危险区域人员进行转移与安置。同时，对灾害发展趋势及时提出科学防御措施和建议；指导和部署全市地质灾害防治工作，组织实施应急抢险工程和排除险情，对突发性地质灾害会同建设、水利、交通等部门，尽快查明原因、影响范围等情况，提出应急治理措施。
            </p>
            <p class=" c" data-c="88_2_2">
                市建设局：负责检查和落实全市建筑工地、建筑工棚、危房、低洼地等建筑（搭建）物的防汛工作，做好建筑工人的转移工作；配合各区组织落实灾后房屋、倒塌房屋的恢复和重建，以及受灾区房屋安全鉴定等工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市交通局：负责做好公路、水运工具和设施的防汛安全工作；制定和实施抢险救灾交通保障预案，组织、协调属地运输单位做好防汛抢险救灾物资、人员、设备的运输工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市港口局：负责港区设施安全度汛工作，指导和组织港口内船只做好各项防汛工作；同时，配合属地政府落实港区燃料、化学原料等危险品安全度汛工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市水务局：归口管理全市防汛工程，并按规定标准储备防汛抢险物资；负责监督水务工程的安全运行，组织审核市属水务工程防汛预案和在建工程的防汛措施；指导和督促各区水务工程防汛预案的编制；在防汛期间负责全市水务工程的科学调控；负责组织和督促水毁水务工程的建设和修复工作；负责组织和指导开展河渠、排洪渠等泄洪通道阻洪违法、违章建筑物的清拆活动；建立和管理防汛抢险技术专家库，在防汛抢险期间负责抢险技术指导等。
            </p>
            <p class=" c" data-c="88_2_2">
                市农业局（海洋与渔业局）：指导全市农业防汛减灾、灾后复产工作；提出农业生产救灾资金意见，参与资金管理工作；负责农业救灾物资的储备、调拨和管理工作；及时收集、整理和统计农业受灾信息，并及时向市三防办提供灾情信息。
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    市口岸局：负责组织协调做好全市口岸防汛工作，在特大暴雨或洪水影响我市时，能够提供临时避险场所供通关旅客临时避险，并根据需要协调落实临时避险旅客生活必需品等供应工作。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="自己市没有的话可以去除">?</span>
            </p>
            <p class=" c" data-c="88_2_2">
                市卫生局：负责全市灾害发生时的紧急医疗救护和疾病预防控制工作；组织相关医疗卫生机构成立各级医疗救护队伍和疾病预防控制队伍，参与灾害发生时的医疗救护及灾区的卫生防疫工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市城管执法局：负责查处全市范围内影响防汛安全的违法户外广告设施以及属于本部门管辖范围内的违法建筑物、构筑物；协助相关部门做好人员转移、疏散工作。
            </p>
            <p class=" c" data-c="88_2_2">
                市市政园林和林业局：负责市区市政设施（不含城市供排水、城市防排洪设施）及城市绿地防汛排涝工作，组织抢修受损的市政设施（不含城市供排水、城市防排洪设施），及时排除险情。
            </p>
            <p class=" c" data-c="88_2_2">
                市气象局：负责暴雨等气象灾害的监测和预报、预警工作，
                <modify class="update">
                    根据《珠海市防御气象灾害规定》
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                及时向市委、市政府、市三防指挥部及社会公众发布暴雨等气象灾害预报预警信息，为防灾减灾救灾提供科学依据。
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    珠海海事局: 负责向船舶发布防汛预警信息，督促船舶远离洪灾影响区域，并负责维护水上交通秩序，必要时对洪灾影响区域实施交通管制；发生险情时，组织、协调、参与水上救助工作。同时，及时将船舶防洪情况和船上人员转移情况统计报市三防办。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    珠海供电局：负责保障防汛期间排水设施及抢险的用电需要，并保障电力设施的防汛安全；及时抢修受损电力设备和做好灾区电力恢复工作。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    珠海水务集团：负责所管辖水务工程安全度汛工作；负责制订和落实水务工程防汛预案，以及城区市政排水预案等。同时，负责所管辖排洪、排水设施等安全度汛和排涝、抢险工作。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    珠海海洋环境监测中心站：在发生洪水期间，负责海洋风暴潮监视、监测、预报和预警，及时对海洋灾害信息作出滚动预报，并向市三防办及社会公众提供海洋灾害信息，为防灾减灾提供科学依据，为市三防指挥部提出防御措施。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    珠海电信公司：负责公共通信设施的防洪建设和维护，保障三防指挥部门及成员单位的通信畅通，做好防汛抢险救灾机动应急通信保障工作。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_2">
                <modify class="update">
                    珠海海洋环境监测中心站：在发生洪水期间，负责海洋风暴潮监视、监测、预报和预警，及时对海洋灾害信息作出滚动预报，并向市三防办及社会公众提供海洋灾害信息，为防灾减灾提供科学依据，为市三防指挥部提出防御措施。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
            </p>
            <p class=" c" data-c="88_2_2">
                各区三防指挥部：在市三防指挥部和同级政府的领导下，组织指挥本区防汛工作，制定切实可行的防汛工作预案，建立防汛人员转移工作台帐，并将防汛工作预案报市三防办备案。
            </p>
            <p class=" c" data-c="88_2_2">
                2.2.4其他防汛组织机构工作职责
            </p>
            <p class=" c" data-c="88_2_2">
                各行业相关单位和各大中型企业成立相应的防汛减灾组织，负责本单位的防汛减灾工作。
            </p>


            <p class="one c" data-c='88_3'>3 预防和预警机制</p>
            <p class="two c" data-c='88_3_1'>3.1 预防预警信息</p>
            <p class=" c" data-c="88_3_1">
                ①气象水文信息
            </p>
            <p class=" c" data-c="88_3_1">
                （1）市气象局负责实时气象监测和信息报告，并将结果及时报送市三防指挥部。
            </p>
            <p class=" c" data-c="88_3_1">
                （2）
                <modify class="update">
                    白蕉水文站或佛山水文分局负责江河流域的实时水情信息的监测和报告。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="根据自己市的进行更改">?</span>
            </p>
            <p class=" c" data-c="88_3_1">
                （3）水文、气象部门的实时信息、预报预警信息等通过网络与市三防指挥部实现同步共享。
            </p>
            <p class=" c" data-c="88_3_1">
                ②工程信息
            </p>
            <p class=" c" data-c="88_3_1">
                （1）堤防信息
            </p>
            <p class=" c" data-c="88_3_1">
                流经或对我市影响较大的主要江河（水文站点）出现警戒水位以上洪水时，各级堤防工程管理单位应加强工程监测，并将堤防及堤上涵闸、泵站等工程设施的运行情况报属地三防办。江海堤防及其附属水利设施等穿堤建筑物出现重大险情，堤防工程管理单位要迅速组织抢险，并报同级三防办，由该三防办及时向可能受影响区域发布预警，同时要在1小时内上报市三防指挥部。
            </p>
            <p class=" c" data-c="88_3_1">
                （2）水库工程信息
            </p>
            <p class=" c" data-c="88_3_1">
                当水库出现险情时，水库管理单位要按照水库防洪预案及时向下游发布预警，迅速处置险情，并向上级三防值班室报告出险部位、险情种类、抢护方案以及处理险情的行政责任人、技术责任人、通信联络方式、险情情况等。
            </p>
            <p class=" c" data-c="88_3_1">
                当水库遭遇超标准洪水或其他不可抗拒因素而可能溃坝时，水库管理单位在向同级三防办报告后要第一时间向受威胁的区域发出预警，为群众安全转移争取时间。
            </p>
            <p class=" c" data-c="88_3_1">
                ③洪涝灾情信息
            </p>
            <p class=" c" data-c="88_3_1">
                （1）洪涝灾情信息主要包括：灾害发生的时间、地点、范围、受灾人口以及群众财产、农林牧渔、水利设施等方面的损失。
            </p>
            <p class=" c" data-c="88_3_1">
                （2）洪涝灾害发生后，水务（利）、农业、民政等部门要及时向同级三防指挥部报告洪涝受灾情况，各级三防指挥部要及时收集动态灾情，全面掌握受灾情况，并及时向同级政府和上级三防指挥部报告。对人员伤亡和较大财产损失的灾情应立即上报，重大灾情在灾害发生后2小时内将初步情况报到市三防指挥部，核实灾情后续报。
            </p>
            <p class="two c" data-c='88_3_2'>3.2 预警发布</p>
            <p class=" c" data-c="88_3_2">
                ①江河洪水预警
            </p>
            <p class=" c" data-c="88_3_2">
                （1）
                <modify class="update">
                    白蕉水文站或佛山水文分局
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="改成自己市负责监测的机构">?</span>
                负责洪水的预报监测工作，及时向市三防指挥部报告水位、流量的实测情况和未来洪水的趋势，为预警提供科学依据。
            </p>
            <p class=" c" data-c="88_3_2">
                （2）市三防指挥部根据水文部门预测、预报，发布相应洪水预警信息。同时根据洪水影响范围和程度向社会发布区域性应急响应级别。
            </p>
            <p class=" c" data-c="88_3_2">
                ②暴雨灾害预警
            </p>
            <p class=" c" data-c="88_3_2">
                市气象部门负责本地暴雨的预报监测工作，当本地或某范围预计将出现较大降雨时，及时向市三防指挥部报告暴雨灾害预警区域、级别及发展趋势。
            </p>
            <p class=" c" data-c="88_3_2">
                暴雨预警信号分为：黄色、橙色、红色三种。
            </p>
            <p class=" c" data-c="88_3_2">
                （1）暴雨黄色预警信号：
            </p>
            <p class=" c" data-c="88_3_2">
                <modify class="update">
                    含义：6小时内本地将可能有暴雨发生，或者强降水将可能持续。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="根据自己市的标准进行定义">?</span>
            </p>
            <p class=" c" data-c="88_3_2">
                （2）暴雨橙色预警信号：
            </p>
            <p class=" c" data-c="88_3_2">
                <modify class="update">
                    含义：在过去的3小时，本地降雨量已达50毫米以上，且雨势可能持续。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="根据自己市的标准进行定义">?</span>
            </p>
            <p class=" c" data-c="88_3_2">
                （3）暴雨红色预警信号：
            </p>
            <p class=" c" data-c="88_3_2">
                <modify class="update">
                    含义：在过去的3小时，本地降雨量已达100毫米以上，且降雨可能持续。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="根据自己市的标准进行定义">?</span>
            </p>
            <p class=" c" data-c="88_3_2">
                ③接警
            </p>
            <p class=" c" data-c="88_3_2">
                市应急办（市委、市政府总值班室）、市三防值班室、市110联动指挥中心负责接警，市三防办负责接警后的处理工作。
            </p>


            <p class="one c" data-c='88_4'>4 应急响应</p>
            <p class="two c" data-c='88_4_1'>4.1 洪水应急响应级别与启动条件</p>
            <p class=" c" data-c="88_4_1">
                洪水灾害按其严重程度和影响范围，划分为四个应急响应级别：Ⅰ级（特别严重）、Ⅱ级（严重）、Ⅲ级（较重）、Ⅳ级（一般）。市三防指挥部发布的防御洪水灾害应急响应名称分别为：洪水灾害Ⅰ级应急响应、洪水灾害Ⅱ级应急响应、洪水灾害Ⅲ级应急响应、洪水灾害Ⅳ级应急响应。
            </p>
            <p class=" c" data-c="88_4_1">
                洪水应急响应级别以
                <modify class="update">
                    西江马口站点洪峰出现的
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                重现期划分：
            </p>
            <p class=" c" data-c="88_4_1">
                <modify class="update">
                    5～20年一遇，洪水灾害Ⅳ级应急响应。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="结合自己市的标准进行适当的修改">?</span>
            </p>
            <p class=" c" data-c="88_4_1">
                <modify class="update">
                    20～50年一遇，洪水灾害III级应急响应。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="结合自己市的标准进行适当的修改">?</span>
            </p>
            <p class=" c" data-c="88_4_1">
                <modify class="update">
                    50～100年一遇，洪水灾害Ⅱ级应急响应。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="结合自己市的标准进行适当的修改">?</span>
            </p>
            <p class=" c" data-c="88_4_1">
                <modify class="update">
                    100年一遇以上，洪水灾害Ⅰ级应急响应。
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="结合自己市的标准进行适当的修改">?</span>
            </p>

            <p class=" c" data-c="88_4_1">
                I级应急响应由市三防指挥部提请市政府批准后启动；II、III、IV级应急响应由市三防指挥部批准启动。
            </p>
            <p class=" c" data-c="88_4_1">
                各区根据当地实际情况和预案，可启动相应应急响应。同时，市三防指挥部可根据洪水影响范围和程度责成该区启动相应应急响应。
            </p>
            <p class=" c" data-c="88_4_1">
                4.2 暴雨应急响应级别与启动条件
            </p>
            <p class=" c" data-c="88_4_1">
                暴雨灾害按预警信号，划分为三个应急响应级别：Ⅰ级（特别严重）、Ⅱ级（严重）、Ⅲ级（一般）。市三防指挥部发布的暴雨灾害应急响应名称分别为：暴雨灾害Ⅰ级应急响应、暴雨灾害Ⅱ级应急响应、暴雨灾害Ⅲ级应急响应。
            </p>
            <p class=" c" data-c="88_4_1">
                III级（一般，预警信号为黄色）
            </p>
            <p class=" c" data-c="88_4_1">
                II级（严重，预警信号为橙色）
            </p>
            <p class=" c" data-c="88_4_1">
                I级（特别严重，预警信号为红色）
            </p>
            <p class=" c" data-c="88_4_1">
                I、II、III级应急响应根据市气象局发布的暴雨预警信号自行启动，市相关成员单位根据暴雨预警信号按本部门预案或职责开展工作。
            </p>
            <p class=" c" data-c="88_4_1">
                各区根据市气象局发布的区域性预警信号自行启动相应应急响应。
            </p>


            <p class="one c" data-c='88_5'>5 应急响应行动</p>
            <p class="two c" data-c='88_5_1'>5.1 洪水应急响应</p>
            <p class=" c" data-c="88_5_1">
                洪水灾害I级应急响应为最紧急响应，其次是II级、III级，洪水灾害IV级应急响应为最低级响应。每级应急响应行动包含低级别应急响应的所有内容。
            </p>
            <p class=" c" data-c="88_5_1">
                ①洪水灾害Ⅳ级应急响应
            </p>
            <p class=" c" data-c="88_5_1">
                当西江马口站点发生5～20年一遇洪水时，启动洪水灾害Ⅳ级应急响应。
            </p>
            <p class=" c" data-c="88_5_1">
                （1）
                <modify class="update">
                    白蕉水文站或佛山水文分局
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的监测机构">?</span>
                继续做好洪水的监测、预报工作，按规定将洪水的监测、预报信息报市三防办，并由市三防指挥部及时向社会发布，提醒市民密切关注洪水发展趋势，做好各项防御准备工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （2）受洪水影响区域的三防部门加强值班，加强与
                <modify class="update">
                    白蕉水文站
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                的联系，密切关注洪水发展趋势，及时向同级和上级三防指挥部领导汇报最新情况，并将有关防御通知及防洪指示及时传达有关单位。
            </p>
            <p class=" c" data-c="88_5_1">
                （3）各防洪单位检查防洪物资准备情况。
            </p>
            <p class=" c" data-c="88_5_1">
                （4）各级防汛责任人到岗就位，水利工程管理单位24小时值班，水利工程管理人员对水利工程进行防洪安全检查，发现问题及时处理、上报，确保水利工程安全。
            </p>
            <p class=" c" data-c="88_5_1">
                （5）水务（利）部门通知受影响范围内的在建水利工程做好防洪工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （6）农业部门通知种植户和鱼塘养殖户做好防洪准备。
            </p>
            <p class=" c" data-c="88_5_1">
                （7）受洪水影响区防汛抢险专家、抢险专业队伍做好准备工作。
            </p>
            <p class=" c" data-c="88_5_1">
                ②洪水灾害III级应急响应
            </p>
            <p class=" c" data-c="88_5_1">
                当
                <modify class="update">
                    西江马口站点
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                发生20～50年一遇洪水时，启动洪水灾害III级应急响应。
            </p>
            <p class=" c" data-c="88_5_1">
                （1）市三防指挥部视情召开市级三防指挥部相关成员单位会议，部署防洪相关工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （2）受洪水影响区域的三防指挥部成员单位领导上岗带班。
            </p>
            <p class=" c" data-c="88_5_1">
                （3）各级三防办密切注视水情、潮位等，及时将三防指挥部决定传达相关单位，并负责检查、督促防洪工作落实情况。
            </p>
            <p class=" c" data-c="88_5_1">
                （4）
                <modify class="update">
                    白蕉水文站或佛山水文分局
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的监测站点">?</span>
                第一时间将洪水最新预报信息和发展趋势报市三防办，对洪水发展动向及未来影响程度作进一步预测、预报。
            </p>
            <p class=" c" data-c="88_5_1">
                （5）堤防、水闸责任人和管养人员加密对堤段、涵闸等水利工程进行巡查。
            </p>
            <p class=" c" data-c="88_5_1">
                （6）水利工程建设管理单位组织人员深入在建工程现场做好防洪工作，重点做好工程建设设施的稳固、建筑工地排水通畅和建筑工人转移等方面的工作，确保水利工程及建设人员的防洪安全。
            </p>
            <p class=" c" data-c="88_5_1">
                （7）农业（渔政）部门负责检查并督促海边、围内养殖户做好网箱加固和渔排作业人员转移等准备工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （8）
                <modify class="update">
                    珠海海洋环境监测中心站
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的监测站点">?</span>
                珠海海洋环境监测中心站
            </p>
            <p class=" c" data-c="88_5_1">
                （9）教育部门负责通知受洪水威胁的托儿所、幼儿园做好防洪工作，必要时实施停课措施。
            </p>
            <p class=" c" data-c="88_5_1">
                （10）民政部门负责开放受洪水影响区域的避护所，并将避护所开放和避护情况报市三防办。同时负责避护人员避护期间生活物资的保障工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （11）交通部门负责提供抢险、群众转移车辆保障。
            </p>
            <p class=" c" data-c="88_5_1">
                （12）受洪水影响区域的三防部门组织相关单位对防洪工作落实情况进行检查，重点检查留滞江海边养殖、渔排、围内鱼塘、低洼地、危房、建筑工地、临时简易工棚等重点防御区域群众的转移工作落实情况。
            </p>
            <p class=" c" data-c="88_5_1">
                （13）宣传部门加强对防洪抢险工作的宣传报道。
            </p>
            <p class=" c" data-c="88_5_1">
                （14）受洪水影响区防汛抢险专家、抢险专业队伍随时准备进行抢险。
            </p>
            <p class=" c" data-c="88_5_1">
                ③洪水灾害II级应急响应
            </p>
            <p class=" c" data-c="88_5_1">
                当
                <modify class="update">
                    西江马口站点
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="还车过自己市的站点">?</span>
                发生50～100年一遇洪水时，启动洪水灾害II级应急响应。
            </p>
            <p class=" c" data-c="88_5_1">
                （1）受洪水影响区域政府及防汛责任人把防洪工作作为当前首要任务来抓，领导靠前指挥，责任到人，确保防洪抢险工作落实到实处。
            </p>
            <p class=" c" data-c="88_5_1">
                （2）市三防指挥部领导坐镇指挥，组织水文、水利、气象等有关部门进行紧急会商。
            </p>
            <p class=" c" data-c="88_5_1">
                （3）市领导分组带队深入防洪第一线检查、督促和落实各项防洪工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （4）属地政府视堤防防御标准情况提前转移受威胁群众。
            </p>
            <p class=" c" data-c="88_5_1">
                （5）
                <modify class="update">
                    白蕉水文站或佛山水文分局
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的监测机构">?</span>
                每小时将洪水水位、流量等信息报市三防办，加密对洪水发展趋势的预测、预报。同时市三防办加强与省防总的联系，分析洪水对我市造成的影响，视情请求省防洪专家到我市指导防洪工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （6）
                <modify class="update">
                    珠海海洋环境监测中心站
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的监测机构">?</span>
                做好沿海潮位预报工作，并及时向市三防办提出建议。
            </p>
            <p class=" c" data-c="88_5_1">
                （7）水务（利）部门（单位）进一步严密监视江海堤围、涵闸等水利工程的运行情况，逐段落实防汛责任制，保证24小时在岗，发现险情及时处理和上报。
            </p>
            <p class=" c" data-c="88_5_1">
                （8）农业部门负责检查海上作业人员、水上、江海边养殖人员的转移工作落实情况，确保100％转移。
            </p>
            <p class=" c" data-c="88_5_1">
                （9）各级防汛责任人负责检查渔排、围内鱼塘、危房、低洼地等群众的转移工作落实情况，确保100％转移。
            </p>
            <p class=" c" data-c="88_5_1">
                （10）公安部门负责维护治安秩序，保障群众安全。
            </p>
            <p class=" c" data-c="88_5_1">
                （11）公安交警部门根据三防指挥部指令实施封桥、封路，或视情建议三防指挥部下达封桥、封路指令。
            </p>
            <p class=" c" data-c="88_5_1">
                （12）教育部门根据市三防指挥部指令通知受洪水威胁区域大、中、小学停课，并负责做好到校学生、老师的防洪安全工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （13）电信、供电部门部署电信、供电系统防洪工作，保证防洪抢险电话和电力畅通。
            </p>
            <p class=" c" data-c="88_5_1">
                （14）民政部门集中力量做好避护场所避护管理工作，确保生活物资到位。
            </p>
            <p class=" c" data-c="88_5_1">
                （15）卫生部门组织医疗救护队伍和疾病预防控制队伍，负责灾区和避护所转移群众的卫生防疫工作，以及伤病人员的救护工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （16）驻珠部队、武警、民兵预备役和市专业抢险队伍集结待命，随时准备投入抢险救灾工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （17）市三防指挥部相关成员单位和受洪水影响区域的三防指挥部成员单位加强值班，按本部门预案做好防洪工作，服从市三防指挥部统一调度指挥，随时准备执行各项防洪抢险任务。
            </p>
            <p class=" c" data-c="88_5_1">
                ④洪水灾害I级应急响应
            </p>
            <p class=" c" data-c="88_5_1">
                当
                <modify class="update">
                    西江马口站点
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的站点">?</span>
                发生100年一遇以上洪水时，启动洪水灾害I级应急响应。
            </p>
            <p class=" c" data-c="88_5_1">
                （1）市委、市政府主要领导指挥防洪和抢险救灾工作；召开全市防洪和抢险救灾紧急工作会议，进行紧急动员部署，全力做好防洪工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （2）受洪水影响区域主要领导组织指挥辖区防洪和抢险救灾工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （3）驻珠部队、武警、民兵预备役和市专业抢险队伍投入防洪和抢险救灾工作。同时，市三防指挥部视情况请求省抢险专业队伍支援我市防洪和抢险救灾工作。
            </p>
            <p class=" c" data-c="88_5_1">
                （4）市三防指挥部成员单位各司其职，各负其责，服从市委、市政府、市三防指挥部统一指挥调度，全力以赴参加防洪和抢险救灾工作。
            </p>

            <p class="two c" data-c='88_5_2'>5.2 暴雨应急响应</p>
            <p class=" c" data-c="88_5_2">
                暴雨灾害I级应急响应为最紧急响应，其次是II级，暴雨灾害III级应急响应为最低级响应。每级应急响应行动包含低级别应急响应的所有内容。
            </p>
            <p class=" c" data-c="88_5_2">
                ①暴雨灾害III级应急响应
            </p>
            <p class=" c" data-c="88_5_2">
                （1）市气象部门对降雨趋势和影响范围进行分析和预测，并向市三防办汇报。
            </p>
            <p class=" c" data-c="88_5_2">
                （2）各级三防部门立即向当地政府主管三防工作的行政领导汇报，并通知三防指挥部有关成员单位做好防御暴雨的各项准备工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （3）水务（利）部门工作人员到岗就位，根据围内积水及降雨情况及时启动泵站排水，并利用落潮开闸排水，水库按照相关安全规定运行。
            </p>
            <p class=" c" data-c="88_5_2">
                （4）市政排水设施管理部门和单位工作人员全部到岗，及时启动泵站排水。同时清除雨水井及下水道口的阻水物，并及时在水浸路段设置警示标志。
            </p>
            <p class=" c" data-c="88_5_2">
                （5）属地政府和排洪渠责任单位密切监控排洪渠排水情况，并设置警示标志，防止意外发生。
            </p>
            <p class=" c" data-c="88_5_2">
                （6）公安交警部门密切监测主要路段的水浸及交通情况，做好疏导交通的准备工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （7）建设部门通知在建工地、住宅小区物业管理部门做好防暴雨工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （8）国土部门加强对易发生山体滑坡地带等暴雨引发次生灾害的监控。
            </p>
            <p class=" c" data-c="88_5_2">
                （9）农业部门检查农田、鱼塘排水系统，提前做好易淹鱼塘的预排水工作，并根据具体情况组织保护、抢收农作物。
            </p>
            <p class=" c" data-c="88_5_2">
                （10）教育部门加强与气象局的联系，做好防暴雨工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （11）宣传部门及宣传媒体做好防暴雨宣传工作。
            </p>
            <p class=" c" data-c="88_5_2">
                ②暴雨灾害II级应急响应
            </p>
            <p class=" c" data-c="88_5_2">
                （1）各级三防指挥部领导按照防汛责任制的要求，组织开展防御暴雨工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （2）气象部门加强对暴雨的监测，及时向市三防办提出暴雨发展趋势和意见。
            </p>
            <p class=" c" data-c="88_5_2">
                （3）属地政府督促相关单位加强对易发生水浸区域的监控，及时采取措施排水，视情况转移受淹群众。
            </p>
            <p class=" c" data-c="88_5_2">
                （4）水务（利）部门和市政排水管理单位加强值班，确保排水设施正常运行。
            </p>
            <p class=" c" data-c="88_5_2">
                （5）公安交警部门加强道路巡查，视情封闭水浸严重道路，做好车辆疏导工作，保障车辆行驶安全。
            </p>
            <p class=" c" data-c="88_5_2">
                （6）民政部门协同各级政府视情开放避护所，并通过宣传媒体向公众公布避护场所的地点。
            </p>
            <p class=" c" data-c="88_5_2">
                （7）建设部门加强对辖区临时房屋或危房的安全监控，暂停在空旷地方的户外作业。
            </p>
            <p class=" c" data-c="88_5_2">
                （8）教育部门加强值班，继续做好教育系统防暴雨各项工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （9）供电部门做好优先保障排涝泵站和各级三防指挥机构、医院、供水等部门的用电需要，并及时抢修受损电力设施。
            </p>
            <p class=" c" data-c="88_5_2">
                （10）抢险专家、抢险队伍做好抢险救灾准备工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （11）宣传部门及宣传媒体加强暴雨防御措施宣传工作，并及时播放防暴雨通知和指引。
            </p>
            <p class=" c" data-c="88_5_2">
                ③暴雨灾害I级应急响应
            </p>
            <p class=" c" data-c="88_5_2">
                （1）各级政府及市三防指挥部成员单位及有关部门，要把防御暴雨工作作为首要任务来抓，主要领导组织开展防暴雨工作，各司其职，各负其责。根据市委、市政府指示或市三防指挥部部署，全力做好防御暴雨及减灾工作。
            </p>
            <p class=" c" data-c="88_5_2">
                （2）各级防汛责任人组织人员深入受淹严重地区组织排涝工作，适时组织群众转移。
            </p>
            <p class=" c" data-c="88_5_2">
                （3）抢险专家、抢险队伍集中待命，并随时听从指挥进行抢险。
            </p>
            <p class=" c" data-c="88_5_2">
                （4）全市抢险救生器材统一由市三防指挥部调配。
            </p>
            <p class=" c" data-c="88_5_2">
                （5）民政部门和属地政府及时开放临时避险场所，组织和安置群众进行避护，并通过宣传媒体公布临时避险场所开放地点。　
            </p>
            <p class=" c" data-c="88_5_2">
                （6）教育部门通知全市幼儿园、中小学校、大专院校停课，学校负责对已到达学校学生的安全保护。
            </p>
            <p class=" c" data-c="88_5_2">
                （7）水务（利）、建设、国土、市政、公安、民政等部门按照各自工作职责深入一线开展防暴雨工作，确保群众生命安全和减少损失。
            </p>
            <p class=" c" data-c="88_5_1">
                （8）
                <modify class="update">
                    驻珠部队、
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                武警、民兵预备役和专业抢险队伍投入抢险救灾工作。其他人员留在安全处所避险。
            </p>

            <p class="two c" data-c='88_5_3'>5.3 堤防决口、水闸垮塌、水库溃坝</p>
            <p class=" c" data-c="88_5_3">

            </p>
            <p class=" c" data-c="88_5_3">

            </p>

            <p class=" c" data-c="88_5_3">

            </p>

            <p class="two c" data-c='88_5_4'>5.4 信息报送和处理</p>
            <p class=" c" data-c="88_5_4">
                （1）汛情、险情、灾情等信息实行归口处理，逐级分部门上报市三防办和相关单位。
            </p>
            <p class=" c" data-c="88_5_4">
                （2）市三防办将特别重大的汛情、险情、灾情，即时报告省防总、市委、市政府。
            </p>
            <p class=" c" data-c="88_5_4">
                （3）灾情信息由市三防办统一确认，适时向社会公布。
            </p>

            <p class="two c" data-c='88_5_5'>5.5 新闻报道、宣传</p>
            <p class=" c" data-c="88_5_5">
                市委宣传部负责防汛新闻报道工作。新闻报道以准确、公正、及时、客观为原则。
            </p>
            <p class=" c" data-c="88_5_5">
                新闻媒体在每年汛中进行1～2次防御气象灾害知识和措施等相关宣传，并在气象灾害发生时及时宣传报道。
            </p>

            <p class="two c" data-c='88_5_6'>5.6 应急响应解除</p>
            <p class=" c" data-c="88_5_6">
                洪水灾害I级应急响应解除由市政府批准后生效；其他级别应急响应解除由市三防指挥部批准生效。
            </p>
            <p class=" c" data-c="88_5_6">
                暴雨灾害应急响应在市气象局解除所发布预警信号时，相应应急响应自行解除。
            </p>
            <p class=" c" data-c="88_5_6">
                应急响应解除后，各级政府要迅速组织人力、物力投入抗灾救灾工作；尽快恢复农业生产和灾区群众的生产生活；做好灾区防疫工作；修复水毁工程和通讯设施、公路等；落实维护社会秩序等工作。
            </p>


            <p class="one c" data-c='88_6'>6 应急保障</p>
            <p class="two c" data-c='88_6_1'>6.1 通信保障</p>
            <p class=" c" data-c="88_6_1">
                任何通信运营部门都有依法保障防汛信息畅通的责任。在防御洪水、暴雨及水利工程出险时，通信部门要及时启动预案，确保应急抢险救灾通信畅通。必要时，调度应急通信设备为防汛抢险通信临时指挥提供通信保障。
            </p>
            <p class="two c" data-c='88_6_2'>6.2 技术保障 </p>
            <p class=" c" data-c="88_6_2">
                市水务局、各区水利局、各级三防防汛抢险专家抽调人员负责抢险技术支持。
            </p>
            <p class="two c" data-c='88_6_3'>6.3 抢险队伍保障 </p>
            <p class=" c" data-c="88_6_3">
                各级政府统一指挥，各部门各行业统一调度、各司其职、密切配合，属地政府要组织以民兵预备役为骨干的群众性抢险队伍，作为抢险救灾的主要先期处置队伍；如遇特大险情，驻珠部队、武警和专业抢险队伍为主要抢险力量，以民兵预备役为骨干的群众性抢险队伍配合抢险。
            </p>
            <p class="two c" data-c='88_6_4'>6.4 交通运输保障 </p>
            <p class=" c" data-c="88_6_4">
                由交通、公安、海事部门负责防汛时的物资运输、抢险救灾车船，以保障抢险救灾工作顺利进行。
            </p>
            <p class="two c" data-c='88_6_5'>6.5 医疗保障 </p>
            <p class=" c" data-c="88_6_5">
                由卫生部门组织医疗救护队伍和疾病预防控制队伍赶赴灾区进行巡医问诊，指导灾区开展伤病员救治、消毒隔离、疾病预防等工作。
            </p>
            <p class="two c" data-c='88_6_6'>6.6 治安保障 </p>
            <p class=" c" data-c="88_6_6">
                以公安部门为主、属地治安部门为辅负责维护防汛抢险秩序和灾区社会治安，必要时抽调武警部队配合维护防汛抢险秩序和灾区社会治安，确保灾区社会治安稳定。
            </p>
            <p class="two c" data-c='88_6_7'>6.7 物资保障 </p>
            <p class=" c" data-c="88_6_7">
                ①防汛抢险物资保障
            </p>
            <p class=" c" data-c="88_6_7">
                （1）市、区三防指挥部根据国家防汛物资储备有关规定，按国家防汛物资储备定额、标准进行储备。
            </p>
            <p class=" c" data-c="88_6_7">
                （2）各工程管理单位按规定储备防汛物资。
            </p>
            <p class=" c" data-c="88_6_7">
                （3）防汛物资调拨原则：先用本区防汛储备物资，在不能满足需要的情况下，向市三防指挥部提出申请援助。当有多处申请调用防汛物资时，应优先保证重点地区的防汛抢险物资急需。
            </p>
            <p class=" c" data-c="88_6_7">
                6.7.2生活物资保障
            </p>
            <p class=" c" data-c="88_6_7">
                以发改、财政、民政部门为主，属地政府（管委会）为辅为灾区和避护所群众提供生活物资保障。
            </p>
            <p class="two c" data-c='88_6_8'>6.8 经费保障 </p>
            <p class=" c" data-c="88_6_8">
                市、区财政每年预留一定的防汛救灾专项资金，保证防汛救灾应急需要，由监察、审计部门监督资金使用情况。
            </p>

            <p class="one c" data-c='88_7'>7 善后工作</p>
            <p class=" c" data-c="88_7">
                防汛工作结束后，各级政府、各三防指挥部成员单位、各行业要加强灾后救灾复产工作的领导，组织救灾复产工作小组赴灾区指导救灾复产工作，做好灾区生活供给、卫生防疫、救灾物资供应、治安管理、学校复课、水毁工程修复、恢复生产和重建家园等善后工作。
            </p>
            <p class=" c" data-c="88_7">
                各级三防部门负责灾情的调查、收集、统计和核实等工作，负责向上级单位汇报灾情及抗灾救灾行动情况，据实做好防汛工作总结。
            </p>


            <p class="one c" data-c='88_8'>8 预案管理 </p>
            <p class="two c" data-c='88_8_1'>8.1 预案编制与审批 </p>
            <p class=" c" data-c="88_8_1">
                本预案由市三防指挥部组织编制，经市政府批准执行，并报省防总备案。市三防各成员单位和各区三防指挥部要根据本预案制定相应的部门预案和实施方案，确保预案有效操作和实施，并报市三防办备案。
            </p>
            <p class="two c" data-c='88_8_2'>8.2 预案的监督与奖惩 </p>
            <p class=" c" data-c="88_8_2">
                市三防指挥部和市监察局对本预案的实施进行全程监督检查；对防汛工作中突出贡献的先进集体和个人进行表彰
                <modify class="update">
                    ；对玩忽职守造成损失的，依据《珠海市防汛责任追究暂行办法》或其他相关法律追究当事人责任，并予以处罚，构成犯罪的，依法追究其刑事责任
                </modify><span type="button"
                               class="monitor-info" data-container="body" data-toggle="popover" data-placement="top"
                               data-content="换成自己市的">?</span>
                。s
            </p>
            <p class="two c" data-c='88_8_3'> 8.3 预案的修订和完善</p>
            <p class=" c" data-c="88_8_3">
                市三防指挥部根据全市社会经济发展和历年三防工作经验，适时对本预案提出修订和完善，修订后的预案报市政府批准执行，并报省防总备案。
            </p>
            <p class="two c" data-c='88_8_4'> 8.4 预案解释权</p>
            <p class=" c" data-c="88_8_4">
                本预案由市三防办负责解释。
            </p>
            <p class="two c" data-c='88_8_5'>8.5 预案实施 </p>
            <p class=" c" data-c="88_8_5">
                本预案自发布之日起实施，我市其他相关规定与本预案相抵触的，以本预案为准。
            </p>

          <p  class="one c " data-c="88_0">仿真模拟结果</p>

          <!--            <p class="c" data-c = "99_0"  th:text = "'根据模拟仿真预测，需要支援' + ${simulateModel_personNum} + '人，需要支援' + ${simulateModel_vehicleNum} + '辆车。'-->
          <!--                + '需要注意的风险点包括：' + ${simulateModel_riskLocations}"></p>-->

          <p data-c="88_0" class="c">
            根据模拟仿真预测，需要支援100人，需要支援20辆车。需要注意的风险点包括：位置1、位置2、位置3、位置4、位置5、位置6、位置7、位置8
          </p>



        </div>





        <p align="center" class="button-style"><a href="javascript:void(0)">下载生成的预案</a></p>
        <!-- <p class="button-style"><a align="center">More Details</a></p> -->
        <!-- </div> -->
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/jquery.wordexport.js"></script>
<script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script>
    // var modify = document.getElementById("update");
    // modify.setAttribute("contenteditable", "true");
    $(function () {
        $(function () {
            $("[data-toggle='popover']").popover();
        });
        $(".update").click(function () {
            console.log(123);
            $(this).attr("contenteditable", "true");
            $('body').find('.popover').popover('hide');
        });
        $(".button-style").click(function () {

            $(".cont").wordExport("洪涝灾害预案");
            //fileName为导出的word文件的命名
        });
        var curCata = window.location.href.split('=')[1];
        // var curCata = localStorage.getItem("chkArr");
        // localStorage.removeItem("chkArr");
        if(curCata){
            var curCataArr = curCata.split(',');
            $('.c').each(function(i,e){
                var c = $(this).attr('data-c');
                if(curCataArr.indexOf(c) < 0){
                    $(this).remove();
                }
            });
        }
        $('body').removeClass('hide');
    });
</script>
</body>

</html>
